<h3>New Grade</h3>

<% form_for(@grade) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<%= link_to 'Back', grades_path %>