<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0">
	<td width=30%><%= f.collection_select :bank_id, Bank.find(:all), :id, :long_name, :include_blank => true %></td>
	<td width=30%><%= f.text_field :account_no, :size => 20, :placeholder => "account_no" %></td>
	<td width=30%><%= f.select :account_type, 
		              Bankaccount::BANKTYPE,
		              :prompt => "Select"  %></td>
	<td width=5%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
</table>
</div>