<div class="fields">
	<%= f.collection_select :bank_id, Bank.find(:all), :id, :long_name, :include_blank => true %>
	<%= f.text_field :account_no, :size => 20, :placeholder => (t 'staff.account_no') %>
	<%= f.select :account_type, 
		              Bankaccount::BANKTYPE,
		              :prompt => (t 'select')  %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
</div>