<div class="fields">
	<%= f.select :bank_id, 
		              Bankaccount::BANK,
		              :prompt => "Select"  %>
	<%= f.text_field :account_no, :size => 20, :placeholder => "account_no" %>
	<%= f.select :account_type, 
		              Bankaccount::BANKTYPE,
		              :prompt => "Select"  %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
</div>