<!--start-default:use this or refer /staffsearch2s/show.html.erb (line 4-12)-->
<!--<tr><td><%#= staff.name %></td></tr>-->
<!--start-default:use this or refer /staffsearch2s/show.html.erb (line 4-12)-->

