<h3>New Staff</h3>

<% form_for (@staff, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', staffs_path %>