<h3>New Student Attendance</h3>

<% form_for(@studentattendance) do |f| %>
  <%= f.error_messages %>
  
  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


<%= link_to 'Back', studentattendances_path %>