<% form_for(@staff_shift) do |f| %>
  <%= f.error_messages %>
		<div class="tform">
			<H2>New Staff Shift</H2> 
			<%=render :partial => 'form', :locals => {:f => f} %> 
		</div>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', staff_shifts_path %>