<h3>New Leave </h3>

<% form_for(@leaveforstudent) do |f| %>
  <%= f.error_messages %>

<%= render :partial => 'form', :locals => {:f => f} %>
<p>
  <%= f.submit 'Create' %>
</p>
<% end %>

<%= link_to 'Back', leaveforstudents_path %>