<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
	
	<div id="kewpa">
	<p class="marginright" align="right">
		LAMPIRAN A </p>
	
<table width=100% border="0">
	<tr>
	
		<td><center><font size=4><b>BORANG PERMOHONAN MENDUDUKI KUARTERS<BR>AGENSI PENGUATKUASAAN MARITIM MALAYSIA</B></center></td>
		
	</tr>
</table><br>

<I>Catatan untuk pemohon :<br>
	Sila isi Bahagian I, Bahagian II dan Bahagian III sahaja</i><br>
	
<p><font size=3><b>Bahagian I</b></font></p>
<div id="title">
	<table width=100% cellspacing="0" cellpadding="0" border="1">
		<tr>
			<td colspan=8 bgcolor=black><center><b><font color=white>MAKLUMAT PERIBADI</font></center></td>
		</tr>
		<tr>
			<td><center>1</center></td>
			<td width=3% colspan=3>Nama Penuh</td>
			<td colspan=4>&nbsp;</td>
		</tr>
		
		<tr>
			<td><center>2</center></td>
			<td width=3% colspan=3>No. Kad Pengenalan</td>
			<td colspan=4>&nbsp;</td>
		</tr>
		
		<tr>
			<td rowspan=3><center>3</center></td>
			<td width=48% colspan=3 rowspan=3>Alamat Tetap (seperti dalam Kad Pengenalan)</td>
							<td width=48% colspan=4><br></td>
							<tr><td colspan=4><br></td></tr>
							<tr><td colspan=4><br></td></tr>				
		</tr>
		
		<tr>
			<td><center>4</center></td>
			<td colspan=3>No. Telefon</td>
			<td colspan=2>Pejabat :</td>
			<td colspan=2>Bimbit :</td>
		</tr>
		
		<tr>
			<td><center>5</center></td>
			<td colspan=3>Status (sila &#10003; pada ruang yang berkenaan)</td>
			<td width=18%>Bujang</td>
			<td width=6%>&nbsp;</td>
			<td width=18%>Berkahwin</td>
			<td width=6%>&nbsp;</td>
		</tr>
		
		<tr>
			<td colspan=8><b><center>Jika sudah berkahwin, sila isikan ruangan di bawah</center></b></td>
		</tr>
		<tr>
			<td><center>6</center></td>
			<td colspan=3>Nama Penuh Isteri/Suami</td>
			<td colspan=4>&nbsp;</td>
		</tr>
		
		<tr>
			<td><center>7</center></td>
			<td colspan=3>No. Kad Pengenalan Isteri/Suami</td>
			<td colspan=4>&nbsp;</td>
		</tr>

		<tr>
			<td><center>8</center></td>
			<td colspan=3>Pekerjaan Isteri/Suami</td>
			<td colspan=4>&nbsp;</td>
		</tr>
		
		<tr>
			<td rowspan=3 valign="top">9</td>
			<td colspan=3 rowspan=3 valign="top">Alamat Pejabat Isteri/Suami</td>
			<td colspan=4>&nbsp;</td>
			<tr><td colspan=4>&nbsp;</td></tr>
			<tr><td colspan=4>&nbsp;</td></tr>
		</tr>
		
		<tr>
			<td><center>10</center></td>
			<td colspan=3>No. Telefon Isteri/Suami</td>
			<td colspan=2>Pejabat :</td>
			<td colspan=2>Bimbit :</td>
		</tr>
		
		
			
		
	
	    <tr>
		<td colspan=8><b><center>Butir Anak-anak</center></b></td>
		</tr>
		
	    <tr>
		<td rowspan=6 valign="top">11</td>
		<td width=3%>Bil</td>
		<td width=35% align="center">Nama</td>
		<td width=10% align="center">Umur</td>
		<td colspan=2 width=30% align="center">No. Kad Pengenalan</td>
		<td colspan=2 align="center">Catatan</td>
	
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
			<td colspan=2>&nbsp;</td>
		</tr>
		</tr>
	
		<tr><td colspan=8><i>Catatan : Tadika/Sekolah Rendah/Sekolah Menengah/Kolej/IPTA/IPTS</i></td></tr>
		<tr><td colspan=8><b><center>Butir-butir Ahli Keluarga Yang Lain (sekiranya ada)</center></b></td></tr>
			
		 <tr>
			<td rowspan=3 valign="top">12</td>
			<td width=3%>Bil</td>
			<td colspan=2 align="center">Nama</td>
			<td width=10% align="center">Umur</td>
			<td colspan=3 align="center">Hubungan</td>
		

			<tr>
				<td>&nbsp;</td>
				<td colspan=2>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=3>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td colspan=2>&nbsp;</td>
				<td>&nbsp;</td>
				<td colspan=3>&nbsp;</td>
			</tr>
		
			
			<tr>
					<td width=4% valign="top">13</td>
					<td colspan=3>Jumlah Penghuni Yang Akan Menduduki Kuarters (<i>sila nyatakan bilangan</i>)</td>
					<td colspan=4>&nbsp;</td>
			</tr>		

			<tr>
					<td width=4% rowspan=3 valign="top">14</td>
					<td  rowspan=3 colspan=3>Waris yang boleh dihubungi jika berlaku sebarang kecemasan</td>
					<td  width=20%>Nama Penuh</td>
					<td colspan=3>&nbsp;</td>
					<tr><td >No. Telefon</td>
					<td colspan=3>&nbsp;</td></tr>
					<tr><td >Hubungan</td>
					<td colspan=3>&nbsp;</td></tr>

			</tr>
				

			
		</table><br><br>
		
		<i>Catatan:<br>
			Bagi perkara 11 dan 12, sekiranya ruangan tidak mencukupi, sila gunakan lampiran yang berlainan.</i>
	
	<br><br><br><br><br>



<p align="right"><font size=3>18</font></p>


</div>
</div>
</fieldset>

<fieldset width=10px >

<div id="title">

<p><font size=3><b>Bahagian II</b></font></p>

<div id="title">
	<table width=100% cellspacing="0" cellpadding="0" border="1">
		<tr>
			<td colspan=6 bgcolor=black><center><b><font color=white>MAKLUMAT PERKHIDMATAN</font></center></td>
		</tr>
		<tr>
			<td width=4%><center>15</center></td>
			<td width=48% >Pangkat</td>
			<td width=48%  colspan=4>&nbsp;</td>
		</tr>
		<tr>
			<td width=4%><center>16</center></td>
			<td width=48%>Jawatan</td>
			<td width=48% colspan=4>&nbsp;</td>
		</tr>
		<tr>
			<td width=4%><center>17</center></td>
			<td width=48%>Unit/Pasukan (Jika berkaitan)</td>
			<td width=48% colspan=4>&nbsp;</td>
		</tr>
		<tr>
			<td width=4% rowspan=2><center>18</center></td>
			<td width=48% rowspan=2>Alamat Penempatan/Pejabat</td>
			<td width=48% colspan=4>&nbsp;</td>
			<tr><td colspan=4>&nbsp;</td>
		</tr>
		<tr>
			<td width=4%><center>19</center></td>
			<td width=48%>Tahun Berkhidmat</td>
			<td width=20%>Tahun</td>
			<td width=4%>&nbsp;</td>
			<td width=20%>Bulan</td>
			<td width=4%>&nbsp;</td>
		</tr>
									
						
		</table><br><br>
		
<center>Tarikh Cadangan Menduduki Kuaters : </center>


<br><br>

<p><font size=3><b>Bahagian III</b></font></p>

<table width=100% cellspacing="0" cellpadding="6" border="1">
	<tr>
		<td colspan=6 bgcolor=black><center><b><font color=white>PENGESAHAN PEMOHON</font></center></td>
			</tr>
			<tr>
				<td><table width=100% cellspacing="0" cellpadding="6" border="0">
					<tr>
						<td colspan=3><font size="3"><center>Saya mengakui segala maklumat yang diberikan adalah benar.</font></center></td>
					</tr>
					<tr>
						<td colspan=3><center><BR>............................................</center></td>
					</tr>
					<tr>
						<td colspan=3><center><font size="3">(Tandatangan Pemohon)</font></center></td>
					</tr>
					<tr>
						<td width=100><font size="3">Nama Penuh </font></td>
						<td width=5>:</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><font size="3">Tarikh</font></td>
						<td> : </td>
						<td>&nbsp;</font></td>
					</tr>
				</table>
				</td>
		</tr>
</table><BR>
<b>Bahagian IV</b><br><br>

<table width=100% cellspacing="0" cellpadding="6" border="1">
	<tr>
		<td colspan=6 bgcolor=black><center><b><font color=white>UNTUK KEGUNAAN PEJABAT</font></center></td>
	</tr>
	<tr>
		<td><table width=100% cellspacing="0" cellpadding="6" border="0">
			<tr>
				<td colspan=3><center><font size="3">Kelulusan Pegawai Perumahan</font></center></td>
			</tr>
										
			<tr>
				<td colspan=3><center>...........................................</center></td>
			</tr>
										
			<tr>
				<td colspan=3><center><font size="3">(Tandatangan Pegawai Perumahan)</font></center></td>
			</tr>
			<tr>
				<td width=120><font size="3">Nama Penuh</font></td>
				<td>:</td>
				<td>&nbsp;</td>
			</tr>
										
			<tr>
				<td><font size="3">Tarikh </font></td>
				<td width=30> : </td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td colspan=3><center><font size="3">Permohonan Adalah : <b>DILULUSKAN / TIDAK DILULUSKAN</font></b></center></td>
			
			</tr>
			<tr>
				<td colspan=3><font size="3">Catatan <i>(sekiranya tidak diluluskan, sila nyatakan sebab)</font></i></td>
			</tr>
			<tr rowspan=3>
				<td colspan=3>&nbsp;</td>
			</tr>
		
			</table>
		</td>
	</tr>
	
</table>



<p align="right"><font size=3>19</font></p>


</div>
</div>
</fieldset>
<fieldset width=10px >

<div id="title">
	
	<div id="kewpa">
	<p class="marginright" align="right">
		LAMPIRAN B </p>
	
<table width=100% border="0">
	<tr>
	
		<td><center><font size=5><b>SIJIL AKUAN MASUK KUARTERS</B></font><br>
			<i>(Diisi oleh Penghuni dalam 2 salinan)</i></center></td>
		
	</tr>
</table>

<center><table width=50% cellspacing="0" cellpadding="0" border="1">
	<tr><td><table width=100% cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td width=150>Tarikh Masuk Kuarters </td>
			<td width=5>:</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Alamat </td>
			<td> : </td>
			<td>&nbsp;</td>

		</table></td></tr>
		</table></center><br>
	
<table width=100% cellspacing="0" cellpadding="6" border="0">
			<tr><td>
	<p align="justify"><font size=3>Dengan ini diakui bahawa saya telah menduduki kuarters tersebut mulai tarikh seperti yang di atas. Semua alat dan perabot seperti dalam Senarai Perabot-Perabot dan kelengkapan, dan persekitaran kuarters ini didapati dalam keadaan yang baik, kecuali senarai perabot/barang seperti di bawah. Dengan ini juga saya membenarkan Elaun Imbuhan Tetap Perumahan dipotong daripada gaji saya.</font></p></td></tr>
	</table><BR>
	
	<table width=100% cellspacing="0" cellpadding="6" border="1">
		<tr>
			<td width=6%><b><center>BIL</center></b></td>
			<td width=40%><b><center>PERKARA</center></b></td>
			<td><b><center>KEROSAKAN</center></b></td>
			<td><b><center>CATATAN</center></b></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>		
		</table>
		<i><center>(Sila gunakan lampiran jika ruang tidak mencukupi)</center></i><br>
		
		<table width=100% cellspacing="0" cellpadding="6" border="0">	
				<tr>
					<td>Tandatangan Penghuni</td>
					<td></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Nama Penuh</td>
					<td></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Jawatan</td>
					<td></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Jabatan</td>
					<td></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Tarikh</td>
					<td></td>
					<td>&nbsp;</td>
				</tr>		
		</table>
		
<b>_______________________________________________________________________________________________</b><br><br>	
		
		
		<center><table width=80% cellspacing="0" cellpadding="0" border="1">
			<tr>
				<td><table width=100% cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td colspan=2><b>UNTUK KEGUNAAN PEJABAT</b></td>
					</tr>
					<tr>
						<td width=250><BR>Tandatangan Pegawai Perumahan</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Nama Penuh</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Jawatan</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td>Tarikh</td>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td><BR><BR><BR>Cop Jabatan</td>
						<td>&nbsp;</td>
					</tr>
					</table>
				</td>
			</tr>
			</table></center>
		    <i><center>*(Satu salinan hendaklah dihantar kepada Jawatankuasa Perumahan)</center></i>	


	<br><br><br><br><br>



<p align="right"><font size=3>20</font></p>


</div>
</div>
</fieldset>
<fieldset width=10px >

<div id="title">
	
	<div id="kewpa">
	<p class="marginright" align="right">
		LAMPIRAN C </p>
	
<table width=100% border="0">
	<tr>
	
		<td><center><font size=3><u><b>BORANG ADUAN KEROSAKAN / KEBERSIHAN</B></u></center></td>
		
	</tr>
</table><br>

<b><I>BUTIR-BUTIR PENGADU</I></B><BR>

<table width=100% cellspacing="0" cellpadding="6" border="1">
	<tr>
		<td width=20>Nama</td>
		<td colspan=3>&nbsp;</td>
	</tr>
	<tr>
			<td>Alamat <BR>Kuarters</td>
			<td>&nbsp;</td>
			<td width=20>Telefon</td>
			<td>&nbsp;</td>
	</tr>
</table><br>
		
<b><I>KATEGORI ADUAN (Sila tandakan</b> &#10003; <b>pada petak berkenaan)</I></B><BR>

<table width=100% cellspacing="0" cellpadding="6" border="1">
	<tr>
		<td>Kerosakan (perabot, peralatan dll.)</td>
		<td width=6%>&nbsp;</td>
		<td>Lain-lain (kebersihan, keselamatan dll.)</td>
		<td width=6%>&nbsp;</td>			
	</tr>
</table><br>
	
<b><I>KETERANGAN ADUAN</I></B><BR>
	
	
		<table width=100% cellspacing="0" cellpadding="6" border="1">
			<tr><td><BR>
				.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
	.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>					
				
				
			</td></tr>
				</table><br>
				<br><br><br><br><br>



<p align="right"><font size=3>21</font></p>

</div>
</div>
</fieldset>

<fieldset width=10px >

<div id="title">
	
<b>TINDAKAN / MAKLUMBALAS PEGAWAI PERUMAHAN</B><BR>
	
		<table width=100% cellspacing="0" cellpadding="6" border="1">
			<tr><td><BR>
				.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
	.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>
.........................................................................................................................................................................................<BR><BR>					
				
				
			</td></tr>
				</table><br>
				
				<B>STATUS ADUAN (Sila tandakan</b> &#10003; <b>pada petak berkenaan)</b><br><br>
					
<table width=100% cellspacing="0" cellpadding="6" border="1">
	<tr>
		<td>Selesai</td>
		<td>&nbsp;</td>
		<td>Belum Selesai*</td>
		<td>&nbsp;</td>
		</tr>
		</table><br>
		
		<i>* Sekiranya belum selesai, sila maklumkan kepada Pegawai Perumahan setelah aduan diselesaikan untuk tujuan rekod</i>
		
<b>_______________________________________________________________________________________________</b><br><br>

<u><b><center>UNTUK KEGUNAAN PEJABAT</center></b></u><br><br>

<table width=100% cellspacing="0" cellpadding="6" border="0">
	<tr>
		<td width=200>Nama Pegawai Perumahan</td>
		<td width=5>:</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Tandatangan</td>
		<td>:</td>
		<td>&nbsp;</td>
	</tr>
	
	<tr>
		<td>Cop Jabatan</td>
		<td>:</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>Rujukan Fail</td>
		<td>:</td>
		<td>&nbsp;</td>
	</tr>
</table>
	<br><br><br><br><br>


<p align="right"><font size=3>22</font></p>

</fieldset>

<fieldset width=10px >

<div id="title">
	
	<div id="kewpa">
	<p class="marginright" align="right">
		LAMPIRAN D </p>
	
<table width=100% border="0">
	<tr>
	
		<td><center><font size=5><b>SIJIL AKUAN MENGOSONGKAN KUARTERS</B></font><br>
			<i>(Diisi oleh Pegawai Perumahan dalam 2 salinan)</i></center></td>
		
	</tr>
</table><br>

<center><table width=50% cellspacing="0" cellpadding="0" border="1">
	<tr><td><table width=100% cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td width=150>Tarikh Keluar Kuarters </td>
			<td width=5>:</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Alamat </td>
			<td> : </td>
			<td>&nbsp;</td>

		</table></td></tr>
		</table></center><br>
	
<table width=100% cellspacing="0" cellpadding="6" border="0">
			<tr><td>
	<p align="justify"><font size=3>Dengan ini diakui bahawa kuarters di atas berserta dengan semua peralatan dan perabot di dalamnya, seperti yang disebutkan dalam borang Senarai Perabot-Perabot dan kelengkapan, dan persekitaran kuarters yang telah diambil alih daripada penghuninya seperti nama di bawah.Semuanya didapati dalam keadaan yang baik dan teratur kecuali perkara-perkara yang disebutkan di bawah :</font></p></td></tr>
	</table>
	
	<table width=100% cellspacing="0" cellpadding="6" border="1">
		<tr>
			<td width=6%><b><center><BR><BR>BIL</center></b></td>
			<td width=40%><b><center><BR><BR>PERKARA</center></b></td>
			<td><b><center>CORAK KEHILANGAN ATAU KEROSAKAN</center></b></td>
			<td><b><center>ANGGARAN NILAI KEHILANGAN ATAU BELANJA MEMBAIKI ATAU MEMBAHARUINYA</center></b></td>
			<td><b><center><BR><BR>CATATAN</center></b></td>
		</tr>
		<tr>
			<td><BR><BR>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
				
		</table>
		<i><center>(Sila gunakan lampiran jika ruang tidak mencukupi)</center></i><br>
		
		<table width=100% cellspacing="0" cellpadding="6" border="1">	
				<tr>
					<td><table width=100% cellspacing="0" cellpadding="0" border="0">
					<td width=250>Tandatangan Pegawai Perumahan</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Nama Penuh </td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Jawatan</td>
					<td>&nbsp;</td>
				</tr> 
				<tr>
					<td>Tarikh</td>
					<td>&nbsp;</td>
				</tr>
				</table>
				</td>
			</tr>
		</table>
		
<br>	
		
		
	<table width=100% cellspacing="0" cellpadding="6" border="1">
			<tr><td><table width=100% cellspacing="0" cellpadding="0" border="0">
				<tr>
				   <td colspan=2><b>Kehilangan atau kerosakan diakui oleh saya.</b></td>
				</tr>
				<tr>
					<td width=300>Tandatangan Pegawai yang menyerah kuarters</td> 
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Nama Penuh</td> 
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Jawatan</td>
					<td>&nbsp;</td>
				</tr> 
				<tr>
					<td>Jawatan</td>
					<td>&nbsp;</td> 
				</tr>
				<tr>
					<td>Tarikh</td>
					<td>&nbsp;</td>
				<tr>
					</table>
				
				</td></tr>
				</table>
				<i><center>*(Satu salinan hendaklah dihantar kepada Jawatankuasa Perumahan)</center></i>	


	<br><br><br><br><br>


<p align="right"><font size=3>23</font></p>


</div>
</div>
</fieldset>
<BR>

	<div id="hideLink">
	<%= link_to 'BACK', root_path %>
	</div>


