
<h1></h1>
<p>Home Page</p>

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="center hero-unit">
        <h1>Catechumen</h1>
        <h2>Catechumen: The Integrated Campus Management System</h2>
        <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
      </div> 
    </div>
    
    <div class="item">
      <div class="center hero-unit">
        <h1>More Stuff Here</h1>
        <h2>Here is more stuff</h2>
        <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
      </div>
      
    </div>
    <div class="item">
      <div class="center hero-unit">
        <h1>Even More Stuff Here</h1>
        <h2>Yes this is even more stuff</h2>
        <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
      </div>
    
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>











