<h1></h1>
<p>Home Page</p>

<div class="center hero-unit">
  <h1>Catechumen</h1>

  <h2>
    This is the home page for Catechumen: The Integrated Campus Management System
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
