<div class="tform">
<H2>New Message</H2>
<table>
	<tr>
		<td class="leftcol"><label for="to_id">To </label></td>
		<td><b>:</td>
		<td><%= text_field_with_auto_complete :message, :to_name ,{ :size => 100 }, 
											  {:tokens => ",",:url => formatted_staffs_path(:js), 
											  :method => :get } %>
	<BR><font color="grey", size="-2"><i>	Type an alphabet and select a recipient accordingly. To add other recipient, please type a comma (','), followed by an alphabet and make your selection. </i></font>
		</td>
	</tr>
	
	<!--<tr>
		<td class="leftcol"><label for="message">Title</label></td>
		<td><b>:</td>
		<td><%#= f.text_field :title, :size => 55 %></td>
	</tr>-->
	
	<tr>
		<td class="leftcol"><label for="message">Message</label></td>
		<td><b>:</td>
		<td><%= f.text_area :message, :size => "50x10" %></td>
	</tr>
	
</table>
<BR>
</div>