<H2>Action details</H2>
<table>
	<tr>
		<td class="leftcol"><label for="action"><b>Action Taken:</b></label></td>
		<td> <%=h @student_discipline_case.action %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="closedtcollege"><b>Date Closed (College):</b></label></td>
		<td> <%=h @student_discipline_case.closed_at_college_on %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="location"><b>Location:</b></label></td>
		<td> <%=h @student_discipline_case.location_id %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="otherinfo"><b>Other Information:</b></label></td>
		<td><%=h @student_discipline_case.other_info %></td>
	</tr>
</table>