<H2>Case Information: (<%=h @student_discipline_case.status %>)</H2>
<table width=100%>
	<tr>
		<td class="leftcol"><label for="casedt"><b>Date:</b></label></td>
		<td><%=h l(@student_discipline_case.case_created_on) unless @student_discipline_case.case_created_on.blank? %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="investigation"><b>Investigation Summary:</b></label></td>
		<td><%=h @student_discipline_case.investigation_notes %></td>
	</tr>
		
</table>