<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
 <td width=30%> <%= f.date_select :actdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
 <td width=45%><%= f.text_area :evactivity, :size => "40x3", :placeholder => 'Enter Details of Activity' %></td>
<td width=20%> <%= f.select :actlevel, Evactivity::EVACT, :prompt => "Select Level" %></td>
 <td width=5%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>   </td> 
</table>    
</div>
