<div class="fields">

 | <%= f.date_select :actdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %>
 | <%= f.text_field :evactivity, :size => 40, :placeholder => 'Enter Details of Activity' %>
 | <%= f.select :actlevel, Evactivity::EVACT, :prompt => "Select Level" %>

	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>        
</div>
<BR>