<div class="fields">
<table width=100% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
<td width=30%> <%= f.text_area :name, :size => "25x2", :placeholder => 'Training Name' %></td> 
<td width=30%> <%= f.date_select :sdate, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>
 <td width=35%> <%= f.text_area :place, :size => "30x2", :placeholder => 'Place' %></td>
 <td width=5% align="center"><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>   </td> 
</table>    
</div>
