<div class="fields">
<table width=100% border=1 solid cellspacing=0 BORDERCOLOR="#C0C0C0 ">
 		<td width=48%><%= f.text_area :name, :size => "40x2", :placeholder => 'Training Name' %></td>
       <td width=48%><%= f.text_area :reason, :size => "40x2", :placeholder => 'Reason Needed' %>
 		<td width=4% align="center"><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>   </td> 
</table>    
</div>
