<h3>New File</h3>

<% form_for(@cofile) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>


<%= link_to 'Back', cofiles_path %>