<div class="fields">
	<table width=90%>
		<tr>
			<!--<td width=30%><%#= f.date_select :actdt, :start_year => 2010, :end_year => 2020, :order => [:day, :month, :year] %></td>-->
			<td width=35%><%= f.text_field :evactivity, :size => 40, :placeholder => 'Enter Details of Activity' %></td>
			<td width=25%><%= f.select :actlevel, Evactivity::EVACT, :prompt => "Select Level" %></td>
			<td width=10%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>   </td>
		</tr>
	</table>   
</div>