<table  width=100%>
	<tr>
	  <td class="leftcol"><label for="is_skt_endorsed">Endorse SKT</label></td>
		<td><%= f.check_box :is_skt_endorsed, :id => 'is_skt_endorsed' %>
				<SPAN id="span_skt_endorse" style="display: none;">
				<%= f.date_select :skt_endorsed_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
		<td class="pagenote">Clicking on submit disables your editing this record further</td>
	</tr>
</table>

<% if User.current_user.staff.position.is_root? == true %>
	<%= f.hidden_field :eval2_by, :value => User.current_user.staff.position.staff_id %>
<% else %>
	<%= f.hidden_field :eval2_by, :value => User.current_user.staff.position.parent.staff_id %>
<% end %>



<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date
			$j("input[id='is_skt_endorsed']").change(function() {  
			 if($j('#is_skt_endorsed').is(':checked')) { 
			    $j("#span_skt_endorse").show("highlight"); 
			 }else		{
			    $j("#span_skt_endorse").hide(""); 
			 }	
			});

			$j("input[id='is_skt_endorsed']").each(function() {  
			 if($j('#is_skt_endorsed').is(':checked')) { 
			    $j("#span_skt_endorse").show("highlight"); 
			 }else		{
			    $j("#span_skt_endorse").hide(""); 
			 }	
			});
	});
</script>