<div class="fields">
 | <%= f.text_field :name, :size => 50, :placeholder => 'Enter details of training needed' %>
 | <%= f.text_field :reason, :size => 50, :placeholder => 'Enter reason' %>

	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>     
</div>

