<div class="fields">
	<table width=90%>
		<tr>
			<td width=45%><%= f.text_field :name, :size => 50, :placeholder => 'Enter details of training needed' %></td>
			<td width=45%><%= f.text_field :reason, :size => 50, :placeholder => 'Enter reason' %></td>
			<td width=10%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
		</tr>
	</table>
</div>

