<% form_for(@staff_appraisal) do |f| %>
  <%= f.error_messages %>

	<div class="tform">
		<H2>New Appraisal</H2>
		<%=render :partial => 'form_start', :locals => {:f => f} %> 
	</div>
	<BR/>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', staff_appraisals_path %>