<!--27Feb2013-new partial created-->
<div class="tform">
<H2>Employ Grade Details</H2>
  <table width=100% >
  	<tr>
		<td class="leftcol"><label for="name ">Code Grade</label></td>
		<td> <%= f.text_field :name %></td>
	</tr>
	<tr>
		<td class="leftcol">Group</td>
		<td><%= f.select :group_id,
				          Employgrade::GROUP,
				          :prompt => "Select"%></td>					
	</tr>
	<tr>
		<td class="leftcol">Total Yearly Leave</td>
		<td> <%= f.select :yearly_leave, Employgrade::ANNUAL_LEAVE, :prompt => "Select" %></td>
	</tr>
</table>
</div>