<table width=100% >
	<tr>
		<td class="leftcol"><%= f.label t('name') %></td>
		<td><%= f.text_field :name %>  &nbsp; &nbsp; 
				<%= f.select :group_id,
				          Employgrade::GROUP,
				          :prompt => (t 'select') %></td>
	</tr>
</table>
<BR>