<p>
  <b>Name:</b>
  <%=h @employgrade.name %>
</p>


<%= link_to 'New', new_employgrade_path %> |
<%= link_to 'Edit', edit_employgrade_path(@employgrade) %> |
<%= link_to 'Back', employgrades_path %> |
