*.log
*.directory
tmp/**/*
.DS_Store
.backup
db/migrate/bin/*
public/assets/books/*
public/assets/bulletins/*
public/assets/examquestions/*
public/assets/notes/*
public/assets/staffs/*
public/assets/students/*
public/assets/lesson_plans/*
public/system/*
