<!--><div class="rxpart">
	<#% new_or_existing = rxpart.new_record? ? 'new'  : 'existing' %>
	<#% prefix = "part[#{new_or_existing}_rxpart_attributes][]" %>
	
	<#% fields_for prefix, rxpart do | rxpart_form | -%>

    <table>
	   <tr>
	     <td width=50px><#%= rxpart_form.text_field :lponum, :size => 10 %></td>
         <td width=50px><#%= rxpart_form.text_field :donum, :size => 10 %></td>
         <td width=50px><#%= rxpart_form.text_field :document, :size => 7%></td>
         <td width=50px><#%= rxpart_form.text_field :unitcost, :size => 7 %></td>
         <td width=350px><#%= rxpart_form.date_select :rdate, :start_year => 2011, :end_year => 2020, :order => [:day, :month, :year] %></td></td>
         <td><#%= link_to_function "remove", "$(this).up('.rxpart').remove()" %></td>
       </tr>
    </table>
    
   
   <#% end -%>
</div>-->