<%= f.collection_select :staff_id, Staff.find(:all, :order => 'name'), :id, :name, :include_blank => true %>
<a id="get_matched" href="#"><img border="0" src="/images/fav_off.png" alt="Get Matching"></a>