<%= f.collection_select :staff_id, Staff.find(:all, :conditions => ['staffgrade_id =?', @position.staffgrade_id], :order => 'name'), :id, :name, :include_blank => true %>
<a id="get_all" href="#"><img border="0" src="/images/fav.png" alt="Get All"></a>