<div class="fields"><!--will select from training notes table only-->
	<%= f.collection_select :trainingnote_id, Trainingnote.valid_training_notes, :id, :subject_topic, :include_blank => 'Select Existing Training Note' %>
	<%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
	<BR><!--<BR>-->
</div>