<H2>HOD Endorsement</H2>
<table width=100%>
	
	
	<!-- TODO : Set permissions on HOD, Set Notifications and only enable HOD to view when done -->

	<!-- Show the show (but what about the tabbed format?)-->
	<tr>
		<td class="leftcolwide"><label for="endorsed_hod_by"><b><%= t 'asset_losses.endorsed_hod_by' %></b></label></td>
    <td><%= f.collection_select :endorsed_hod_by, Staff.find(:all, :conditions => ['id =?', User.current_user.staff.position.root.staff_id]), :id, :name %></td>
		<td class="pagenote"></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="endorsed_on"><b><%= t 'asset_losses.endorsed_on' %></b></label></font></td>
		<td><%= f.date_select :endorsed_on, :order => [:day, :month, :year], :include_blank => true %><BR/><BR/></td>
		<td></td>
	</tr>
	</table>
