<h1>Editing asset_loss</h1>

<% form_for(@asset_loss) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @asset_loss %> |
<%= link_to 'Back', asset_losses_path %>