<h1>Listing asset_losses</h1>

<table>
  <tr>
  </tr>

<% @asset_losses.each do |asset_loss| %>
  <tr>
    <td><%= link_to 'Show', asset_loss %></td>
    <td><%= link_to 'Edit', edit_asset_loss_path(asset_loss) %></td>
    <td><%= link_to 'Destroy', asset_loss, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New asset_loss', new_asset_loss_path %>