<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-KS-02-04<br>BORANG ADUAN SAJIAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<table width=100% cellspacing="0" cellpadding="1" border="0">
	<tr>
		<td><center><b><u>BORANG ADUAN SAJIAN
	    </td>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td colspan=2 bgcolor=yellow><b>A. MAKLUMAT PENGADU</td>
	<tr>
		<td colspan=2>Nama Pengadu :</td>
	<tr>
		<td colspan=2>No. K/P :</td>
	<tr>
		<td colspan=2>Pangkat :</td>
	<tr>
		<td colspan=2>Unit/Bahagian/Cawangan :</td>
	<tr>
		<td colspan=2>Nama Kursus :</td>
	<tr>
		<td colspan=2>Blok Kediaman : Asrama Lanjutan / Wanita/ Asas    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No. Bilik :</td>
	<tr>
		<td colspan=2>No. Tel Bimbit :</td>

</table>
<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow colspan=3><b>B. ADUAN</td>
	<tr>
		<td width=25%><center><b>Menu Sajian</td>
		<td><center><b>Jenis Aduan</td>
		<td><center><b>Tandatangan</td>
	<tr>
		<td><center><b>Sarapan Pagi</td>
		<td><br><br></td>
		<td></td>
	<tr>
		<td><center><b>Minum Pagi</td>
		<td><br><br></td>
		<td></td>
	<tr>
		<td><center><b>Makan Tengahari</td>
		<td><br><br></td>
		<td></td>
	<tr>
		<td><center><b>Minum Petang</td>
		<td><br><br></td>
		<td></td>
	<tr>
		<td><center><b>Makan Malam</td>
		<td><br><br></td>
		<td></td>
	<tr>
		<td><center><b>Keseluruhan</b><br><i>(sekiranya ada)</td>
		<td><br><br></td>
		<td></td>
	<tr>
		<td colspan=3><b><u>Tandatangan Pengadu :</b></u><br><br>
			Nama : ____________________________________________________<br><br>
			Tandatangan : ____________________________<br><br>
			Tarikh : __________________________________<br><br></td>
</table>


<br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table>

<p align="right">1 daripada 3</p>

<p align="left">BK-LAT-KS-02-04</p><br><br>

</div>
</div>
</fieldset>

<br><br><br>


<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-KS-02-04<br>BORANG ADUAN SAJIAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">


<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b>C. CATATAN DAN PENGESAHAN PBH</td>
	<tr>
		<td><b><u>Catatan<br><br><br><br><br><br><br><br><br><br><br>
			      Tandatangan</u></b><br><br>
			Nama : _____________________________________ Tandatangan : __________________<br><br>
			Tarikh : ________________________

</table><br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b>D. ULASAN / TINDAKAN OLEH PTBOL</td>
	<tr>
		<td><b><u>Catatan<br><br><br><br><br><br><br><br><br><br><br>
			      Tandatangan</u></b><br><br>
			Nama : _____________________________________ Tandatangan : __________________<br><br>
			Tarikh : ________________________

</table><br><br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table>

<p align="right">2 daripada 3</p>

<p align="left">BK-LAT-KS-02-04</p><br><br>

</div>
</div>
</fieldset>

<br><br><br>

<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-KS-02-04<br>BORANG ADUAN SAJIAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

	<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
		<tr>
			<td bgcolor=yellow><b>E. ULASAN / TINDAKAN OLEH KPL</b> <i>(sekiranya perlu)</td>
		<tr>
			<td><b><u>Catatan<br><br><br><br><br><br><br><br><br><br><br>
				      Tandatangan</u></b><br><br>
				Nama : _____________________________________ Tandatangan : __________________<br><br>
				Tarikh : ________________________

	<tr>
		<td>
			<b>Nota :</b><br><br>
			  <table width=100% cellspacing="0" cellpadding="1" font size="5px" border="0">
				<tr>
					<td width=3%>1.</td>
			        <td>PBH perlu mengesahkan aduan yang dikemukakan pelatih dan memajukan kepada PTBOL pada pagi ke
					esokan hari berkerja.<br><br></td>
				<tr>
					<td width=3%>2.</td>
				     <td>Sekiranya memerlukan tindakan segera, PBH perlu memaklumkan secara lisan kepada PTBOL dan KPL
					terhadap aduan yang dikemukakan. Dapatkan maklumbalas tindakan yang perlu diambil.<br><br></td>
				<tr>
					<td width=3%>3.</td>
					<td>Borang ini hanya diisi sekiranya terdapat aduan sajian.<br><br></td>
               </table>
        </td>
</table><br><br><br><br><br><br><br><br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table>

<p align="right">3 daripada 3</p>

<p align="left">BK-LAT-KS-02-04</p><br><br>

</div>
</div>
</fieldset>

