<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br>NO.DOKUMEN: BK-KKM-02-01<br><br>BORANG ADUAN/CADANGAN Q</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>


<div id="title">
	
<br>

<table width=100% cellspacing="0" cellpadding="3" font size="8px" border="1" bordercolor=black>
	<tr>
		<td>
			<table width=100% cellspacing="0" cellpadding="4" font size="8px" border="0" bordercolor=black>
				<tr><td width=8%>A</td>
					<td colspan=9>Butir-butir Pengadu</td></tr>
				<tr><td rowspan=2></td>
					<td rowspan=2 width=10%>Nama Pengadu</td> 
					<td> ...........................................................</td>
					<td>No K.P</td>
					<td>..............................................</td>
				<tr><td> ...........................................................</td>
					<td>No Tel</td>
					<td>..............................................</td>
			</table>
		</td>
	
	<tr>
		
		<td>
			
			<table width=100% cellspacing="0" cellpadding="4" font size="8px" border="0" bordercolor=black>
				<tr><td width=8%>B</td>
					<td colspan=9>Makluman Aduan/Cadangan</td></tr>
					<tr><td></td>
						<td><table width=100% cellspacing="0" cellpadding="3" font size="8px" border="0" bordercolor=black>
								<tr>
									<td width=6%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
									<td width=5%>Surat</td>
									
									<td width=6%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
									<td width=5%>Telefon</td>
									
									<td width=6%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
									<td width=5%>Datang Sendiri</td>
									
									<td width=6%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
									<td width=5%>Media</td>
									
									</tr>
									<tr>
										<td width=6%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
										<td width=5% colspan=9>Lain lain (nyatakan)</td>
										</tr>
									<tr>
										<td colspan=9>Butir-butir Aduan/Cadangan<br><br>
											......................................................................................................................................<br><br>
											......................................................................................................................................<br><br>
											......................................................................................................................................<br><br>
											
											Tandatangan : ..............................................................
											<br><br>
											Nama&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ..............................................................&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tarikh : </td>
										</tr>
										
			
			
		</td>
		
		
	</tr></table></table>
	<tr>
		
		<td>
			<table width=100% cellspacing="0" cellpadding="3" font size="8px" border="0" bordercolor=black>
				<tr><td width=8%>C</td>
					<td colspan=9>Klasifikasi Maklumat</td></tr>
					<tr><td></td>
						<td><table width=100% cellspacing="0" cellpadding="3" font size="8px" border="0" bordercolor=black>
								<tr>
									<td width=3%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
									<td width=5%>Aduan</td>
									
									<td width=3%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
									<td width=5%>Maklumbalas</td>
									
									<td width=3%><table width=100% cellspacing="0" cellpadding="14" font size="5px" border="1" bordercolor=black><tr><td></td></tr></table></td>
									<td width=5%>Cadangan Penambahbaikan</td>
	</tr></td>
	</tr>
</table></table>

<tr>
	
	<td>
		<table width=100% cellspacing="0" cellpadding="3" font size="8px" border="0" bordercolor=black>
			<tr><td width=8%>D</td>
				<td colspan=9>Arahan Siasatan :</td></tr>
				<tr><td rowspan=2></td>
					<td colspan=2><br>......................................................................................................................................<br><br>......................................................................................................................................<br><br></td>
</tr>
<tr>
	<td width=50%><br>Tandatangan : ...............................................</td>
	<td width=5%><br>Tarikh : .........................................</td>
	</tr></table></table><br><br><br><br>
	
	
	<table width=100% cellspacing="0" border="1">
		<tr>
			<th colspan=4 align="left"> DISEDIAKAN OLEH: BKKM</th>
			<th colspan=2 align="left">TARIKH KEMASKINI: 5 DISEMBER 2011</th>
		</tr>

	</table>
	<br><br>
	<center>1 daripada 1</center>


</div>
</div>
</fieldset>

