<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
	
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-LAT-KS-01-01<BR>BORANG AMARAN KOMANDAN AKADEMI</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<br>

<table width=100% cellspacing="0" cellpadding="7" border="0">
	<tr>
		<td><font color="black", size="4"><center><b><font face="arial">PUSAT PENDIDIKAN DAN LATIHAN<br>
			                                                            AGENSI PENGUATKUASAAN MARITIM MALAYSIA</font></b></center>
		</td>
	</tr>
</table>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td colspan=2><b><u><center><font face="arial">BORANG AMARAN RASMI KOMANDAN AKADEMI</font></center></u><b></td>
	</tr>
	<tr>
		<td colspan=2><b><u><font face="arial">BAHAGIAN I - AMARAN</u></b><br><br>
				Nama : <br><br>
				Pangkat : <br><br>
				No. Kad Pengenalan : <br><br>
				Pada hari ini saya telah memberi amaran kepada pelatih yang bernama dia atas kerana :<br><br><br><br><br><br><br>
				<p align="justify">Pelatih telah dinasihatkan sekiranya tahap pencapaiannya dan juga perkara khusus yang mana ia telah diberi amaran tidak menunjukkan sebarang kemajuan, ia akan diletakkan di bawah Amaran Komandan.</font></td>
	</tr>
	<tr>
		<td width=50%><b><u><font face="arial">KOMANDAN AKADEMI</u></b><br><br>
			    Tandatangan : ...............................................<br><br>
				Nama : ...........................................................<br><br>
				Pangkat : .................................................<br><br>
				Tarikh : ..........................</font><br></td>
		<td><b><u><font face="arial">PELATIH</u></b><br><br>
				Tandatangan : ...............................................<br><br>
				Nama : ...........................................................<br><br>
				Pangkat : .................................................<br><br>
				Tarikh : ..........................</font><br></td>
	</tr>
	<tr>
		<td colspan=2><b><u><p align="justify"><font face="arial">BAHAGIAN II - TINDAKAN<br><br>
				Oleh Pegawai Bahagian :</b></u><br><br>
				Borang ini hendaklah disediakan dalam tiga salinan untuk disimpan :<br><br>
				a. Fail PPL APMM - APMM.PL (S) 900/2/9 <br><br>
				b. Fail Peribadi Pelatih<br><br>
				<b><u>Untuk Pelatih</b></u><br><br>
				Semasa di bawah amaran pelatih dikehendaki mengikut kelas tambahan yang ditetapkan oleh jurulatih sekurang-kurangnya 2 kali seminggu selama 2 jam setiap sesi matapelajaran yang gagal.</p></td>
	</tr>
</table>

<p align="right"><font face="arial">1 daripada 1</p>

<br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"><font face="arial">DISEDIAKAN : IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left"><font face="arial">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table><br>


<font face="arial">BK-LAT-KS-01-01</font>

<br><br>

</div>
</div>
</fieldset>

