<%= stylesheet_link_tag 'report' %>
<div id="A4landscape">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="100"/></th>
		<th><H4>PPL APMM<BR>NO.DOKUMEN: BK-KKM-01-02<BR><BR>BORANG ANALISA KURSUS</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="100"/></th>
	</tr>
</table>

<div id="title">
	<table width=100% cellspacing="0" border="0">
		<tr>
			<td>KURSUS : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ....................................................................................................<BR><BR>
				TARIKH MULA : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ........................................................... &nbsp;&nbsp;&nbsp;TARIKH TAMAT : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ...........................................................
				
			</td>
		</tr>

	</table>
	<br>

</table>
<br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1">

	
	<tr bgcolor=yellow>
		<td><center><b>SIRI</b></center></td>
		<td colspan=2><center><b>KRITERIA</b></center></td>
		<td><center><b>1</b></center></td>
		<td><center><b>2</b></center></td>
		<td><center><b>3</b></center></td>
		<td><center><b>4</b></center></td>
		<td><center><b>5</b></center></td>
		<td><center><b>MARKAH</b></center></td>
		</tr>
		
	<tr>
		<td rowspan=7 width=7%><center><b>1.</b></center></td>	
		<td rowspan=7 width=10%><b>PENILAIAN JURULATIH / PENSYARAH</b></td>
		<td width=30%>Persembahan dan Penyampaian</td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		<tr><td>Pengetahuan dan Kemahiran</td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		<tr><td>Keupayaan Meransang Peserta</td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		<tr><td>Kebolehan Mengendalikan Soal Jawab</td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		<tr><td>Mutu penyampaian jurulatih /pensyarah</td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		<tr><td>Penilaian keseluruhan</td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		<tr><td>Mutu alat pandang dengar yang digunakan</td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
			<td rowspan=7><center><b>2.</b></center></td>	
			<td rowspan=7><b>KANDUNGAN</b></td>
			<td>Tajuk perbincangan berkaitan dengan kursus</td>
			<td></td>
			<td></td>
			<td></td>	
			<td></td>
			<td></td>
			<td></td>
			<tr><td>Program kursus ini berkaitan dengan bidang tugas anda</td>
			<td></td>
			<td></td>
			<td></td>	
			<td></td>
			<td></td>
			<td></td>
			<tr><td>Perkara kes yang dibincangkan jelas dan difahami</td>
			<td></td>
			<td></td>
			<td></td>	
			<td></td>
			<td></td>
			<td></td>
			<tr><td>Kaedah pengajaran yang diterapkan berkesan dan berguna</td>
			<td></td>
			<td></td>
			<td></td>	
			<td></td>
			<td></td>
			<td></td>
			<tr><td>Penilaian keseluruhan nota dan bahan rujukan</td>
			<td></td>
			<td></td>
			<td></td>	
			<td></td>
			<td></td>
			<td></td>
			<tr><td>Tempoh Kursus</td>
			<td></td>
			<td></td>
			<td></td>	
			<td></td>
			<td></td>
			<td></td>
		
			</tr>
		
										
																												

		
		</table>


<br><br>
<center><b>1 daripada 2<b></center>

</div>
</div>
</fieldset>

<br><br>

<fieldset width=10px>

<div id="title">


<br><br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1">
	
	<tr>
		<td rowspan=9 width=7%><center><b>3.</b></center></td>	
		<td rowspan=9 width=10%><b>PENGURUSAN KURSUS</b></td>
		<td rowspan=9 width=30%>Kemudahan (Yang berkenaan)<br><br>
			          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1) Penginapan<br>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2) Makanan<br>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (3) Bilik Kuliah<br>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (4) Perpustakaan<br>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (5) Buku Rujukan<br>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (6) Kemudahan Komputer<br>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (7) Kemudahan Sukan<br>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (8) Kegiatan Sosial<br></td>
		<td><br></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		
	<tr>
		<td><br></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
					
	<tr>
		<td><br></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
								
	<tr>
		<td><br></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
										
	<tr>
		<td><br></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
														
	<tr>
		<td><br></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
																	
	<tr>
		<td><br></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
	
	<tr>
		<td><br></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
																						
	<tr>
		<td><br></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
																								
		</tr>
		
	<tr>
	    <td><center><b>4.</b></center></td>
		<td><B>KOMEN DAN CADANGAN KESELURUHAN PENILAIAN KURSUS</B></td>
		<td colspan=7><br><br><br><br><br><br><br><br></td>
	
    </table>

<table width=100% cellspacing="0" cellpadding="1" font size="5px" border="0">
	
	<tr>
		<td width=50%>
			<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1">
				<tr>
					<td><b><u>BKMM</u></b><br><br><br><br><br>
						<center>.............................................................................................<br><br>
							TANDATANGAN/TARIKH</center></td>
					</table>
					</td>
		
		<td></td>
</table>

<br><br>


<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN : BKKM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>

</table>


<br><br>
<center><b>2 daripada 2<b></center>

</div>
</div>
</fieldset>

