<%= stylesheet_link_tag 'report' %>
<div id="A4landscape">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="100"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-TBL-01-02<br>BORANG ANALISIS KEPERLUAN LATIHAN DAN MATRIK KEJURULATIHAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="100"/></th>
	</tr>
</table>

<br>


<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1">
	<tr>
		<td><br><center><b>JABATAN/AGENSI : .................................................................................................................................................................................................................................................................</B></CENTER><br></TD>
			</tr>
	
	</table>
	<br>


<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1">

	
	<tr>
		<td width=2%><center><b>BIL</b></center></td>
		<td width=10%><center><b>NO. K/P</b></center></td>
		<td width=6%><center><b>PANGKAT</b></center></td>
		<td width=20%><center><b>NAMA</b></center></td>
	    <td width=8%><center><b>TARIKH DINILAI TIDAK LAYAK</b></center></td>
		<td width=8%><center><b>TARIKH LULUS OLEH *PGH PPL</b></center></td>
		</tr>
		
	<tr>
		<td>1.</td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
			<td>2.</td>	
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			</tr>
			
			<tr>
				<td>3.</td>	
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				</tr>		
		
				<tr>
					<td>4.</td>	
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					</tr>	
		
		
					<tr>
						<td>5.</td>	
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						</tr>
		
		
						<tr>
							<td>6.</td>	
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							</tr>
		

							<tr>
								<td>7.</td>	
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								</tr>
								
								
								<tr>
									<td>8.</td>	
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									</tr>						
								
								
									<tr>
										<td>9.</td>	
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										</tr>		
										
										
										<tr>
											<td>10.</td>	
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											</tr>

		
		</table>
	<BR>
		<b>*PGH PPL - PENGARAH PUSAT PENDIDIKAN DAN LATIHAN APMM</b>


<br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN OLEH: BKMM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DISEMBER 2011</th>
	</tr>

</table><br><br>

<center>1 daripada 1</center>
<br><br>

</div>
</div>
</fieldset>

