<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-RAN-03-01<br>BORANG KEHADIRAN MENDUDUKI PEPERIKSAAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<br>

<table width=100% cellspacing="0" cellpadding="7" border="0">
	<tr>
		<td width=35%>Tarikh</td>
		<td>: ..............................................................................................</td>
	<tr>
		<td>Kertas Peperiksaan</td>
		<td>: ..............................................................................................</td>
	<tr>
		<td>Nama Pengawas Peperiksaan</td>
		<td>: ..............................................................................................</td>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr bgcolor=yellow>
		<td width=5%><b><center>Siri</center><b></td>
		<td><b><center>No. KP</center><b></td>
		<td><b><center>Pkt dan Nama</center><b></td>
		<td><b><center>Tandatangan</center><b></td>
		<td><b><center>Catatan</center><b></td>
	<tr>
		<td>1.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>2.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>3.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>4.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>5.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>6.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>7.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>8.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>9.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>10.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>11.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>12.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>13.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>14.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>15.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>16.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>17.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>18.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>19.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td>20.</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
</table>

<br><br><br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table>
<center>1</center>


<br><br>

</div>
</div>
</fieldset>

