<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR>NO.DOKUMEN: BK-KKM-02-03<BR><br>BORANG MAKLUM BALAS PELANGGAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>

<div id="title">



<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr bgcolor=yellow>
		<td colspan=2><b>KENYATAAN ADUAN MAKLUM BALAS PELANGGAN</B></td>
			<td><center><b>KEGUNAAN PEJABAT</b></center></td>
			</tr>
	<tr>
	    <td rowspan=5 colspan=2></td>
	    <td><center>BKMM</center></td>
	    <tr><td><b>Nama dan Jawatan<br><br><br><br></b></td>
	    <tr><td><b>Tandatangan:<br><br><br><br></b></td>
	    <tr><td><b>Tarikh:</b></td>
	    <tr><td><center><b>ANALISA ADUAN<br>MAKLUMBALAS<br>PELANGGAN</b></center></td>
		</tr>
	<tr>
		<td>Nama Pelanggan:</td>
		<td> Tarikh Aduan:</td>
		<td><b>Tindakan:</b><br><br><br><br></td>
		</tr>
	<tr>
		<td rowspan=2 colspan=2>Alamat:</td>
		<td><b>Tarikh tindakan diambil:</b><br><br><br></td>
		<tr><td><b>Tarikh tindakan selesai:</b><br><br><br></td>
		</tr>
	<tr>
		<td>No. Tel/Faks:</td>
		<td>Email:</td>
		<td><b>Varifikasi oleh:</b><br><br><br></td>
		</tr>
	<tr>
		<td colspan=3><i><font size=4>Cadangan aduan tanpa nama tidak diambil tindakan. Jika ruangan tidak mencukupi, sila gunakan kertas berasingan</i></font></td>
		</tr>
</table>


<br><br><br> <br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN OLEH: BKMM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>

</table><br><br><BR><BR>

<center>1 daripada 1</center>

<br><br>

</div>
</div>
</fieldset>




