<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-RAN-04-01<br>BORANG MAKLUMBALAS LAWATAN SAMBIL BELAJAR</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">


<table width=100% cellspacing="0" cellpadding="7" border="0">
	<tr>
		<td><center><b><u>BORANG MAKLUMBALAS LAWATAN SAMBIL BELAJAR</b></u></center></td>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b>A. BUTIR-BUTIR PESERTA LATIHAN/KURSUS<b></td>
	<tr>
		<td>Nama Pelatih :</td>
	<tr>
		<td>No. K/P :</td>
	<tr>
		<td>Jawatan :</td>
	<tr>
		<td>Bahagian/Cawangan/Unit :</td>
</table><br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b>B. MAKLUMAT LAWATAN SAMBIL BELAJAR<b></td>
	<tr>
		<td>Nama Kursus :</td>
	<tr>
		<td>Tarikh Mula Kursus :</td>
	<tr>
		<td>Tarikh Tamat Kursus :</td>
	<tr>
		<td>Kursus Anjuran : PPL APMM / Ibu Pejabat <i>(Potong mana tidak berkaitan)</td>
	<tr>
		<td>Nama Tempat Lawatan :</td>
	<tr>
		<td>Tarikh Lawatan :</td>
</table><br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b><font size="2px">C. OBJEKTIF LAWATAN SAMBIL BELAJAR </b><i>(pelatih nyatakan objektif lawatan sambil belajar)<b></td>
	<tr>
		<td>1.<br><br></td>
	<tr>
		<td>2.<br><br></td>
	<tr>
		<td>3.<br><br></td>
	<tr>
		<td>4.<br><br></td>
</table><br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b><font size="2px">D. RINGKASAN PERKARA-PERKARA YANG DIPELAJARI </b><i>(pelatih nyatakan perkara yang telah dipelajari)</td>
	<tr>
		<td>1.<br><br></td>
	<tr>
		<td>2.<br><br></td>
	<tr>
		<td>3.<br><br></td>
	<tr>
		<td>4.<br><br></td>
</table><br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table><br>


<table width=100% cellspacing="0" border="0">
	<tr>
		<td>BK-LAT-RAN-04-01</td>
		<td><p align="right">1 daripada 3</p></td>
</table>


<br><br>

</div>
</div>
</fieldset>

<br><br><br>

<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-RAN-04-01<br>BORANG MAKLUMBALAS LAWATAN SAMBIL BELAJAR</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<br>


<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b><font size="2px">E. CADANGAN/MAKLUM BALAS </b><i>(pelatih nyatakan cadangan.maklumbalas sekiranya ada)<b></td>
	<tr>
		<td>1.<br><br></td>
	<tr>
		<td>2.<br><br></td>
	<tr>
		<td>3.<br><br></td>
	<tr>
		<td>4.<br><br></td>
	<tr>
		<td><br><br><br><br>
			Tarikh : ___________________________ Tandatangan : ___________________________<br><br>
		</td>
</table><br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b><font size="2px">F. ULASAN/CADANGAN OLEH KULA/KULL/KULU / JL / PENSYARAH<b></td>
	<tr>
		<td><br><br><br><br><br><br><br><br><br><br>
			Tarikh : ___________ Nama : ________________________Tandatangan : ______________<br><br>
		</td>
</table><br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b><font size="2px">G. ULASAN/CADANGAN OLEH KSPL/KSPU</b> <i>(sekiranya perlu)<b></td>
	<tr>
		<td><br><br><br><br><br><br><br><br><br><br>
			Tarikh : ___________ Nama : ________________________Tandatangan : ______________<br><br>
		</td>
</table><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table><br>


<table width=100% cellspacing="0" border="0">
	<tr>
		<td>BK-LAT-RAN-04-01</td>
		<td><p align="right">2 daripada 3</p></td>
</table>


<br><br>

</div>
</div>
</fieldset>

<br><br><br>

<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-RAN-04-01<br>BORANG MAKLUMBALAS LAWATAN SAMBIL BELAJAR</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b><font size="2px">H. ULASAN/TINDAKAN OLEH KAD</b> <i>(sekiranya perlu)<b></td>
	<tr>
		<td><br><br><br><br><br><br><br><br><br><br>
			Tarikh : ___________ Nama : ________________________Tandatangan : ______________<br><br>
		</td>
</table><br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b><font size="2px">I. ULASAN/TINDAKAN PPL</b> <i>(sekiranya perlu)<b></td>
	<tr>
		<td><br><br><br><br><br><br><br><br><br><br>
			Tarikh : ___________ Nama : ________________________Tandatangan : ______________<br><br>
		</td>
</table><br><br><br><br><br><br><br><br><br><br><br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table><br>


<table width=100% cellspacing="0" border="0">
	<tr>
		<td>BK-LAT-RAN-04-01</td>
		<td><p align="right">3 daripada 3</p></td>
</table>


<br><br>

</div>
</div>
</fieldset>


