<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-TBL-01-03<br>BORANG LAPORAN MENGHADIRI KURSUS</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="0">
	<tr>
		<td><font size="2px"><center><b><i>(Sila Kemukakan Kepada Bahagian Tadbir Bantuan Operasi dan Latihan Selepas Tamat Kursus)</i></b></font></center><br>
			<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="0">
				<tr>
					<td>1.</td>
					<td>Nama : .............................................................................................................................</td>
				<tr>
					<td>2.</td>
					<td>No. Kad Pengenalan : ......................................................................................................</td>
				<tr>
					<td>3.</td>
					<td>Jawatan : .........................................................................................................................</td>
				<tr>
					<td>4.</td>
					<td>Bahagian/Cawangan : ......................................................................................................</td>
				<tr>
					<td>5.</td>
					<td>Tajuk Kursus/Latihan : .....................................................................................................</td>
				<tr>
					<td>6.</td>
					<td>Tempat : ..........................................................................................................................</td>
				<tr>
					<td>7.</td>
					<td>Tarikh/Tempoh : ..............................................................................................................</td>
				<tr>
					<td>8.</td>
					<td>Perbelanjaan/Tajaan : ......................................................................................................</td>
				<tr>
					<td>9.</td>
					<td>Faedah-Faedah Yang Diperolehi Daripada Kursus/Latihan (Laporan Ringkas) :</td>
				<tr>
					<td></td>
					<td>..........................................................................................................................................</td>	
					<tr>
						<td></td>
						<td>..........................................................................................................................................</td>
						<tr>
							<td></td>
							<td>..........................................................................................................................................</td>
							<tr>
								<td></td>
								<td>..........................................................................................................................................</td>
								<tr>
									<td></td>
									<td>..........................................................................................................................................</td>
									<tr>
										<td></td>
										<td>..........................................................................................................................................</td>
										<tr>
											<td></td>
											<td>..........................................................................................................................................</td>
											<tr>
												<td></td>
												<td>..........................................................................................................................................</td>
												<tr>
													<td></td>
													<td>..........................................................................................................................................</td>
													<tr>
														<td></td>
														<td>..........................................................................................................................................</td>
														<tr>
															<td></td>
															<td>..........................................................................................................................................</td>
															<tr>
																<td></td>
																<td>..........................................................................................................................................</td>
																<tr>
																	<td></td>
																	<td>..........................................................................................................................................</td>
																	<tr>
																		<td></td>
																		<td>..........................................................................................................................................<br><br></td>
			<tr>
				<td>10.</td>
				<td>Laporan Kursus/Latihan (Sertakan Lampiran)</td>
					<tr>
						<td></td>
						<td>..........................................................................................................................................</td>
							<tr>
								<td></td>
								<td>..........................................................................................................................................</td>
									<tr>
										<td></td>
										<td>..........................................................................................................................................</td>
						
					
			</table>
			
			
			
			
			
			
		</td>	
</table>


<br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: STAF TBL</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table><br><br><br><br>

</div>
</div>
</fieldset>

