<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-TBL-01-04<br>BORANG KAJI SELIDIK KESEDARAN STAF TENTANG KERELEVENAN DAN KEPENTINGAN AKTIVITI</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">
	
<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="0">
	<tr>
		<td>Nama : .......................................................................................................................................<br><br>
			No. KP : ......................................................................................................................................</td>
</table>

<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td width=18%><br><center><b>BAHAGIAN</td>
		<td colspan=5><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="0">
			  <tr>
				<td><br><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr>
						<td><br></td>
					</table></td>
				<td width=20%><br><b>PUSAT LATIHAN</td>	
				<td><br><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr>
						<td><br></td>
					</table></td>
				<td width=20%><br><b>AKADEMI</td>
				<td><br><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr>
						<td><br></td>
					</table></td>
				<td width=15%><center><b>PEMBANGUNAN KOMPETENSI DAN KAWALAN MUTU</td>
					
			</table>
		</td>
</table><br>

<table width=100% cellspacing="0" cellpadding="4" font size="5px" border="1">
	<tr>
		<td rowspan=2><br><b><center>Bil</td>
		<td rowspan=2 width=75%><br><b><center>Fakta</td>
			<td><b><center>Amat Sesuai</td>
			<td><b><center>Sesuai</td>
			<td><b><center>Kurang Sesuai</td>
			<td><b><center>Tidak Sesuai</td>
			<td><b><center>Tidak Tahu</td>
				<tr>
					<td><b><center>5</td>
					<td><b><center>4</td>
					<td><b><center>3</td>
					<td><b><center>2</td>
					<td><b><center>1</td>
	<tr>
		<td><center>1.</td>
		<td>Adakah releven saya diperjawatkan di PPL APMM dengan kepakaran yang saya ada</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<tr>
			<td><center>2.</td>
			<td>Adakah kepakaran saya menyumbang di dalam pencapaian objektif kualiti PPL APMM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<tr>
				<td><center>3.</td>
				<td>Sejauh manakah sumbangan saya kepada objektif kualiti PPL APMM</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<tr>
					<td><center>4.</td>
					<td>Adakah saya menyumbang di dalam pencapaian dasar kualiti PPL APMM</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<tr>
						<td><center>5.</td>
						<td>Adakah saya telah melaksanakan tugas yang telah disenaraikan dengan berkesan</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<tr>
							<td><center>6.</td>
							<td>Adakah saya mempunyai motivasi yang konsisten dalam melakukan tanggungjawab dan tugas di PPL APMM</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<tr>
								<td><center>7.</td>
								<td>Sedarkah bahawa saya sesuai diperjawatkan di PPL APMM</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<tr>
									<td><center>8.</td>
									<td>Sejauh mana tahap disiplin saya Sebagai seorang staf di PPL APMM</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
</table><br>

<table width=100% cellspacing="0" cellpadding="4" font size="5px" border="0">
	<tr>
		<td colspan=2><p align="right"><b><i>Jumlah Skor Anda : ........................</td>
	<tr>
		<td><b><i>Skor:</td>
		<td><b><i>Keterangan:</td>
	<tr>
		<td colspan=2><p align="justify"><b>37 - 40 : Care-Why (Peningkatan Keperibadian)</b>. Staf amat releven dan mempunyai kesedaran yang tinggi dalam organisasi serta memiliki self motivation dalam membangunkan jati diri dan memiliki ciri-ciri modal insan kelas pertama serta berkemampuan menggunakan pengetahuan untuk meningkatkan daya saing,memacu dan berinovasi.<br><br>
			
		<b>31 - 36 : Know-Why (Tahu Kenapa)</b>. Staf amat releven kepada organisasi dan memahami sistem organisasi dengan baik dan berupaya mengeksploitasi idea-idea yang membawa keuntungan kepada organisasi.<br><br>
		
		<b>24 - 32: Know-How (Tahu Bagaimana)</b>. Staf memiliki advance skill atau memiliki kesedaran kerevenan kepada organisasi iaitu berupaya menterjemah pengetahuan dalam membantu setiap perancangan aktiviti di organisasi.<br><br>
		
		<b>8 - 23 : Know-What (Tahu Apa)</b>. Staf memiliki cognitive knowledge iaitu peka dan mengetahui dasar dan arahan kerja yang diberikan. Namun demikian staf masih lagi belum dapat menyesuaikan diri dalam organisasi.<br><br>
		
		<b>Kurang dari 8 : Unknown (Tidak Diketahui)</b>. Staf ini merupakan weak workers yang gagal melaksanakan tanggungjawab dan tidak berupaya menyumbang tenaga dalam peningkatan pengetahuan dalam organisasi. Staf perlu motivasi dan latihan
</table>


<br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: STAF TBL</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table><br><br><br><br>

</div>
</div>
</fieldset>

