<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-KS-02-02<br>BORANG KEDIAMAN ASRAMA</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<table width=100% cellspacing="0" cellpadding="7" border="0">
	<tr>
		<td><font size="3" face="arial"><center><b><u>BORANG KEDIAMAN ASRAMA</b></u></font></center></td>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td colspan=2 bgcolor=yellow><b>A. MAKLUMAT PELATIH</td>
	<tr>
		<td colspan=2>Nama Pelatih :</td>
	<tr>
		<td colspan=2>No. K/P :</td>
	<tr>
		<td>Pangkat :</td>
		<td width=50%>Jawatan :</td>
	<tr>
		<td colspan=2>Unit/Bahagian/Cawangan :</td>
	<tr>
		<td colspan=2>Nama Kursus :</td>

	<tr>
		<td colspan=2>Tarikh Mula Kursus :</td>

	<tr>
		<td colspan=2>Tarikh Tamat Kursus :</td>
		
		<tr>
			<td colspan=2>Alamat Rumah :<br><br><br><br></td>
			
			<tr>
				<td colspan=2>No. Tel Bimbit :</td>
				
				<tr>
					<td>No. Kenderaan :</td>
					<td>Jenis Kenderaan:</td>

</table>
<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
    <tr>
		<td colspan=2 bgcolor=yellow><b>B. PENEMPATAN ASRAMA</td>
	<tr>
		<td>Asrama : Asas Lelaki / Wanita/ Pegawai</td>
		<td width=40%>Bilik No.</td>
	<tr>
		<td colspan=2>Bilangan Kunci Diberikan :</td>
	<tr>
		<td colspan=2><br>Deposit dikenakan:____________________ Catatan Dalam Buku Kediaman : Ada / Tiada</td>	
	<tr>
		<td colspan=2><table width=100% cellspacing="0" cellpadding="1" font size="5px" border="0">
			          <tr>
				         <td>Keperluan Sajian :</td>
				         <td><center>Ya</td>
				         <td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					         <tr><td><br></td>
						     </table>
						 <td><center>Tidak</td>
					     <td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
						     <tr><td><br></td>
							 </table>
			             <td width=20%></td>
			          </table>
		</td>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td colspan=8 bgcolor=yellow><b>C. TANDATANGAN</td>
			<tr>
				<td><table width=100% cellspacing="0" cellpadding="2" font size="5px" border="0">
					<tr>
	
						<td width=50% colspan=2><b>Oleh : Pelatih<br><br></td>
						<td width=50% colspan=2><b>Oleh : KULA/BLA/JL</td>
					<tr>
	
						<td>Nama Pelatih : <br><br></td>
						<td>________________________</td>
						<td>Nama : </td>
						<td>________________________</td>
						<tr>

							<td>Tandatangan: <br><br></td>
							<td>________________________</td>
							<td>Tandatangan : </td>
							<td>________________________</td>
							<tr>
		
								<td>Tarikh  : <br><br></td>
								<td>________________________</td>
								<td>Tarikh  : </td>
								<td>________________________</td>
					</table>

			    </td>

</table>

<br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table>

<p align="right">1 daripada 2</p>

<p align="left">BK-LAT-KS-02-02</p><br><br>

</div>
</div>
</fieldset>

<br><br><br>


<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-KS-02-02<br>BORANG KEDIAMAN ASRAMA</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td><br><br><br><br><br><br><br><br></td>
	<tr>
		<td>
			<b>Nota :</b><br><br>
			   1. Deposit akan dikembalikan apabila pelatih selesai menjalani kursus. <br><br>
			   2. Kenderaan hanya dibenarkan hanya untuk peserta kursus lanjutan/undang-undang sahaja.</td>

</table>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table>

<p align="right">2 daripada 2</p>

<p align="left">BK-LAT-KS-02-02</p><br><br>

</div>
</div>
</fieldset>

