<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
	
	<br>
		<center><br><font face="arial"><b>SULIT DARIHAL ANGGOTA</b></font></center><br><br>
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<BR>NO.DOKUMEN: BK-KKM-03-02<br><br>BORANG LAPORAN PENILAIAN<br>LATIHAN SAMBIL KERJA</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>



<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="0" bordercolor=black >
<tr>
	<td>1.</td>
	<td>Laporan ini adalah hasil daripada maklumbalas yang diberi oleh Pelatih dan pemerhatian Penilai yang berkenaan. Laporan ini bermatlamat untuk menambahbaik proses Latihan Sambil Kerja di unit penempatan dan <b>tidak berhasrat</b> untuk <b>menuduh</b> atau <b>menyalahkan mana-mana individu dan organisasi.</b></td>
</tr>
<tr>
	<td>2.</td>
	<td>Segala laporan ketidakpatuhan yang dinyatakan adalah berdasarkan Arahan Latihan Sambil Kerja yang berkuatkuasa sekarang dan Buku Tugas Tentu yang dibekalkan kepada Pelatih. Adalah diharapkan dengan maklum balas ini pihak unit penempatan dapat meningkatkan mutu Latihan Sambil Kerja dalam memastikan kesinambungan pembelajaran tidak terjejas.</td>
</tr>
<tr>
	<td>3.</td>
	<td>Sila memaklumkan Pusat Pendidikan dan Latihan ini mengenai tindakan pembetulan <i>(corrective)</i> dan pencegahan <i>(preventive)</i> yang telah diambil untuk mengatasi serta menghindar berlakunya ketidakpatuhan yang dilaporkan.</td>
</tr>

</table>

<br><br>

<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black >
	<tr>
		<td><font face="arial"><br>Unit Penempatan :........................................................................................................................................<br><br>
			Nama Pegawai Memerintah : .......................................................................................................................<br><br>
			Nama Pegawai Latihan :...............................................................................................................................<br><br>
			Nama Penyelia Latihan :...............................................................................................................................<br><br>
	Jumlah Pelatih : .................... Kelasi : ...................... Teknikal : ..................... Perkhidmatan : ....................<br><br>
	Tarikh Penilaian : ..............................<br><br>
	Gred Penilaian :<form>
	<input type="checkbox" name="vehicle" value="Bike" />MENEPATI KEPERLUAN LSK
	<input type="checkbox" name="vehicle" value="Car" />TIDAK MENEPATI KEPERLUAN LSK
	</form>
</table>



<br><br><br> <br><br>

<center><font face="arial">1 daripada 4<br><br>
	SULIT DARIHAL ANGGOTA</font></center>

<br><br><br>

</div>

</fieldset><br><br>



<fieldset width=10px >

<div id="title">
	<br>
	<center><font face="arial">SULIT DARIHAL ANGGOTA<br><br><br><br>
		  <font size=2> Jadual 1 - <b><u>JADUAL GRED PENILAIAN</u></b></font></center><br><br>
		
<center><table width=70% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
		<tr>
			<td><center><b>TAHAP</b></center></td>
			<td><center><b>GRED PENILAIAN</b></center></td>
		</tr>
		<tr>
			<td><center><b>Cemerlang</b></center></td>
			<td><center><b>5</b></center></td>
		</tr>
		<tr>
			<td><center><b>Baik</b></center></td>
			<td><center><b>4</b></center></td>
		</tr>
		<tr>
			<td><center><b>Sederhana</b></center></td>
			<td><center><b>3</b></center></td>
		</tr>
		<tr>
			<td><center><b>Lemah</b></center></td>
			<td><center><b>2</b></center></td>
		</tr>
		<tr>
			<td><center><b>Sangat Lemah</b></center></td>
			<td><center><b>1</b></center></td>
		</tr>
		</table>
		</center><br><br>
			
			
			
			
			

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
<tr>
	<td bgcolor=yellow><b>BAHAGIAN 1 - PENYELIA*</b></td>
</tr>
</table><br><br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
<tr>
	<td></td>
	<td></td>
	<td><center><b>1</b></center></td>
	<td><center><b>2</b></center></td>
	<td><center><b>3</b></center></td>
	<td><center><b>4</b></center></td>
	<td><center><b>5</b></center></td>
</tr>
<tr>
	<td><center>1</center>
    <td width=60%>Pengetahuan dan Kemahiran.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>2</center>
    <td>Keupayaan meransang pelatih.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>3</center>
    <td>Kebolehan mengendalikan SoalJawab.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>4</center>
    <td>Penyampaian dan pemahaman pelatih.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>5</center>
    <td>Penilaian keseluruhan penyelia.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>



</table><br><br>


<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
<tr>
	<td bgcolor=yellow><b>BAHAGIAN 2 - ORGANISASI**</b></td>
</tr>
</table><br><br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
<tr>
	<td></td>
	<td></td>
	<td><center><b>1</b></center></td>
	<td><center><b>2</b></center></td>
	<td><center><b>3</b></center></td>
	<td><center><b>4</b></center></td>
	<td><center><b>5</b></center></td>
</tr>
<tr>
	<td><center>1</center>
    <td width=60%>Komitmen Organisasi terhadap latihan.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>2</center>
    <td>Jumlah Operasi melibatkan pelatih.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>3</center>
    <td>Bilangan Latihan Individu (INDEX) kapal untuk pelatih.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>4</center>
    <td>Pelantikan Pegawai Latihan.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>5</center>
    <td>Tempoh masa latihan di kapal.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>



</table><br><br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
<tr>
	<td bgcolor=yellow><b>BAHAGIAN 3 - PLATFORM DAN PERSEKITARAN**</b></td>
</tr>
</table><br><br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
<tr>
	<td></td>
	<td></td>
	<td><center><b>1</b></center></td>
	<td><center><b>2</b></center></td>
	<td><center><b>3</b></center></td>
	<td><center><b>4</b></center></td>
	<td><center><b>5</b></center></td>
</tr>
<tr>
	<td><center>1</center>
    <td width=60%>Kesesuaian bilangan pelatih yang menjalani LSK dikapal/pejabat.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>2</center>
    <td>Pembelajaran di PPL APMM sesuai/relevan dengan Unit kapal/pejabat.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>3</center>
    <td>Kesesuaian penempatan bagi pelatih wanita di kapal.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>4</center>
    <td>Pelatih ditumpangkan ke unit yang beroperasi jika unit sebenar dalam pembaikan dilimbungan.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>5</center>
    <td>LSK adalah tidak relevan dikapal dan latihan yang bersesuaian memadai di PPL APMM.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>



</table><br><br>





<center><font face="arial">2 daripada 4<br><br>
	SULIT DARIHAL ANGGOTA</font></center><br><br>

</div>
</fieldset>


<br><br>

<fieldset width=10px >

<div id="title">
	<br>
	<center><font face="arial">SULIT DARIHAL ANGGOTA</font></b></center><br><br>
<br><br>
	
<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
<tr>
	<td bgcolor=yellow><b>BAHAGIAN 4 - BUKU TUGAS TENTU***</b></td>
</tr>
</table><br><br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
<tr>
	<td></td>
	<td></td>
	<td><center><b>1</b></center></td>
	<td><center><b>2</b></center></td>
	<td><center><b>3</b></center></td>
	<td><center><b>4</b></center></td>
	<td><center><b>5</b></center></td>
</tr>
<tr>
	<td><center>1</center>
    <td width=60%>BTT relevan dan memenuhi keperluan operasi semasa.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>2</center>
    <td>BTT disemak semasa mingguan dan bulanan.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>3</center>
    <td>BTT sentiasa dikemaskini oleh pelatih LSK.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>4</center>
    <td>BTT disiapkan mengikut masa yang ditetapkan.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
	<td><center>5</center>
    <td>Terdapat <i>’assigment’</i> tambahan didalam BTT.</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>



</table><br><br>

<font size=1>Nota : * &nbsp;&nbsp;Kajiselidik kepada pelatih LSK<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;** &nbsp;Kajiselidik kepada Unit LSK<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*** Kajiselidik oleh Pegawai Validasi</font><br><br>


<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
	<tr>
		<td>PEMERHATIAN/ULASAN :<br><br>
			........................................................................................................................................................................<br><br>
			........................................................................................................................................................................<br><br>
			........................................................................................................................................................................<br><br>
			........................................................................................................................................................................<br><br>
			........................................................................................................................................................................<br><br>
			</td>
			</tr>

			<tr>
				<td>CADANGAN :<br><br>
					........................................................................................................................................................................<br><br>
					........................................................................................................................................................................<br><br>
					........................................................................................................................................................................<br><br>
					........................................................................................................................................................................<br><br>
					
					</td>
					</tr>
					
					<tr>
						<td>PEMERHATIAN/ULASAN :<br><br>
							........................................................................................................................................................................<br><br>
							........................................................................................................................................................................<br><br>
							........................................................................................................................................................................<br><br>
							........................................................................................................................................................................<br><br>
							
							</td>
							</tr>

</table>

<br><br><br><br>
<center><font face="arial">3 daripada 4<br><br>
	SULIT DARIHAL ANGGOTA</font></center><br><br>
		
		


</div>
</fieldset>


<br><br><br>

<fieldset width=10px >

<div id="title">
	<br>
	<center><font face="arial">SULIT DARIHAL ANGGOTA</center><br><br><br>
	
	
<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1" bordercolor=black >
	<tr>
		<td colspan=2><font face="arial">
	    CADANGAN :<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
</font>
        </td>
    </tr>


	</table><br><br>
	
<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="0" bordercolor=black >
	<tr>
		<td width=60%>Dilaporkan Oleh : ..............................................................<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ketua Tim Penilai
			</td>
		<td>Tarikh : ....................................</td>
		</table>	<br><br>
	
		<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="0" bordercolor=black >
			<tr>
				<td colspan=2><font face="arial">
			    <b>ULASAN KETUA BAHAGIAN PEMBANGUNAN KOMPETENSI DAN KAWALAN MUTU:</b><br><br>
		.......................................................................................................................................................................<br><br>
		.......................................................................................................................................................................<br><br>
		.......................................................................................................................................................................<br><br>
		.......................................................................................................................................................................<br><br></td></tr>
<tr><td>	Gred Penilaian :	</td>
		<td><form>
		<input type="checkbox" name="vehicle" value="Bike" /> MENEPATI KEPERLUAN LSK
		<input type="checkbox" name="vehicle" value="Car" /> TIDAK MENEPATI KEPERLUAN LSK</font>
		</form>
		</font>
		        </td>
		    </tr>


			</table><br><br>	
	
		<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="0" bordercolor=black >
			
			<tr>
				<td width=60%>Oleh : .........................................................................<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ketua Bahagian<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pembangunan Kompetensi dan Kawalan Mutu</td>
				<td>Tarikh :......................................</td>
			
			</table>


<br><br><br><br><br><br>


<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN OLEH: BKKM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DISEMBER 2011</th>
	</tr>

</table>

<br><br>
<center><font face="arial">4 daripada 4<br><br>
	SULIT DARIHAL ANGGOTA</font></center><br><br>
		
		

</div>
</div>
</fieldset>

