<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="100"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-KKM-01-03<BR>BORANG LAPORAN KURSUS</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="100"/></th>
	</tr>
</table>

<div id="title">


<br>

<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr>
		<td rowspan=9 width=4%><b><center>A.</b></center></td>
			<td><b>BUTIR KURSUS</td><td width=60%></td>
			<tr><td><b>1. NO. LAPORAN</td><td></td>
			<tr><td><b>2. KURSUS</td><td></td>
			<tr><td><b>3. SIRI</td><td></td>	
			<tr><td><b>4. TARIKH MULA</td><td></td>	
			<tr><td><b>5. TARIKH TAMAT</td><td></td>	
			<tr><td><b>6. JUMLAH WAKTU PENGAJARAN</b><br>
				          &nbsp;&nbsp;&nbsp;&nbsp;(a) Yang Dirancang<br>
				          &nbsp;&nbsp;&nbsp;&nbsp;(b) Yang Sebenar
				        </td><td><br>(a)<br>(b)</td>	
			<tr><td><b>7. JUMLAH PELATIH</b><br>
				          &nbsp;&nbsp;&nbsp;&nbsp;(a) Permulaan<br>
						  &nbsp;&nbsp;&nbsp;&nbsp;(b) Masuk Selepas Bermula<br>
						  &nbsp;&nbsp;&nbsp;&nbsp;(c) Keluar Dari Kursus<br>
						  &nbsp;&nbsp;&nbsp;&nbsp;(d) Tamat Kursus<br>
						             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(1) Lulus<br>
				                     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) Lulus Bersyarat<br>
									 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3) Gagal<br>
				</td><td><br>(a)<br>(b)<br>(c)<br>(d)<br>
					      &nbsp;&nbsp;&nbsp;&nbsp;(1)<br>
					      &nbsp;&nbsp;&nbsp;&nbsp;(2)<br>
					      &nbsp;&nbsp;&nbsp;&nbsp;(3)<br></td>	
			<tr><td><b>8. SILIBUS YANG DIGUNAKAN</b><br>
						  &nbsp;&nbsp;&nbsp;&nbsp;(a) Rujuk Kuasa<br>
					      &nbsp;&nbsp;&nbsp;&nbsp;(b) Badan Pengesahan<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Penggunaan<br>
				</td><td><br>(a) Dasar Latihan<br>
							 (b) Panel Latihan</td>	
								</tr>
		<tr>
			<td><b><center>B.</b></center></td>
			<td><b>PENCAPAIAN LATIHAN</b></td>
			<td></td>
			</tr>
			
		<tr>
			<td rowspan=9><b><center>C.</b></center></td>
			<td><b>ULASAN AM</b></td><td></td>
		    <tr><td><b>1. PENTADBIRAN</b></td><td></td>
			<tr><td><b>2. JURULATIH/PENSYARAH</b></td><td></td>
			<tr><td><b>3. PELATIH</b></td><td></td>
			<tr><td><b>4. PERANCANGAN KURSUS</b></td><td></td>
			<tr><td><b>5. KANDUNGAN KURSUS</b></td><td></td>
			<tr><td><b>6. PENYAMPAIAN KURSUS</b></td><td></td>
			<tr><td><b>7. ALAT BANTUAN MENGAJAR</b></td><td></td>
			<tr><td><b>8. PEPERIKSAAN</b></td><td></td>
</table>


<br><br><br> 
<center>1 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>




<br><br>


<fieldset width=10px >

<div id="title">


<div id="title">

	<br>

<br>

<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr>
		<td width=4%><b><center>D.</b></center></td>
			<td><b><u>TINDAKAN</u>:<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></td>
	</tr>
	
	<tr>
		<td width=4%><b><center>E.</b></center></td>
			<td><b><u>CADANGAN</u>:<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></td>
	</tr>
	</table>

<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>	
	<tr>
		<td width=50%><b>Laporan Oleh:<br><br><br><br><br><br>
			..................................................<br>
			Nama :<br>
			Pkt. :<br>
			Jawatan: &nbsp;&nbsp;&nbsp;Bahagian Pembangunan<br>
			                           Kompetensi dan Kawalan<br>
			                           Mutu</b></td>
			
		<td width=50%><b>Disahkan Oleh:<br><br><br><br><br><br>
			..................................................<br>
			Nama :<br>
			Pkt. :<br>
			Jawatan: &nbsp;&nbsp;&nbsp;Ketua Penolong Pengarah<br>
									   Pembangunan Kompetensi dan<br>
									   Kawalan Mutu</b></td>	   
	
</table>


<br><br><br> <br><br>
<center>2 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>


<br><br>


<fieldset width=10px >

<div id="title">


	<br>

<br>

<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr>
		<td><b>Komen Oleh Komandan Akademi:</b><br><br>
			.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br>
.....................................................................................................................................................................<br><br><br><br><br><br>

		
....................................................<br>
<b>Nama:<br>
   Pkt. :<br>
   Jawatan :
   </td>
</tr>
</table>


<br><br><br><br><br><br><br><br><br> 

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN OLEH: BKKM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>

</table>

<br><br>
<center>3 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>


