<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-KS-02-03<br>BORANG MAKLUMAT PERIBADI</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<table width=100% cellspacing="0" cellpadding="1" border="0">
	<tr>
		<td width=22%></td>
		<td width=56%><center><b>PUSAT PENDIDIKAN DAN LATIHAN APMM<br>
			   AGENSI PENGUATKUASAAN MARITIM MALAYSIA<br>
			   JABATAN PERDANA MENTERI<br><br>
			   
			   <font size="4px"><u>BORANG MAKLUMAT PERIBADI</b></u><br></font>
				                <i>(Diisi dalam 2 salinan)</center></td>
		<td width=22%><center><table width=90% cellspacing="0" cellpadding="7" border="1">
			<tr>
				<td><br><br></td>
			<tr>
				<td><font size="2px"><center>Gambar Terbaru <br>(size passport)</center></font></td>
			<tr>
				<td><br><br></td>
			</table></center>
	    </td>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td colspan=2 bgcolor=yellow><b>A. MAKLUMAT PERIBADI PELATIH</td>
	<tr>
		<td colspan=2>Nama Pelatih :</td>
	<tr>
		<td>No. K/P (Baru) :</td>
		<td>Umur :</td>
	<tr>
		<td>Tarikh Lahir :</td>
		<td width=50%>Tempat Lahir :</td>
	<tr>
		<td>Jantina : Lelaki / Perempuan</td>
		<td>Status Perkahwinan : Bujang / Janda / Duda</td>
	<tr>
		<td>No. APMM :</td>
		<td>No. Kad Kuasa :</td>

	<tr>
		<td>No. Insuran :</td>
		<td>Jenis Insuran :</td>

	<tr>
		<td colspan=2>Jenis Darah :</td>
		
	<tr>
		<td>Bangsa / Keturunan :</td>
		<td>Agama :</td>
			
	<tr>
		<td>Kelulusan Akademik : SPM / STPM / DIPLOMA / IJAZAH / MASTER / PHD</td>
		<td>No. Tel Bimbit :</td>
				
	<tr>
		<td>Pangkat :<br><br></td>
		<td>Unit/Bahagian/Cawangan :</td>
	
	<tr>
		<td colspan=2>Alamat Pejabat :<br><br><br><br><br><br>
			          Poskod : ________________________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			          No. Telefon Pejabat : _________________<br><br></td>
			
	<tr>
		<td colspan=2>Emel <i>(sekiranya ada) :</td>
	
	<tr>
		<td>Nama Bapa :</td>
		<td>No Tel :</td>
	
	<tr>
		<td>Nama Ibu :</td>
		<td>No Tel :</td>
			
	<tr>
		<td>Nama Isteri/Waris <i>(sekiranya perlu) :<br><br></td>
		<td>No Tel :</td>
	
	<tr>
		<td colspan=2>Alamat Rumah :<br><br><br><br>
			Poskod : ____________________________<br><br></td>

</table>
<br>


<br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>

</table>

<p align="right">1 daripada 3</p>

<p align="left">BK-LAT-KS-02-03</p><br><br>

</div>
</div>
</fieldset>

<br><br><br>


<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-KS-02-03<br>BORANG MAKLUMAT PERIBADI</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td>No. Tel Rumah <i>(sekiranya ada) :</td>
	<tr>
		<td>Nama Anak :<br><br>
			<table width=100% cellspacing="0" cellpadding="1" font size="5px" border="0">
				<tr>
					<td>1.<br><br></td>
					<td>5.</td>
				<tr>
					<td>2.<br><br></td>
					<td>6.</td>
				<tr>
					<td>3.<br><br></td>
					<td>7.</td>
				<tr>
					<td>4.<br><br></td>
					<td>8.</td>
			</table>
        </td>
     <tr>
	    <td>Jenis Kenderaan : 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    No. Kenderaan :</td>
</table>
<p align="left">Nota :<br><br>
1. Kenderaan hanya dibenarkan hanya untuk peserta kursus lanjutan/undang-undang sahaja</p><br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><b>A. MAKLUMAT PERIBADI PELATIH</b> <i>(sambungan...)</td>
	<tr>
		<td>Pengalaman Kerja <i>(sekiranya ada, selain dari APMM):</i><br>
			<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="0">
				<tr>
					<td></td>
					<td></td>
					<td width=35%><center><b>Nama Organisasi</td>
					<td width=25%><center><b>Jawatan</td>
					<td width=30%><center><b>Tempat</td>
				<tr>
					<td></td>
					<td><center>1.</td>
					<td><center><b>_______________________</td>
					<td><center><b>________________</td>
					<td><center><b>___________________</td>
				<tr>
					<td></td>
					<td><center>2.</td>
					<td><center><b>_______________________</td>
					<td><center><b>________________</td>
					<td><center><b>___________________</td>
				<tr>
					<td></td>
					<td><center>3.</td>
					<td><center><b>_______________________</td>
					<td><center><b>________________</td>
					<td><center><b>___________________</td>
				<tr>
					<td></td>
					<td><center>4.</td>
					<td><center><b>_______________________</td>
					<td><center><b>________________</td>
					<td><center><b>___________________</td>
			
			</table>
		</td>
	<tr>
		<td bgcolor=yellow><b>B. MAKLUMAT KURSUS / PENGINAPAN / SAJIAN</td>	
	<tr>
		<td>Nama Kursus :</td>
	<tr>
		<td>Tarikh Mula :</td>
	<tr>
		<td>Tarikh Tamat :</td>
	<tr>
		<td><table width=100% cellspacing="0" cellpadding="2" font size="5px" border="0">
			<tr>
				<td width=50%>Keperluan Penginapan :</td>
				<td width=5%>Ya</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=8%>Tidak</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=20%></td>
			<tr>
				<td>Keperluan Sajian :</td>
				<td width=5%>Ya</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=8%>Tidak</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=20%></td>
			
					
					
			</table>
			<i>Maklumat lanjut Ruju BK-LAT-KS-02-02 (Borang Kediaman Asrama)</i>
		</td>
</table><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>

</table>

<p align="right">2 daripada 3</p>

<p align="left">BK-LAT-KS-02-03</p><br><br>

</div>
</div>
</fieldset>

<br><br><br>

<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-KS-02-03<br>BORANG MAKLUMAT PERIBADI</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><font size="2px"><b>C. SALINAN REKOD / DOKUMEN / BARANGAN YANG DISERAHKAN </b><i>(mana-mana yang perlu)</td>	
	<tr>
		<td>Senarai Rekod/Dokumen Yang Diserahkan :
			<table width=100% cellspacing="0" cellpadding="2" font size="5px" border="0">
			<tr>
				<td width=50%>1. Salinan Kad Pengenalan </td>
				<td width=5%>Ya</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=8%>Tidak</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=20%></td>
			<tr>
				<td>2.	Salinan Surat Beranak </td>
				<td width=5%>Ya</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=8%>Tidak</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=20%></td>
				<tr>
					<td>3. Salinan Sijil Kelulusan Akademik </td>
					<td width=5%>Ya</td>
					<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
						<tr><td><br></td>
						</table>
					</td>
					<td width=8%>Tidak</td>
					<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
						<tr><td><br></td>
						</table>
					</td>
					<td width=20%></td>
					<tr>
						<td>4. ___________________________ </td>
						<td width=5%>Ya</td>
						<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
							<tr><td><br></td>
							</table>
						</td>
						<td width=8%>Tidak</td>
						<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
							<tr><td><br></td>
							</table>
						</td>
						<td width=20%></td>
						<tr>
							<td>5. ___________________________ </td>
							<td width=5%>Ya</td>
							<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
								<tr><td><br></td>
								</table>
							</td>
							<td width=8%>Tidak</td>
							<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
								<tr><td><br></td>
								</table>
							</td>
							<td width=20%></td>
							<tr>
								<td>6. ___________________________ </td>
								<td width=5%>Ya</td>
								<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
									<tr><td><br></td>
									</table>
								</td>
								<td width=8%>Tidak</td>
								<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
									<tr><td><br></td>
									</table>
								</td>
								<td width=20%></td>
          </table><br>
        <table width=100% cellspacing="0" cellpadding="2" font size="5px" border="0">
			<tr>
				<td width=65%>Mempunyai Barangan Yang Diserahkan Untuk Simpanan</td>
				<td width=5%>Ya</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=8%>Tidak</td>
				<td><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr><td><br></td>
					</table>
				</td>
				<td width=5%></td>
		</table><br>

			<i>Maklumat lanjut Rujuk BK-LAT-KS-02-01 (Borang Simpanan Barangan Peribadi Pelatih)</i>
		</td>
	<tr>
		<td bgcolor=yellow><b>D. PENGESAHAN DAN TANDATANGAN</td>
	<tr>
		<td>Saya mengesahkan bahawa maklumat yang dinyatakan di atas adalah benar.<br><br>
			<table width=100% cellspacing="0" cellpadding="1" font size="5px" border="0">
				<tr>
					<td width=50% colspan=2><b>Oleh : Pelatih<br><br></td>
					<td colspan=2><b>Diterima / Disahkan Oleh : KULA/BLA/JL</td>
				<tr>
					<td>Nama Pelatih :<br><br></td>
					<td>_____________________</td>
					<td>Nama :</td>
					<td>_____________________</td>
				<tr>
					<td>Tandatangan :<br><br></td>
					<td>_____________________</td>
					<td>Tandatangan :</td>
					<td>_____________________</td>
				<tr>
					<td>Tarikh :<br><br></td>
					<td>_____________________</td>
					<td>Tarikh :</td>
					<td>_____________________</td>
			</table>
				
	    </td>
</table><br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td>
			<b>Nota :</b><br><br>
			  <table width=100% cellspacing="0" cellpadding="1" font size="5px" border="0">
				<tr>
					<td width=3%>1.</td>
			        <td>Borang perlu diisi dalam 2 salinan untuk :<br><br></td>
			   	<tr>
					<td></td>
				     <td>Simpanan Fail Peribadi : 1 salinan<br>
					     Simpanan Pelatih : 1 salinan</td>
               </table>
        </td>
</table><br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>

</table>

<p align="right">3 daripada 3</p>

<p align="left">BK-LAT-KS-02-03</p><br><br>

</div>
</div>
</fieldset>

