<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><br><H4>PPL APMM<br>NO.DOKUMEN: BK-LAT-TBL-07-02<br>BORANG PENILAIAN PRESTASI PEMBEKAL</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<table width=100% cellspacing="0" cellpadding="5" border="0">
	<tr>
		<td colspan=2><font color="black", size="4"><center><b><u>BORANG PENILAIAN PRESTASI PEMBEKAL/KONTRAKTOR</u></b></center><br></td>
	<tr>
		<td width=50%>No. LO / Kontrak</td>
		<td>: ......................................................................</td>
	<tr>
		<td>Tarikh LO / Kontrak</td>
		<td>: ......................................................................</td>
	<tr>
		<td>Tarikh Penerimaan Bekalan/Perkhidmatan</td>
		<td>: ......................................................................</td>
	<tr>
		<td>Nama Syarikat</td>
		<td>: ......................................................................</td>	
	<tr>
		<td>Alamat</td>
		<td>: ......................................................................</td>
	<tr>
		<td></td>
		<td> &nbsp;&nbsp;......................................................................</td>
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;......................................................................</td>	
	<tr>
		<td>Perihal Bekalan/Perkhidmatan</td>
		<td>: ......................................................................</td>	
	<tr>
		<td></td>
		<td>&nbsp;&nbsp;......................................................................</td>	
</table><br>

<center><table width=80% cellspacing="0" cellpadding="1" border="1">
	<tr bgcolor=yellow>
		<td><center>1</td>
		<td><center>2</td>
		<td><center>3</td>
		<td><center>4</td>
		<td><center>5</td>
     <tr>
		<td><center>Amat Lemah</td>
		<td><center>Lemah</td>
		<td><center>Memuaskan</td>
		<td width=15%><center>Baik</td>
		<td><center>Cemerlang</td>
</table></center>

<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr bgcolor=yellow>
		<td><center>BIL</td>
		<td><center>PERKARA</td>
		<td><center>PRESTASI</td>
	<tr>
		<td>1.</td>
		<td>Bekalan yang dihantar memenuhi spesifikasi</td>
		<td></td>
	<tr>
		<td>2.</td>
		<td>Bekalan sampai pada masa yang diperlukan</td>
		<td></td>
	<tr>
		<td>3.</td>
		<td>Kuantiti bekalan mencukupi</td>
		<td></td>
	<tr>
		<td>4.</td>
		<td>Bekalan boleh digunakan dengan sempurna</td>
		<td></td>
	<tr>
		<td>5.</td>
		<td>Perkhidmatan dibekalkan mengikut masa yang ditetapkan</td>
		<td></td>
	<tr>
		<td>6.</td>
		<td>Perkhidmatan memenuhi keperluan dan kehendak pelanggan</td>
		<td></td>
	<tr>
		<td>7.</td>
		<td>Perkhidmatan bersesuaian dengan kepakaran</td>
		<td></td>
	<tr>
		<td>8.</td>
		<td>Mematuhi perkara-perkara dalam syarat kontrak/sebutharga</td>
		<td></td>
			
</table><br>

<font face="arial" size="2px">Komen/Cadangan</font><br><br>

<table width=100% cellspacing="0" border="1">
	<tr><td><br><br><br><br><br><br></td>
</table><br>

<font face="arial" size="2px">Tandatangan : ........................................................<br><br>
Nama : ..................................................................<br><br>
Jawatan : .............................................................. <br><br>
Tarikh : .................................................................<br><br></font>


<br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: STAF TBL</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 1 FEB 2012</th>
	</tr>
</table>

<br><br><br><br>

</div>
</div>
</fieldset>

