<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR>NO.DOKUMEN: BK-KKM-04-01<BR><br>BORANG PENILAIAN DIRI UNTUK JURULATIH</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>

<div id="title">



<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr>
		<td colspan=6><table width=100% cellspacing="0" cellpadding="5" font size="5px" border="0" bordercolor=black><b><u>TUJUAN</u></b></td>
	<tr>		
        <td>&#149;</td> 
        <td colspan=6>Panduan ini adalah untuk anda sendiri mengukur tahap kebolehan anda untuk melakukan tugas sebagai seorang jurulatih. Tiada sesiapa perlu melihat pencapaian anda. Jujurlah dengan diri anda sendiri. Jangan keterlaluan dalam memberi skor dan kenalpasti aspek yang perlu anda perbaiki.</td>
    
    <tr>
	    <td>&#149;</td>
	    <td colspan=6>Borang ini perlu diisi oleh anda setiap 3 BULAN bagi mengukur kebolehan anda dan ianya akan diaudit oleh staf penilai Bahagian Pembangunan Kompetensi dan Kawalan Mutu.</td>
	
	<tr>
		<td rowspan=2>&#149;</td>
		<td colspan=6>Teliti setiap soalan betul-betul, kemudian isikan ruang dengan skor yang memaparkan pengamalan anda dalam melaksanakan tugas kejurulatihan. Skor yang diguna pakai adalah seperti berikut:</td>
			<tr>
				<td width=50%><ul><li>Jika dipraktikkan setiap masa
				<li>Jika kerap dipraktikkan
				<li>Jika jarang atau tidak dipraktikkan
			</ul></td>
	             <td><b>- 2<br>
		                - 1<br>
		                - 0</td>
		
	<tr>
		<td  rowspan=2>&#149;</td>
		<td colspan=6>Jika pencapaian skor anda adalah di bawah 79, anda harus sedar bahawa anda memerlukan peningkatan kemahiran sikap dan pengetahuan. Anda dikehendaki mengubah cara dan tabiat mengajar demi kepentingan pelatih dan organisasi ini.</td>
		  	<tr>
				<td width=50%><ul><li>90 dan ke atas
				<li>89 - 65
				<li>64 atau kurang
			</ul></td>
	             <td><b>- BAIK<br>
		                - MEMUASKAN<br>
		                - TIDAK MEMUASKAN</td>
		
    <tr>
		 <td>&#149;</td>
		 <td colspan=6>Sila hubungi Bahagian Pembangunan Kompetensi dan Kawalan Mutu untuk perbincangan dan bantuan khidmat nasihat.</td></table>
   
   <tr bgcolor=yellow>
	  <td width=7%><b><center>SIRI</td>
	  <td width=70%><b><center>SOALAN</td>
	  <td><b><center>2</td>
	  <td><b><center>1</td>
	  <td><b><center>0</td>
		
   <tr>
	  <td>1.</td>
	  <td>Adakah saya menyusun tempat duduk di bilik darjah agar semua pelatih dapat mengikut pembelajaran dengan selesa?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>2.</td>
	  <td>Adakah saya memastikan semua pelatih berada di dalam bilik darjah yang cukup terang pencahayaan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>3.</td>
	  <td>Adakah saya mempunyai bahan bantuan mengajar yang mencukupi bila diperlukan?</td>
	  <td></td>
	  <td></td>
	  <td></td>

   <tr>
	  <td>4.</td>
	  <td>Adakah saya memperkenalkan diri terlebih dahulu sebelum memulakan pelajaran di awal pembelajaran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>5.</td>
	  <td>Bolehkah saya mengingatkan nama semua pelatih dalam bilik darjah?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>6.</td>
	  <td>Adakah saya memperoleh maklumat secukupnya bagi setiap pelatih dari kad rekod mereka?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>7.</td>
	  <td>Adakah saya berbincang dengan Pegawai Bahagian dan Ketua Bahagian pelatih sewajarnya?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>8.</td>
	  <td>Adakah saya memulakan kelas pada masa yang telah ditetapkan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>9.</td>
	  <td>Adakah pakaian seragam saya bersih,kemas dan di gosok dengan rapi?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>10.</td>
	  <td>Adakah rupacara saya segak?</td>
	  <td></td>
	  <td></td>
	  <td></td>
 
   <tr>
	  <td>11.</td>
	  <td>Adakah pengajaran saya merangkumi semua pelatih termasuk di barisan belakang?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	  
	
	
</table>


<br><br><br> <br><br><br>

<center>1 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>

<br><br><br>

<fieldset width=10px >

<div id="title">
<div id="title">

<br><br>


<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black>
   <tr bgcolor=yellow>
	  <td width=7%><b><center>SIRI</td>
	  <td width=70%><b><center>SOALAN</td>
	  <td><b><center>2</td>
	  <td><b><center>1</td>
	  <td><b><center>0</td>
		
   <tr>
	  <td>12.</td>
	  <td>Adakah saya mengelak diri dari melakukan perkara yang boleh mengganggu pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>13.</td>
	  <td>Adakah saya menilai keberkesanan pengajaran saya perpandukan tindak balas dan reaksi pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>14.</td>
	  <td>Adakah saya mengelak dari bercakap dengan papan kapor atau kanta lutsinar dan bertentangan mata dengan pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>

   <tr>
	  <td>15.</td>
	  <td>Adakah saya menggunakan perkataan yang mudah difahami?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>16.</td>
	  <td>Adakah saya bersopan dan mengelak dari menggunakan bahasa yang kesat?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>17.</td>
	  <td>Adakah saya memberi penerangan ke atas perkataan yang sukar dan menulisnya di papan kapor?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>18.</td>
	  <td>Adakah saya mengelak dari menyindir pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>19.</td>
	  <td>Adakah saya mempunyai rancangan mengajar untuk setiap mata pelajaran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>20.</td>
	  <td>Adakah ini menjadi satu tabiat kepada saya untuk ke kelas dengan membawa kesemua bahan bantuan mengajar yang
		  diperlukan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>21.</td>
	  <td>Adakah rancangan mengajar saya dapat membantu persembahan mata pelajaran mengikut urutan yang betul?</td>
	  <td></td>
	  <td></td>
	  <td></td>
 
   <tr>
	  <td>22.</td>
	  <td>Adakah ia menepati masa bagi setiap mata pelajaran yang diajar?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>23.</td>
	  <td>Adakah ia dapat menimbulkan pertanyaan soalan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
  
   <tr>
	  <td>24.</td>
	  <td>Semasa mengendalikan latihan amali di bengkel adakah saya menghadkan percakapan saya ke tahap minimum, agar pelatih dapat menumpu kepada kerja masing-masing?</td>
	  <td></td>
	  <td></td>
	  <td></td>

   <tr>
	  <td>25.</td>
	  <td>Adakah saya sering kali mengulangi ungkapan yang kurang penting?</td>
	  <td></td>
	  <td></td>
	  <td></td>

   <tr>
	  <td>26.</td>
	  <td>Adakah saya mengelak dari menggangu pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>27.</td>
	  <td>Adakah saya mengelakkan pelatih membuat kerja sehingga selesai waktu?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>28.</td>
	  <td>Adakah saya menyesuaikan diri saya dengan kelas?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>29.</td>
	  <td>Adakah saya mengalakkan pelatih menanya soalan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>30.</td>
	  <td>Adakah pelatih menghormati saya sebagai seorang jurulatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>31.</td>
	  <td>Adakah saya menggunakan bahan bantuan mengajar pada waktu yang bersesuaian?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>32.</td>
	  <td>Adakah saya mengubahsuai bahan bantuan mengajar jika perlu?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>33.</td>
	  <td>Adakah saya membuat penelitian ke atas bahan bantuan mengajar sebelum digunakan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>34.</td>
	  <td>Adakah saya memperolehi tumpuan sepenuhnya dari semua pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>35.</td>
	  <td>Adakah saya memberi motivasi kepada pelatih dengan membuat huraian berhubung kait dengan pembelajaran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>36.</td>
	  <td>Adakah saya memberitahu pelatih objektif pembelajaran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>37.</td>
	  <td>Adakah saya mengulangkaji kemahiran atau keperluan pengetahuan diri untuk mengajar?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>38.</td>
	  <td>Adakah saya mempersembahkan maklumat mengikut urutan yang terbaik?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>39.</td>
	  <td>Adakah saya mempersembahkan contoh yang senang sebelum memberikan yang lebih susah?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>40.</td>
	  <td>Adakah saya membuat perbelajaran menjadi lebih mudah dengan cara memberi contoh-contoh yang baik untuk mempertingkatkan daya ingatan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>41.</td>
	  <td>Adakah saya menanya soalan kepada pelatih semasa pembelajaran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	  
	
	
</table>


<br><br><br><br><br><br>

<center>2 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>


<br><br><br>

<fieldset width=10px >

<div id="title">
<div id="title">

<br><br>


<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
   <tr bgcolor=yellow>
	  <td width=7%><b><center>SIRI</td>
	  <td width=70%><b><center>SOALAN</td>
	  <td><b><center>2</td>
	  <td><b><center>1</td>
	  <td><b><center>0</td>
		
   <tr>
	  <td>42.</td>
	  <td>Adakah saya memastikan pelatih memperolehi pengetahuan dan keupayaan yang dinyatakan pada objekif?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>43.</td>
	  <td>Adakah saya memberi masa yang cukup kepada pelatih untuk melatih kemahiran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>44.</td>
	  <td>Adakah maklum balas diberi kepada setiap pelatih selepas setiap soalan atau perlaksanaan?</td>
	  <td></td>
	  <td></td>
	  <td></td>

   <tr>
	  <td>45.</td>
	  <td>Adakah saya menguji tahap pengetahuan dan keupayaan untuk setiap objektif?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>46.</td>
	  <td>Adakah saya membuat latihan susulan pada kemahiran yang penting supaya pelatih tidak cepat lupa?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>47.</td>
	  <td>Adakah saya mengubahsuai cara megajar setelah mengambil kira tahap kebolehan dan pengalaman pelatih yang berlainan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>48.</td>
	  <td>Adakah saya memberi perhatian yang lebih kepada pelatih yang lemah?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td colspan=2 align="right"><b><i>JUMLAH</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
</table>

<br><br>

<center><table width=60% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr>
		<td bgcolor=yellow width=40% rowspan=2><center><b><i>SKOR KESELURUHAN</td>
			<td><b><center> > 90</td>
		    <td><b><center>80 - 65</td>
			<td><b><center> < 64</td>
				<tr><td><br></td>
					<td></td>
					<td></td>
	
	</table></center>
	
<br><br><br>

<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="0" bordercolor=black>
	<tr>
		<td width=53%>TARIKH : ...........................................</td>
		<td>TANDATANGAN : ......................................<br><br>
			Nama : .......................................................<br><br>
			Pangkat : ...................................................</td>
</table>


<br><br><br> <br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN OLEH: BKMM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DISEMBER 2011</th>
	</tr>

</table>

<br><br><br><br>

<center>3 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>



