<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
	
	<br>
		<center><br><font face="arial"><b>SULIT DARIHAL ANGGOTA</b></font></center><br><br>
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<BR>NO.DOKUMEN: BK-KKM-03-01<br><br>BORANG SEMAKAN PENILAIAN<br>LATIHAN SAMBIL KERJA</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>



<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="0" bordercolor=black >
<tr>
	<td>1.</td>
	<td>Gunakan panduan ini untuk menilai tahap pengimplementasian Latihan Sambil Kerja di unit penempatan dan prestasi pencapaian pelatih selaras keperluan Buku Tugas Tentu (BTT) yang dibekalkan.</td>
</tr>
<tr>
	<td>2.</td>
	<td>Data yang diperolehi akan digunakan dalam proses menambahbaik perancangan penempatan, memperkemaskan kandungan BTT serta mengukur komitmen pihak unit penempatan terhadap kesinambungan latihan.</td>
</tr>
<tr>
	<td>3.</td>
	<td>Analisa data ini akan dilakukan oleh Bahagian Pembangunan Kompetensi dan Kawalan Mutu serta dimaklumkan kepada Pengarah Pendidikan dan Latihan dan Ketua Sekolah Pengajian dan Latihan.</td>
</tr>
<tr>
	<td>4.</td>
	<td>Borang ini akan disimpan oleh BKKM untuk rujukan penyediaan maklum balas dan panduan memperbaiki pengurusan akan datang setelah diisi.</td>
</tr>
<tr>
	<td>5.</td>
	<td>Borang ini hanya diisi oleh Tim Penilaian Pusat Pendidikan dan Latihan.</td>
</tr>

</table>

<br><br>

<center><table width=80% cellspacing="0" cellpadding="10" font size="5px" border="2" bordercolor=black >
<tr>
	<td bgcolor=yellow><center><b><font face="arial">BUTIR-BUTIR PELATIH LATIHAN SAMBIL KERJA</font></b></center></td>
</tr>
</table>
</center>
<br><br>

<table width=100% cellspacing="1" cellpadding="7" font size="5px" border="2" bordercolor=black >
	<tr>
		<td><b><font face="arial">NO. KP :.................................................................PANGKAT/GRED .........................................................<br><br>
			NAMA : ........................................................................................................................................................<br><br>
			KEPAKARAN :................................................................. UNIT : ................................................................<br><br>
			DAERAH/WILAYAH .....................................................................................................................................
			<br><br>
			MKA UNIT : ................................................................................ TEMPOH DI UNIT : .........................BLN<br><br>
	
	
</table>



<br><br><br> <br><br>

<center><font face="arial">1 daripada 4<br><br>
	SULIT DARIHAL ANGGOTA</font></center>

<br><br><br>

</div>

</fieldset><br><br>



<fieldset width=10px >

<div id="title">
	<br>
	<center><b><font face="arial">SULIT DARIHAL ANGGOTA<br><br>
		BAHAGIAN I</center><br><br>
		
		A. &nbsp;&nbsp;&nbsp; PERSONALITI PELATIH.</font></b><br><br>
		Sila tandakan (&#10003;) di petak yang bersesuaian.<br><br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black >
<tr>
	<td><center><b>SIRI</center></td>
	<td width=60%><center><b>KENYATAAN</center></td>
	<td><center><b>YA</center></td>
	<td><center><b>TIDAK</center></td>
	<td><center><b>CATATAN</center></td>
</tr>
<tr>
	<td><center>1.</center></td>
	<td>Buku Tugas Tentu (BTT) dibekalkan.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>2.</center></td>
	<td>Memiliki Buku Lakar (BL).</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>3.</center></td>
	<td>BTT Ilmu Kelautan dibekalkan.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>4.</center></td>
	<td>Dibekalkan Buku Semakan Pengetahuan Asas Pelatih Dikapal.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>5.</center></td>
	<td>Taklimat mengisi dan kegunaan BTT, BL dan Buku Catatan diberi.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>6.</center></td>
	<td>Memahami organisasi kapal & unit.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>7.</center></td>
	<td>Memahami isi kandungan BTT.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>8.</center></td>
	<td>Pelatih melaksanakan arahan BTT.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>9.</center></td>
	<td>LSK yang dilakukan berpandukan arahan BTT.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>10.</center></td>
	<td>Rancangan dan jadual dikeluarkan sebelum LSK.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>11.</center></td>
	<td>BTT diperiksa secara mingguan.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>12.</center></td>
	<td>BTT diperiksa secara bulanan.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>13.</center></td>
	<td>Penyelia/jurulatih memberi penerangan sebelum latihan.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>14.</center></td>
	<td>Menerangkan langkah keselamatan sebelum kerja amali.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>15.</center></td>
	<td>Penyelia sentiasa mengawasi dan membimbing pelatih.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>16.</center></td>
	<td>Penyelia latihan memberi ujian bertulis.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>17.</center></td>
	<td>Penyelia Latihan memberi maklumbalas berkenaan ujian tersebut.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>18.</center></td>
	<td>Bahan bantuan mengajar mencukupi dikapal.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>19.</center></td>
	<td>Menjalankan tugas 'watch keeper'dikapal.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>20.</center></td>
	<td>Berpeluang melakukan kerja-kerja senggaraan dan juga membaiki kerosakan di kapal.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>21.</center></td>
	<td>Berminat dengan kepakaran sekarang.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>22.</center></td>
	<td>Kapal/unit kerap beroperasi.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>23.</center></td>
	<td>Unit kerap menjalankan latihan persendirian di laut.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>24.</center></td>
	<td>Ditumpangkan ke unit yang lain jika unit tidak beroperasi.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>25.</center></td>
	<td>Pergaulan baik dengan warga kapal.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>26.</center></td>
	<td>Terlibat dengan aktiviti sosial dan sukan di unit.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>27.</center></td>
	<td>Boleh menyesuaikan diri dengan persekitaran kerja dan stake holder.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>28.</center></td>
	<td>Diberi kelepasan seperti warga yang lain.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>29.</center></td>
	<td>Diberi penugasan yang tidak sepatutnya.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>30.</center></td>
	<td>Terdapat penderaan ke atas pelatih.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>31.</center></td>
	<td>Mempunyai masalah peribadi yang boleh menjejaskan LSK.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

<tr>
	<td><center>32.</center></td>
	<td>Pemasalahan dengan tempat kediaman.</td>
	<td></td>
	<td></td>
	<td></td>
</tr>

		

</table><br><br>


<center><font face="arial">2 daripada 4<br><br>
	SULIT DARIHAL ANGGOTA</font></center><br><br>

</div>
</fieldset>


<br><br>

<fieldset width=10px >

<div id="title">
	<br>
	<center><b><font face="arial">SULIT DARIHAL ANGGOTA<br><br>
		BAHAGIAN II</center><br><br>
		
	B. &nbsp;&nbsp;&nbsp; PEMERHATIAN PENILAI.<br><br>
	
	Catatan : </font></b><br><br>
	
<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1" bordercolor=black >
	<tr>
		<td>
	    <b>BUKU TUGAS TENTU PELATIH :</b><br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
        </td>
    </tr>

		<tr>
			<td>
		    <b>KOMITMEN PELATIH :</b><br><br>
	.......................................................................................................................................................................<br><br>
	.......................................................................................................................................................................<br><br>
	.......................................................................................................................................................................<br><br>
	        </td>
	    </tr>
	
			<tr>
				<td>
			    <b>DISIPLIN DAN RUPACARA PELATIH :</b><br><br>
		.......................................................................................................................................................................<br><br>
		.......................................................................................................................................................................<br><br>
		.......................................................................................................................................................................<br><br>
		        </td>
		    </tr>
		
				<tr>
					<td>
				    <b>PENTADBIRAN DAN PENGURUSAN PELATIH :</b><br><br>
			.......................................................................................................................................................................<br><br>
			.......................................................................................................................................................................<br><br>
			.......................................................................................................................................................................<br><br>
			        </td>
			    </tr>
</table>

<br><br><br><br>
<center><font face="arial">3 daripada 4<br><br>
	SULIT DARIHAL ANGGOTA</font></center><br><br>
		
		


</div>
</fieldset>


<br><br><br>

<fieldset width=10px >

<div id="title">
	<br>
	<center><b><font face="arial">SULIT DARIHAL ANGGOTA<br><br>
		BAHAGIAN III</center><br><br>
		
	C. &nbsp;&nbsp;&nbsp; RUMUSAN.</font></b><br><br>
	
	
<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1" bordercolor=black >
	<tr>
		<td colspan=2><font face="arial">
	    <b>CADANGAN :</b><br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br>
.......................................................................................................................................................................<br><br></font>
        </td>
    </tr>
<tr>
	<td width=50%><font face="arial">
		PEGAWAI PENILAI :<br><br>
		NAMA : ......................................................................<br><br>
		NO. KP : ............................... PKT : ..........................<br><br>
		Unit Dinilai : ...............................................................<br><br>
		Tarikh Penilaian : ......................................................<br></font>
	</td>
	
	<td width=50%><font face="arial">Gred Penilaian :<br><br>
		<form>
		<input type="checkbox" name="vehicle" value="Bike" /> MENEPATI KEPERLUAN LSK<br><br>
		<input type="checkbox" name="vehicle" value="Car" /> TIDAK MENEPATI KEPERLUAN LSK<br><br>
		<input type="checkbox" name="vehicle" value="Car" /> PENILAIAN SEMULA PADA ......................</font>
		</form>
    </td>
</tr>
	
</table>

<br><br><br><br>


<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN OLEH: BKKM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DISEMBER 2011</th>
	</tr>

</table>

<br><br>
<center><font face="arial">4 daripada 4<br><br>
	SULIT DARIHAL ANGGOTA</font></center><br><br>
		
		

</div>
</div>
</fieldset>

