<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><h4><br>PPL APMM<br>NO.DOKUMEN: BK-KKM-01-01<br><br>BORANG PENILAIAN KURSUS</h4></th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">
 <center>KURSUS<br><br>
	______________________________________________________________<br><br>
	     TEMPAT<br><br>	
	______________________________________________________________<br><br>
		 TARIKH<br><br>								
	______________________________________________________________</center><br><br><br>	

<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="0"> 
   <tr>
	<td colspan=3>
		<center><b><font face="times" size = 3>PERATURAN DAN ARAHAN KEPADA PESERTA/PELATIH</font><br>
	______________________________________________________________________________________________________</b></center><br>
	</td>
	</tr>
	<tr>
     <td width=8% ></td>
	 <td width=7% valign="top" align="left">1.</td>
     <td width=85%><font size=3>Borang penilaian ini mengandungi </font><font face="arial"><b>4 bahagian:</b></font><br><br>
	     <font face="arial"><b>Bahagian 1 - Jurulatih/Pensyarah</b></font><br>
	        <font size=3>Sila nilai penyampaian jurulatih/pensyarah berdasarkan skala di bawah</font><br>
	        <img border="0" src="/images/skalakursus2.png" width="500" height=""><BR><BR></td>
   </tr>
   <tr>
	<td width=8% ></td>
	<td width=7% valign="top" align="left">2.</td>
	<td><font face="arial"><b>Bahagian 2 - Kandungan Kursus</b></font><br>
		   <font size=3>Sila tandakan &#10003; samada ya atau tidak pada maklumat yang meliputi sesi latihan anda.</font><BR><BR></td>
	</tr>
	<td width=8% ></td>
	<td width=7% valign="top" align="left">3.</td>
	<td><font face="arial"><b>Bahagian 3 - Pengurusan Kursus</b></font><br>
		   <font size=3>Sila nyatakan skor dan ulasan berkaitan dengan pengurusan kursus.</font><BR><BR></td>
	</tr>
	<td width=8% ></td>
	<td width=7% valign="top" align="left">4.</td>
	<td><font face="arial"><b>Bahagian 4 - Komen dan Cadangan</b></font><br>
		   <font size=3>Sila nyatakan komen dan cadangan anda terhadap keseluruhan kursus. Peserta dikehendaki menilai jurulatih/pensyarah dengan jujur dan ikhlas.</font><BR><BR></td>
	</tr>
	
	
	
</table>
   


<br><br><br><br>

<center>1</center>


</div>
</div>
</fieldset>




<br><br><br>



<fieldset width=10px >

<div id="title">
<br><br>

<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="0"> 
   <tr>
	<td><font face="arial"><b>SENARAI NAMA JURULATIH /PENSYARAH (TULISKAN NAMA)</b></font><br><br>
		1 &nbsp;&nbsp;______________________________________________________________________________________________________<br><br>
		2 &nbsp;&nbsp;______________________________________________________________________________________________________<br><br>
		3 &nbsp;&nbsp;______________________________________________________________________________________________________<br><br>
		4 &nbsp;&nbsp;______________________________________________________________________________________________________<br><br>
		5 &nbsp;&nbsp;______________________________________________________________________________________________________<br><br>
		6 &nbsp;&nbsp;______________________________________________________________________________________________________<br><br>
		7 &nbsp;&nbsp;______________________________________________________________________________________________________<br><br>
		8 &nbsp;&nbsp;______________________________________________________________________________________________________<br><br>
		9 &nbsp;&nbsp;______________________________________________________________________________________________________<br><br>
		10 &nbsp;______________________________________________________________________________________________________<br><br>
		11 &nbsp;______________________________________________________________________________________________________<br><br>
		12 &nbsp;______________________________________________________________________________________________________<br><br>
		</td>
	</tr>
</table>

<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1"> 
	<tr>
	 <td><font face="arial"><b>BAHAGIAN 1 - PENILAIAN JURULATIH/PENSYARAH</b></font></td>
	</tr>
</table><br>


<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="0"> 
   <tr>
	<td width=50%>
		<table width=100% cellspacing="2" cellpadding="5" font size="9px" border="0"> 
		<tr>
			<td><b>A</b></td>
			<td></td>
		</tr>
		<tr>
			<td>1.</td>
			<td>Persembahan dan Penyampaian</td>
		</tr>
		<tr>
			<td>2.</td>
			<td>Pengetahuan dan Kemahiran</td>
		</tr>
		<tr>
			<td>3.</td>
			<td>Keupayaan Meransang Peserta</td>
		</tr>
		<tr>
			<td>4.</td>
			<td>Kebolehan Mengendalikan Soal Jawab</td>
		</tr>
		<tr>
			<td>5.</td>
			<td>Mutu penyampaian jurulatih /pensyarah</td>
		</tr>
		<tr>
			<td>6.</td>
			<td>Penilaian keseluruhan</td>
		</tr>
		<tr>
			<td>7.</td>
			<td>Mutu alat pandang dengar yang digunakan</td>
		</tr>
		
		
		</table>
    </td>


    <td width=50%>
	<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1"> 
		<tr>
	    <td><center><b>1</b></center></td>
	    <td><center><b>2</b></center></td>
	    <td><center><b>3</b></center></td>
	    <td><center><b>4</b></center></td>
     	<td><center><b>5</b></center></td>
	    <td><center><b>6</b></center></td>
	    </tr>
	    
	    <tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		
	
	</table>
	</td>



</table>

<br>

<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="0"> 
   <tr>
	<td width=50%>
		<table width=100% cellspacing="2" cellpadding="5" font size="9px" border="0"> 
		<tr>
			<td><b>A</b></td>
			<td></td>
		</tr>
		<tr>
			<td>1.</td>
			<td>Persembahan dan Penyampaian</td>
		</tr>
		<tr>
			<td>2.</td>
			<td>Pengetahuan dan Kemahiran</td>
		</tr>
		<tr>
			<td>3.</td>
			<td>Keupayaan Meransang Peserta</td>
		</tr>
		<tr>
			<td>4.</td>
			<td>Kebolehan Mengendalikan Soal Jawab</td>
		</tr>
		<tr>
			<td>5.</td>
			<td>Mutu penyampaian jurulatih /pensyarah</td>
		</tr>
		<tr>
			<td>6.</td>
			<td>Penilaian keseluruhan</td>
		</tr>
		<tr>
			<td>7.</td>
			<td>Mutu alat pandang dengar yang digunakan</td>
		</tr>
		
		
		</table>
    </td>


    <td width=50%>
	<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1"> 
		<tr>
	    <td width=16%><center><b>7</b></center></td>
	    <td width=16%><center><b>8</b></center></td>
	    <td width=16%><center><b>9</b></center></td>
	    <td width=17%><center><b>10</b></center></td>
     	<td width=17%><center><b>11</b></center></td>
	    <td width=17%><center><b>12</b></center></td>
	    </tr>
	    
	    <tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		</tr>
		
		
	
	</table>
	</td>



</table>





<br><br><br><br>

<center>2</center><br>


</div>

</fieldset>


<br><br><br>


<fieldset width=10px >

<div id="title">
<br><br>

<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1"> 
	<tr>
	 <td><font face="arial"><b>BAHAGIAN 2 - KANDUNGAN KURSUS</b></font></td>
	</tr>
</table><br>


<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="0"> 
   <tr>
	<td>1.</td>
	<td width=68%>Tajuk perbincangan berkaitan dengan kursus</td>
	<td width=4%><b>Ya</b></td>
	<td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
		<tr><td><br></td></table>
		</td>
		<td width=5%><b>Tidak</b></td>
		<td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
			<tr><td><br></td></table>
			</td>

	<tr>
	 <td>2.</td>
	 <td>Program kursus ini berkaitan dengan bidang tugas anda</td>
	 <td width=4%><b>Ya</b></td>
	 <td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
		<tr><td><br></td></table>
		</td>
		<td width=5%><b>Tidak</b></td>
		<td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
			<tr><td><br></td></table>
			</td>
									
	<tr>
	 <td>3.</td>
	 <td>Perkara kes yang dibincangkan jelas dan difahami</td>
	 <td width=4%><b>Ya</b></td>
	 <td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
		<tr><td><br></td></table>
		</td>
	    <td width=5%><b>Tidak</b></td>
		<td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
		    <tr><td><br></td></table>
			</td>
							
    <tr>
     <td>4.</td>
	 <td>Kaedah pengajaran yang diterapkan berkesan dan berguna</td>
	 <td width=4%><b>Ya</b></td>
	 <td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
		<tr><td><br></td></table>
		</td>
		<td width=5%><b>Tidak</b></td>
		<td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
			<tr><td><br></td></table>
			</td>
										
	<tr>
	 <td>5.</td>
	 <td>Penilaian keseluruhan nota dan bahan rujukan</td>
	 <td width=4%><b>Ya</b></td>
	 <td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
		<tr><td><br></td></table>
		</td>
		<td width=5%><b>Tidak</b></td>
		<td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
			<tr><td><br></td></table>
			</td>
			
</table>
<br><br>

<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1"> 
	<tr>
	 <td><font face="arial"><b>BAHAGIAN 3 - PENGURUSAN KURSUS</b></font></td>
	</tr>
</table><br><br>

<center>
	<b><u>SKALA SKOR</u></b><br><br>
	<img src="/images/skalakursus2.png" width="500" height=""></center>
<br>

<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1"> 
	<tr>
		<td width=10%><b><center>Siri</center></b></td>
		<td width=30%><b><center>Aspek Penilaian</center></b></td>
		<td width=10%><b><center>Skor</center></b></td>
		<td width=50%><b><center>Ulasan</center></b></td>
	</tr>
	<tr>
		<td align="center">a.</td>
		<td>Tempoh Kursus</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td align = "center">b.</td>
		<td>Kemudahan (Yang berkenaan)<br><br>
			(1) Penginapan<br><br>
			(2) Makanan<br><br>
			(3) Bilik Kuliah<br><br>
			(4) Perpustakaan<br><br>
			(5) Buku Rujukan<br><br>
			(6) Kemudahan Komputer<br><br>
			(7) Kemudahan Sukan<br><br>
			(8) Kegiatan Sosial<br><br></td>
		<td></td>
		<td></td>
		
	
</table>








<br><br><br>

<center>3</center><br>


</div>
</fieldset>



<br><br><br>





<fieldset width=10px >

<div id="title">
<br><br>

<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1"> 
	<tr>
	 <td><font face="arial"><b>BAHAGIAN 4 - KOMEN DAN CADANGAN</b></font></td>
	</tr>
</table><br>


<table width=100% cellspacing="0" cellpadding="5" font size="9px" border="0"> 
   <tr>
	<td>1.</td>
	<td width=68% colspan=5>Nyatakan kelemahan kursus ini pada keseluruhannya, sekiranya ada:<br><br>
		          ............................................................................................................................................................<br><br>
		............................................................................................................................................................<br><br>
		............................................................................................................................................................<br><br></td></tr>
		
	<tr>
	 <td>2.</td>
	 <td width=68% colspan=5>Sila nyatakan kursus yang boleh membantu anda untuk meningkatkan pengetahuan dan kerjaya yang ingin diikuti seterusnya.<br><br>
			          ............................................................................................................................................................<br><br>
			............................................................................................................................................................<br><br>
			............................................................................................................................................................<br><br></td></tr>
			
	<tr>
	 <td>3.</td>
	 <td width=68% colspan=5>Nyatakan cadangan anda untuk memperbaiki kursus ini:<br><br>
					          ............................................................................................................................................................<br><br>
					............................................................................................................................................................<br><br>
					............................................................................................................................................................<br><br></td></tr>
					
				    <tr>
				     <td>4.</td>
					 <td width=30%>Adakan kursus ini manafaat kepada anda</td>
					 <td width=1%><b>Ya</b></td>
					 <td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
						<tr><td><br></td></table>
						</td>
						<td width=1%><b>Tidak</b></td>
						<td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
							<tr><td><br></td></table>
							</td>

					<tr>
					 <td>5.</td>
					 <td>Adakah anda mencadangkan kursus ini kepada rakan lain?</td>
					 <td width=1%><b>Ya</b></td>
					 <td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
						<tr><td><br></td></table>
						</td>
						<td width=1%><b>Tidak</b></td>
						<td><table width=100% cellspacing="0" cellpadding="5" font size="9px" border="1">
							<tr><td><br></td></table>
							</td>
	<tr>
		<td></td>
		<td colspan=5><br><br><br>T/Tangan : ..................................................................<br><br>
			Nama : .......................................................................<br><br>
			No. KP : .....................................................................<br><br>
			Emel : ........................................................................<br><br></td>
			
		
	
</table>
<br><br><br><br>


<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: BKKM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>

</table>








<br><br><br>

<center>4</center><br>


</div>
</fieldset>








