<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-KKM-04-03<BR>BORANG PENILAIAN PENSYARAH</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>

	<br>

<table width=100% cellspacing="0" cellpadding="7" border="0">
	<tr>
		<td colspan=4 align="center"><font color="black", size="3">(Diisi oleh Pelatih)</td>
		
	</tr>

</table>

	<table width=100% cellspacing="0" cellpadding="5" border="1">
		<tr>
			<td><br><font size="4">Kursus : .......................................................................................................................<br><br>
				Modul/Matapelajaran : ........................................................... Tarikh : ...... /...... /........<br><br>
				Nama Pensyarah : .......................................................................................................</font></td>
		</tr>
</table><br>

<center><img src="/images/skala.png"></center>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1">
	<tr bgcolor=yellow>
		<td><center><b>BIL<center></b></td>
		<td><center><b>PERKARA<center></b></td>
		<td colspan=9><center><b>SKOR</center></td>
		</tr>
	<tr>
		<td><center>1.</td>
		<td>Pencapaian Objektif Pelajaran</td>	
		<td><center>1</center></td>
		<td><center>2</center></td>	
		<td><center>3</center></td>	
		<td><center>4</center></td>	
		<td><center>5</center></td>	
		<td><center>6</center></td>	
		<td><center>7</center></td>
		<td><center>8</center></td>
		<td><center>9</center></td>
		</tr>
		<tr>
			<td><center>2.</td>
			<td>Pengetahuan Pensyarah Tentang Pelajaran yang Diajar</td>	
			<td><center>1</center></td>
			<td><center>2</center></td>	
			<td><center>3</center></td>	
			<td><center>4</center></td>	
			<td><center>5</center></td>	
			<td><center>6</center></td>	
			<td><center>7</center></td>
			<td><center>8</center></td>
			<td><center>9</center></td>
			</tr><tr>
				<td><center>3.</td>
				<td>Mutu Penyampaian Pensyarah</td>	
				<td><center>1</center></td>
				<td><center>2</center></td>	
				<td><center>3</center></td>	
				<td><center>4</center></td>	
				<td><center>5</center></td>	
				<td><center>6</center></td>	
				<td><center>7</center></td>
				<td><center>8</center></td>
				<td><center>9</center></td>
				</tr><tr>
					<td><center>4.</td>
					<td>Isi Kandungan Pelajaran</td>	
					<td><center>1</center></td>
					<td><center>2</center></td>	
					<td><center>3</center></td>	
					<td><center>4</center></td>	
					<td><center>5</center></td>	
					<td><center>6</center></td>	
					<td><center>7</center></td>
					<td><center>8</center></td>
					<td><center>9</center></td>
					</tr><tr>
						<td><center>5.</td>
						<td>Mutu Alat Pandang Dengar yang Digunakan</td>	
						<td><center>1</center></td>
						<td><center>2</center></td>	
						<td><center>3</center></td>	
						<td><center>4</center></td>	
						<td><center>5</center></td>	
						<td><center>6</center></td>	
						<td><center>7</center></td>
						<td><center>8</center></td>
						<td><center>9</center></td>
						</tr><tr>
							<td><center>6.</td>
							<td>Kesesuaian Turutan Topik Dalam Jadual</td>	
							<td><center>1</center></td>
							<td><center>2</center></td>	
							<td><center>3</center></td>	
							<td><center>4</center></td>	
							<td><center>5</center></td>	
							<td><center>6</center></td>	
							<td><center>7</center></td>
							<td><center>8</center></td>
							<td><center>9</center></td>
							</tr><tr>
								<td><center>7.</td>
								<td>Kesesuaian Kerja Sindiket dengan Objektif Pelajaran</td>	
								<td><center>1</center></td>
								<td><center>2</center></td>	
								<td><center>3</center></td>	
								<td><center>4</center></td>	
								<td><center>5</center></td>	
								<td><center>6</center></td>	
								<td><center>7</center></td>
								<td><center>8</center></td>
								<td><center>9</center></td>
								</tr><tr>
									<td><center>8.</td>
									<td>Faedah Bahan/Nota yang Diedarkan</td>	
									<td><center>1</center></td>
									<td><center>2</center></td>	
									<td><center>3</center></td>	
									<td><center>4</center></td>	
									<td><center>5</center></td>	
									<td><center>6</center></td>	
									<td><center>7</center></td>
									<td><center>8</center></td>
									<td><center>9</center></td>
									</tr>
		
			
</table>
<br>
<b>CATATAN/KOMEN :</b>...................................................................................................................................<br><br>..........................................................................................................................................................................<br><br>..........................................................................................................................................................................<br><br>

<b>PENGESAHAN PELATIH :</b><br><br>

<b>Tandatangan :</b>...............................................................<br><br>
<b>Nama Penuh :</b>................................................................<br><br>
<b>No. K/Pengenalan :</b>....................................................... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Tarikh :</b>.............................<br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN OLEH: BKMM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table>

<br><br><br> 
<center>1 daripada 1</center>

<br><br>

</div>
</div>
</fieldset>

