<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-LAT-TBL-05-01<BR>BORANG PENGGUNAAN/PINJAMAN KENDERAAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

	<br>

<table width=100% cellspacing="0" cellpadding="2" border="1">
	<tr>
		<td bgcolor=yellow><font size="2px"><center><b>PEMOHON</td>
    </tr>
</table><br>

<table width=100% cellspacing="0" cellpadding="4" font size="5px" border="0">
	<tr>
		<td><font size="2px">Nama : .............................................................................. No. KP : ...............................................<br><br>
			Jawatan : ................................................................. No. Telefon : ..................................................<br><br>
			Tarikh Digunakan : ............................................. Tarikh dipulangkan : .............................................. <br><br>
			Tujuan/Lokasi : ................................................................................................................................<br><br>
			Nama Pemandu : .............................................................................................................................
</table><br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="0">
	<tr>
		<td colspan=2><font size="2px">Dengan ini saya mengakui dan mematuhi syarat-syarat berikut:<br><br></td>
	<tr>
		<td><font size="2px">1.</td>
		<td><font size="2px">Merekod Pergerakan Kenderaan di dalam KEW PA 6</td>
	<tr>
		<td><font size="2px">2.</td>
		<td><font size="2px">Merekod Pengeluaran Kad Inden di dalam Buku Daftar Penggunaan Kad Inden</td>
	<tr>
		<td><font size="2px">3.</td>
		<td><font size="2px">Merekod Pengeluaran Kad <b>Touch N Go (No.........)</b> di dalam Buku Daftar Kad <b>Touch N Go </b>(Sekiranya perlu)</td>
	<tr>
		<td><font size="2px">4.</td>
		<td><font size="2px">Merekod Penggunaan Kenderaan di dalam Buku Log Kenderaan.</td>
	<tr>
		<td><font size="2px">5.</td>
		<td><font size="2px">Kepilkan resit di dalam Buku Log Kenderaan dan catatkan di ruangan pembelian bahanapi.</td>
	<tr>
		<td><font size="2px">6.</td>
		<td><font size="2px">Laporkan sebarang kemalangan/kerosakan/kehilangan kenderaan kepada Penyelia Kenderaan/Ketua Tadbir Bantuan
			Operasi dan Latihan dengan segera.</td>
	<tr>
		<td><font size="2px">7.</td>
		<td><font size="2px">Pastikan kenderaan dalam keadaan bersih sepanjang penggunaannya dan semasa dipulangkan.</td>
	<tr>
		<td><font size="2px">8.</td>
		<td><font size="2px">Sentiasa mematuhi undang-undang jalan raya.</td>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="0">
	<tr>
		<td><font size="2px">Tarikh : ..................................</td>
		<td><p align="right"><font size="2px">Tandatangan : ..................................</p></td>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="2" border="1">
	<tr>
		<td bgcolor=yellow><font size="2px"><center><b>PENYELIA KENDERAAN</td>
    </tr>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="0">
	<tr>
		<td colspan=2><font size="2px">Permohonan <b>disokong / tidak disokong</b><br><br></td>
	<tr>
		<td colspan=2><font size="2px">Catatan : .........................................................................................................................................<br><br></td>
	<tr>
		<td><font size="2px">Tarikh : ..................................</td>
		<td><p align="right"><font size="2px">Tandatangan : ..................................</p></td>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="2" border="1">
	<tr>
		<td bgcolor=yellow><font size="2px"><center><b>KETUA TADBIR BANTUAN DAN OPERASI LATIHAN</td>
    </tr>
</table>
<br>

<table width=100% cellspacing="0" cellpadding="4" font size="5px" border="0">
	<tr>
		<td colspan=2><font size="2px">Permohonan <b>diluluskan/tidak diluluskan</b><br><br></td>
	<tr>
		<td colspan=2><font size="2px">Catatan : .........................................................................................................................................<br><br></td>
</table>
<br>



<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td bgcolor=yellow><font size="2px"><center><b>Bil</td>
		<td colspan=11 bgcolor=yellow><font size="2px"><center><b>Jenis Kenderaan</td>
	<tr>
		<td bgcolor=yellow><font size="2px">1.</td>
		<td><font size="2px">Bas Hino<br>BHM 1217</td>
		<td width=5%></td>
		<td bgcolor=yellow>5.</td>
		<td><font size="2px">Bas Coaster<br>WPT 6044</td>
		<td width=5%></td>
		<td bgcolor=yellow><font size="2px">9.</td>
		<td><font size="2px">Kia Pregio<br>WML 8493</td>
		<td width=5%></td>
		<td bgcolor=yellow><font size="2px">13.</td>
		<td><font size="2px">Proton Jawa<br>WVY 8649</td>
		<td width=5%></td>
	<tr>
		<td bgcolor=yellow><font size="2px">2.</td>
		<td><font size="2px">Bas Hino<br>BHM 1580</td>
		<td></td>
		<td bgcolor=yellow><font size="2px">6.</td>
		<td><font size="2px">Lori Hicom<br>BHN 513</td>
		<td></td>
		<td bgcolor=yellow><font size="2px">10.</td>
		<td><font size="2px">Toyota Hiace<br>WQU 6091</td>
		<td></td>
		<td bgcolor=yellow><font size="2px">14.</td>
		<td><font size="2px">Proton Waja<br>WVY 8650</td>
		<td></td>
	<tr>
		<td bgcolor=yellow><font size="2px">3.</td>
		<td><font size="2px">Bas Hino<br>WNQ 5783</td>
		<td></td>
		<td bgcolor=yellow><font size="2px">7.</td>
		<td><font size="2px">Lori Hino<br>WQU 6324</td>
		<td></td>
		<td bgcolor=yellow><font size="2px">11.</td>
		<td><font size="2px">Toyota Innova<br>WRA 7965</td>
		<td></td>
		<td bgcolor=yellow><font size="2px">15.</td>
		<td><font size="2px">Motosikal<br>BJN 629</td>
		<td></td>
	<tr>
		<td bgcolor=yellow><font size="2px">4.</td>
		<td><font size="2px">Bas Coaster<br>WPT 6053</td>
		<td></td>
		<td bgcolor=yellow><font size="2px">8.</td>
		<td><font size="2px">Fortuner<br>WPS 6856</td>
		<td></td>
		<td bgcolor=yellow><font size="2px">12.</td>
		<td><font size="2px">Proton Waja<br>WVX 1943</td>
		<td></td>
		<td bgcolor=yellow><font size="2px">16.</td>
		<td><font size="2px">Motosikal<br>BJN 630</td>
		<td></td>		
</table>
<br><br>

<table width=100% cellspacing="0" cellpadding="4" font size="5px" border="0">
	<tr>
		<td><font size="2px">Tarikh : ..................................</td>
		<td><font size="2px"><p align="right">Tandatangan : ..................................</p></td>
</table>


<br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: STAF TBL</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>

</table><br><br>

<br><br>

</div>
</div>
</fieldset>

