<%= stylesheet_link_tag 'report' %>
<div id="A4landscape">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="100"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-RAN-01-01<br>RANCANGAN LATIHAN MINGGUAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="100"/></th>
	</tr>
</table>
<br><br>


<table width=100% cellspacing="0" cellpadding="3" font size="2px" border="1">

	
	<tr bgcolor=yellow>
		<td><center><font size="1"><b>Bil</td>
		<td><center><font size="1"><b>Pangkat</td>
		<td><center><font size="1"><b>Nama</td>
		<td><center><font size="1"><b>Tarikh Lahir</td>
	    <td width=8%><center><font size="1"><b>Umur</td>
		<td width=8%><center><font size="1"><b>Tinggi</td>
		<td width=8%><center><font size="1"><b>Berat</td>
		<td width=8%><center><font size="1"><b>Bangkit Tubi (Dalam 60 Saat)</td>
		<td width=8%><center><font size="1"><b>Lompat Jauh Keadaan Berdiri (CM)</td>
		<td width=8%><center><font size="1"><b>4 X 10 Meter Lari Ulang Alik (Saat)</td>
		<td width=8%><center><font size="1"><b>Mendagu dalam 30 saat (Lelaki) dan Bergantung dengan tangan (wanita) saat</td>
		<td width=8%><center><font size="1"><b>Larian 2.4 KM (Minit)</td>
		<td width=8%><center><font size="1"><b>Renang/ Terapung</td>
		<td width=8%><center><font size="1"><b>KEPUTUSAN LULUS/GAGAL</td>
		</tr>
		
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
			
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
				
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
					
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
						
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
							
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
								
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
									
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
			
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
				
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
					
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
						
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
							
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
								
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
									
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>	
</table>


<br><br>

<center><table width=90% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN : IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>
</table></center>
<br><br><br><br>

</div>
</div>
</fieldset>

