<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4>PPL APMM<br><br>NO.DOKUMEN: BK-LAT-TBL-01-01<br>BORANG REKOD LATIHAN PERIBADI</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<br>

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td width=18%><br><center><b>STAF</td>
		<td colspan=5><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="0">
			  <tr>
				<td><br><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr>
						<td><br></td>
					</table></td>
				<td width=20%><br><b>PUSAT LATIHAN</td>	
				<td><br><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr>
						<td><br></td>
					</table></td>
				<td width=20%><br><b>AKADEMI</td>
				<td><br><table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
					<tr>
						<td><br></td>
					</table></td>
				<td width=15%><center><b>PEMBANGUNAN KOMPETENSI DAN KAWALAN MUTU</td>
					
			</table>
		</td>
	<tr>
		<td colspan=5><br><table width=100% cellspacing="0" cellpadding="2" font size="5px" border="0">
			<tr>
				<td width=20% >Nama :<br><br></td>
				<td>.................................................................................................................</td>
			<tr>
				<td>Pangkat :<br><br></td>
				<td>.................................................................................................................</td>
			<tr>
				<td>No. KP :<br><br></td>
				<td>.................................................................................................................</td>
			<tr>
				<td>Perjawatan :<br><br></td>
				<td>.................................................................................................................</td>
			<tr>
				<td>Tarikh Dijawat :<br><br></td>
				<td>.................................................................................................................</td>
			</table>
			
		</td>
	<tr>
		<td colspan=5><b>Kemahiran Yang Sedia Ada Sebelum Dijawatkan Dalam APMM (Perkhidmatan Lama)</td>
	<tr>
		<td colspan=5><br><table width=100% cellspacing="0" cellpadding="2" font size="5px" border="0">
			<tr>
				<td width=8% >1. <br><br></td>
				<td>..................................................................................................................................</td>
			<tr>
				<td>2. <br><br></td>
				<td>..................................................................................................................................</td>
			<tr>
				<td>3. <br><br></td>
				<td>..................................................................................................................................</td>
			<tr>
				<td>4. <br><br></td>
				<td>..................................................................................................................................</td>
			<tr>
				<td>5. <br><br></td>
				<td>..................................................................................................................................</td>
			</table>
			
		</td>
		
		<tr>
			<td colspan=5><b>Kursus Dalam Perkhidmatan APMM</td>
	   <tr>
		<td width=5%><center><b>Tarikh</td>
		<td><center><b>Jenis Latihan/Kursus</td>
		<td><center><b>Penganjur</td>
		<td><center><b>Tempat</td>
		<td width=25%><center><b>Sijil</td>
	<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
   	<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	<tr>
		<td><br></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	
</table>


<br><br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: STAF TBL</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table><br><br><br><br>

</div>
</div>
</fieldset>

