<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="100"/></th>
		<th><H4>PPL APMM<BR>NO.DOKUMEN: BK-KKM-04-02<br><br>BORANG PENILAIAN DAN ANALISA<br>SKOR PURATA JURULATIH</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="100"/></th>
	</tr>
</table>

<div id="title">



<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr>
		<td>
			<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="0" bordercolor=black>
				<tr>
					<td width=30%>Kursus</td>
					<td>:</td>
					<td colspan=7>..............................................................................................................</td>
					
				<tr>
					<td>Nama Jurulatih</td>
					<td>:</td>
					<td colspan=7>..............................................................................................................</td>
							
				<tr>
					<td>Tarikh Penilaian</td>
					<td>:</td>
					<td colspan=7>..............................................................................................................</td>
									
				<tr>
					<td>Tajuk</td>
					<td>:</td>
					<td colspan=7>..............................................................................................................</td>
				
					<tr>
						<td rowspan=5>Objektif</td>
						<td rowspan=5>:</td>
						<td colspan=4>.....................................................................</td>
						<td>Masa :</td>
						<td>.......................</td>
						
					<tr>
						<td colspan=4>.....................................................................</td>
						<td colspan=2 rowspan=5>
							<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="2" bordercolor=black>
								<tr>
									<td width=60%>Masa Mula</td><td></td>
									<tr>
										<td>Masa Selesai</td><td></td>
										<tr>
											<td>Jumlah Masa</td><td></td>
									</table>
						</td>
						
					<tr>
						<td colspan=4>.....................................................................</td>
									
				   		<tr>
							<td colspan=4>.....................................................................</td>
							
							<tr>
								<td colspan=4>.....................................................................</td>
								
								
		<tr>
			<td>Jenis Penyampaian</td>
			<td>:</td>
			<td width=10%><table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
				<tr>
					<td><br></td>
				</table>
				
			</td>
			<td> T: Teori</td>
			<td> P: Praktikal</td>
			<td> L: Lain-lain</td>
			
			
					</table>
		
</table>

<br>

<table width=75% cellspacing="0" cellpadding="3" font size="5px" border="0" bordercolor=black>
	<tr>
		<td>1.</td> 
		<td>Instrument ini mengandungi lima dimensi dengan wajaran seperti berikut:</td>
	<tr><td></td>
		<td><table width=100% cellspacing="0" cellpadding="2" font size="5px" border="1" bordercolor=black>
			<tr>
				<td width=60%><center>Dimensi</td><td><center>Wajaran</td>
			<tr>
				<td>A. PERSEDIAAN</td><td><center>25%</td>
			<tr>
				<td>B. PENYAMPAIAN</td><td><center>30%</td>
			<tr>
				<td>C. PENGGUNAAN</td><td><center>5%</td>
			<tr>
				<td>D. PENGESAHAN</td><td><center>20%</td>
			<tr>
				<td>E. TEKNIK UMUM MENGAJAR</td><td><center>20%</td>
			</table>
</table>

<br>
<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black>
	<tr>
		<td><b>Arahan:</b><br>
			   1. Tandakan (&#10003;) pada ruangan skor yang berkaitan mengikut skala yang telah ditetapkan.<br>
			   2. Tuliskan ulasan jika perlu.</td>
</table>

<br>
<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black>
	<tr bgcolor=yellow>
		<td><center>Skala Pengukuran</td>
		<td><center><b>5: Cemerlang</td>
		<td><center><b>4: Baik</td>
		<td><center><b>3: Sederhana</td>
		<td><center><b>2: Lemah</td>
		<td><center><b>1: Sangat Lemah</td>
</table>

<br>
<table width=100% cellspacing="0" cellpadding="3" font size="5px" border="1" bordercolor=black>
	<tr>
		<td rowspan=2><table width=100% cellspacing="0" cellpadding="3" font size="5px" border="0" bordercolor=black>
	<tr>
		<td rowspan=2><b>BAHAGIAN A :</td>
		<td rowspan=2 width=60%><center><b>PERSEDIAAN</td>
			</table>
	    <td colspan=5 width=25%><center><b>SKOR</td>
		        <td rowspan=2 width=25%><center><b>ULASAN</td>
		 <tr><td><center><b>5</td>
			 <td><center><b>4</td>
			 <td><center><b>3</td>
			 <td><center><b>2</td>
			 <td><center><b>1</td>

</table>


<br><br><br><br><br><br>

<center>1 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>

<br><br><br>

<fieldset width=10px >

<div id="title">
<div id="title">

<br><br>


<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
   <tr bgcolor=yellow>
	  <td width=7%><b><center>SIRI</td>
	  <td width=70%><b><center>SOALAN</td>
	  <td><b><center>2</td>
	  <td><b><center>1</td>
	  <td><b><center>0</td>
		
   <tr>
	  <td>12.</td>
	  <td>Adakah saya mengelak diri dari melakukan perkara yang boleh mengganggu pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>13.</td>
	  <td>Adakah saya menilai keberkesanan pengajaran saya perpandukan tindak balas dan reaksi pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>14.</td>
	  <td>Adakah saya mengelak dari bercakap dengan papan kapor atau kanta lutsinar dan bertentangan mata dengan pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>

   <tr>
	  <td>15.</td>
	  <td>Adakah saya menggunakan perkataan yang mudah difahami?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>16.</td>
	  <td>Adakah saya bersopan dan mengelak dari menggunakan bahasa yang kesat?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>17.</td>
	  <td>Adakah saya memberi penerangan ke atas perkataan yang sukar dan menulisnya di papan kapor?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>18.</td>
	  <td>Adakah saya mengelak dari menyindir pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>19.</td>
	  <td>Adakah saya mempunyai rancangan mengajar untuk setiap mata pelajaran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>20.</td>
	  <td>Adakah ini menjadi satu tabiat kepada saya untuk ke kelas dengan membawa kesemua bahan bantuan mengajar yang
		  diperlukan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>21.</td>
	  <td>Adakah rancangan mengajar saya dapat membantu persembahan mata pelajaran mengikut urutan yang betul?</td>
	  <td></td>
	  <td></td>
	  <td></td>
 
   <tr>
	  <td>22.</td>
	  <td>Adakah ia menepati masa bagi setiap mata pelajaran yang diajar?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>23.</td>
	  <td>Adakah ia dapat menimbulkan pertanyaan soalan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
  
   <tr>
	  <td>24.</td>
	  <td>Semasa mengendalikan latihan amali di bengkel adakah saya menghadkan percakapan saya ke tahap minimum, agar pelatih dapat menumpu kepada kerja masing-masing?</td>
	  <td></td>
	  <td></td>
	  <td></td>

   <tr>
	  <td>25.</td>
	  <td>Adakah saya sering kali mengulangi ungkapan yang kurang penting?</td>
	  <td></td>
	  <td></td>
	  <td></td>

   <tr>
	  <td>26.</td>
	  <td>Adakah saya mengelak dari menggangu pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>27.</td>
	  <td>Adakah saya mengelakkan pelatih membuat kerja sehingga selesai waktu?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>28.</td>
	  <td>Adakah saya menyesuaikan diri saya dengan kelas?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>29.</td>
	  <td>Adakah saya mengalakkan pelatih menanya soalan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>30.</td>
	  <td>Adakah pelatih menghormati saya sebagai seorang jurulatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>31.</td>
	  <td>Adakah saya menggunakan bahan bantuan mengajar pada waktu yang bersesuaian?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>32.</td>
	  <td>Adakah saya mengubahsuai bahan bantuan mengajar jika perlu?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>33.</td>
	  <td>Adakah saya membuat penelitian ke atas bahan bantuan mengajar sebelum digunakan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>34.</td>
	  <td>Adakah saya memperolehi tumpuan sepenuhnya dari semua pelatih?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>35.</td>
	  <td>Adakah saya memberi motivasi kepada pelatih dengan membuat huraian berhubung kait dengan pembelajaran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>36.</td>
	  <td>Adakah saya memberitahu pelatih objektif pembelajaran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>37.</td>
	  <td>Adakah saya mengulangkaji kemahiran atau keperluan pengetahuan diri untuk mengajar?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>38.</td>
	  <td>Adakah saya mempersembahkan maklumat mengikut urutan yang terbaik?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>39.</td>
	  <td>Adakah saya mempersembahkan contoh yang senang sebelum memberikan yang lebih susah?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>40.</td>
	  <td>Adakah saya membuat perbelajaran menjadi lebih mudah dengan cara memberi contoh-contoh yang baik untuk mempertingkatkan daya ingatan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td>41.</td>
	  <td>Adakah saya menanya soalan kepada pelatih semasa pembelajaran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	  
	
	
</table>


<br><br><br><br><br><br>

<center>2 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>


<br><br><br>

<fieldset width=10px >

<div id="title">
<div id="title">

<br><br>


<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
   <tr bgcolor=yellow>
	  <td width=7%><b><center>SIRI</td>
	  <td width=70%><b><center>SOALAN</td>
	  <td><b><center>2</td>
	  <td><b><center>1</td>
	  <td><b><center>0</td>
		
   <tr>
	  <td>42.</td>
	  <td>Adakah saya memastikan pelatih memperolehi pengetahuan dan keupayaan yang dinyatakan pada objekif?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>43.</td>
	  <td>Adakah saya memberi masa yang cukup kepada pelatih untuk melatih kemahiran?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>44.</td>
	  <td>Adakah maklum balas diberi kepada setiap pelatih selepas setiap soalan atau perlaksanaan?</td>
	  <td></td>
	  <td></td>
	  <td></td>

   <tr>
	  <td>45.</td>
	  <td>Adakah saya menguji tahap pengetahuan dan keupayaan untuk setiap objektif?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>46.</td>
	  <td>Adakah saya membuat latihan susulan pada kemahiran yang penting supaya pelatih tidak cepat lupa?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>47.</td>
	  <td>Adakah saya mengubahsuai cara megajar setelah mengambil kira tahap kebolehan dan pengalaman pelatih yang berlainan?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
   <tr>
	  <td>48.</td>
	  <td>Adakah saya memberi perhatian yang lebih kepada pelatih yang lemah?</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
	<tr>
	  <td colspan=2 align="right"><b><i>JUMLAH</td>
	  <td></td>
	  <td></td>
	  <td></td>
	
</table>

<br><br>

<center><table width=60% cellspacing="0" cellpadding="5" font size="5px" border="1" bordercolor=black>
	<tr>
		<td bgcolor=yellow width=40% rowspan=2><center><b><i>SKOR KESELURUHAN</td>
			<td><b><center> > 90</td>
		    <td><b><center>80 - 65</td>
			<td><b><center> < 64</td>
				<tr><td><br></td>
					<td></td>
					<td></td>
	
	</table></center>
	
<br><br><br>

<table width=100% cellspacing="0" cellpadding="5" font size="5px" border="0" bordercolor=black>
	<tr>
		<td width=53%>TARIKH : ...........................................</td>
		<td>TANDATANGAN : ......................................<br><br>
			Nama : .........................................................<br><br>
			Pangkat : ......................................................</td>
</table>


<br><br><br> <br>

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN OLEH: BKMM</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DISEMBER 2011</th>
	</tr>

</table>

<br><br><br><br>

<center>3 daripada 3</center>

<br><br>

</div>
</div>
</fieldset>



