<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="" height="90"/></th>
		<th><H4><br>PPL APMM<br>NO.DOKUMEN: BK-LAT-KS-01-02<BR>BORANG TEMPAHAN PESANAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="" height="90"/></th>
	</tr>
</table>

<div id="title">

<table width=100% cellspacing="0" cellpadding="6" font size="5px" border="1">
	<tr>
		<td colspan=2><B><U><center><font face="arial">AMARAN RASMI PENGARAH PENDIDIKAN DAN LATIHAN APMM</center></U><B></td>
		</tr>
		<tr>
			<td colspan=2><b><u><font face="arial"><br>BAHAGIAN I - AMARAN</U></B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tarikh Amaran : ............/............/.............<br><br>
				Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ................................................................................................................<br><br>
				Pangkat &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: ................................................................................................................<br><br>
				No. Kad Pengenalan : ................................................................................................................<br><br>
				Pada hari ini saya telah memberi amaran kepada pelatih yang bernama dia atas kerana :<br><br>
				....................................................................................................................................................<br><br>
....................................................................................................................................................<br><br>
....................................................................................................................................................<br><br>
				Dia telah dinasihatkan sekiranya tahap pencapaiannya dan juga perkara khusus yang mana ia telah diberi amaran tidak menunjukkan sebarang kemajuan, ia akan dikeluarkan dari kursus.</td>
				
			</tr>
			<tr>
				<td width=50%><b><u><font face="arial">PENGARAH PENDIDIKAN & LATIHAN APMM</U></B><br><br>
					Tandatangan : .................................................<br><br>
					Nama : .............................................................<br><br>
					Pangkat : .........................................................<br><br>
					Tarikh : ............................................................</td>
					<td width=50%><b><u><font face="arial">PELATIH</u></b><br><br>
						Tandatangan : .............................................<br><br>
						Nama : .........................................................<br><br>
						Pangkat : .....................................................<br><br>
						Tarikh : ........................................................</td>
						</tr>
				<tr>
					<td colspan=2><b><u><font face="arial">BAHAGIAN II - TINDAKAN<br><br>
						Oleh Pegawai Bahagian :</b></u><br><br>
						Borang ini hendaklah disediakan dalam tiga salinan untuk disimpan :<br><br>
						a. Fail Sekolah <br><br>
						b. Pelatih<br><br>
						<b><u>Untuk Pelatih</b></u><br><br>
						Pelatih yang gagal Peperiksaan Ulangan ke Dua akan dikeluarkan dari latihan dan diserahkan ke Cawangan Sumber Manusia untuk tindakan selanjut.</td>
						</tr>
			
</table>


<br><br><br> 

<table width=100% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN: STAF TBL</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 5 DIS 2011</th>
	</tr>

</table><br><br>
<center>1 daripada 1</center>

<br><br>

</div>
</div>
</fieldset>

