<%= stylesheet_link_tag 'report' %>
<div id="A4landscape">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >

<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" src="/images/KM.jpg" alt="km" width="100" height="100"/></th>
		<th><H4>PPL APMM<BR><BR>NO.DOKUMEN: BK-LAT-KS-03-01<BR>BORANG UJIAN KECERGASAN</H4> </th>
		<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="100" height="100"/></th>
	</tr>
</table>
<br><br>


<table width=100% cellspacing="0" cellpadding="3" font size="2px" border="1">

	
	<tr bgcolor=yellow>
		<th width=3% valign=middle><font size="1"><b>Bil</th>
		<th width=7%><font size="1"><b>Pangkat</th>
		<th width=20%><font size="1"><b>Nama</th>
		<th width=8% valign=middle><font size="1"><b>Tarikh Lahir</th>
	    <th width=8%><font size="1"><b>Umur</th>
		<th width=8%><font size="1"><b>Tinggi</th>
		<th width=8%><font size="1"><b>Berat</th>
		<th width=8%><font size="1"><b>Bangkit Tubi (Dalam 60 Saat)</th>
		<th width=8%><font size="1"><b>Lompat Jauh Keadaan Berdiri (CM)</th>
		<th width=8%><font size="1"><b>4 X 10 Meter Lari Ulang Alik (Saat)</th>
		<th width=8%><font size="1"><b>Mendagu dalam 30 saat (Lelaki) dan Bergantung dengan tangan (wanita) saat</th>
		<th width=8%><font size="1"><b>Larian 2.4 KM (Minit)</th>
		<th width=8%><font size="1"><b>Renang/ Terapung</th>
		<th width=8%><font size="1"><b>KEPUTUSAN LULUS/GAGAL</th>
		</tr>
		
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
			
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
				
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
					
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
						
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
							
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
								
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
									
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
			
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
				
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
					
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
						
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
							
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
								
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
									
	<tr>
		<td><br></td>	
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>	
</table>


<br><br>

<center><table width=90% cellspacing="0" border="1">
	<tr>
		<th colspan=4 align="left"> DISEDIAKAN : IMPLEMENTASI LATIHAN</th>
		<th colspan=2 align="left">TARIKH KEMASKINI: 26 JANUARI 2012</th>
	</tr>
</table></center>
<br><br><br><br>

</div>
</div>
</fieldset>

