<h3>New Analysis Result</h3>

<% form_for(@analysis_grade) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', analysis_grades_path %>