<p>
  <b>Address book:</b>
  <%=h @address_book_item.address_book_id %>
</p>

<p>
  <b>Item:</b>
  <%=h @address_book_item.item %>
</p>


<%= link_to 'Edit', edit_address_book_item_path(@address_book_item) %> |
<%= link_to 'Back', address_book_items_path %>