<% form_for(@addbook) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>New Address</H2>
 		<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
	  <p>
	    <%= f.submit 'Create' %>
	  </p>
<% end %>
</div>

<%= link_to 'Back', addbooks_path %>