<h3>New Bulletin</h3>

<% form_for(@bulletin, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>Fields marked with an asterisk <font color="red"> * </font> are required</td></p>

<p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>

<%= link_to 'Back', bulletins_path %>