<td>
		<div class="btn-group dropdown">
			<!--<button class="btn"></button>-->
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right">
				<li><%= link_to content_tag(:i, "", :class => "icon-eye-open") + "   " + t('.edit', :default => t("helpers.links.edit")), edit_student_path(student) %></li>
				<li><%= link_to content_tag(:i, "", :class => "icon-edit") + "   View", student_path(student) %></li>
				<li class="divider"></li>
				<li class="danger"><%= link_to link_to content_tag(:i, "", :class => "icon-trash") + "   " + t('.destroy', :default => t("helpers.links.destroy")),
                    student_path(student),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }%></li>
			</ul>
		</div>
</td>