<div class="qualification">
	<% new_or_existing = qualification.new_record? ? 'new'  : 'existing' %>
	<% prefix = "student[#{new_or_existing}_qualification_attributes][]" %>
	
	<% fields_for prefix, qualification do | qualification_form | -%>
	
 <table width=100%>
	   <tr>
	     <td width=210px><%= qualification_form.select :level_id, Qualification::QTYPE, :prompt => "Select Qualification Level" %></td>
         <td width=270px><%= qualification_form.text_field :qname, :placeholder => 'Qualification Name' %></td>
         <td><%= qualification_form.text_field :institute, :size => '50', :placeholder => 'Institute Name' %></td>
         <td width=250px><%= link_to_function image_tag("delete.png"), "$(this).up('.qualification').remove()" %></td>
       </tr>
    </table>
    
   
   <% end -%>
</div>