<div class="fields">
	| <%= f.text_field :spm_subject, :placeholder => 'Subject' %>  &nbsp;   &nbsp;
	| <%= f.select :grade, Spmresult::GRADE, :prompt => "Select"  %><%= f.hidden_field :_destroy %><!-- 06/10/2011 - Shaliza Update to display grade such as 1A,2A,3B and so on as user requested -->
	<%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>
</div>