

<H2>Session Notes</H2>
<table width=100%>
	
	<tr>
		<td class="leftcol"><label for="issue_desc">Description of Issues</label></td>
		<td><%= f.text_area :issue_desc, :size => '50x4' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="notes">Session Notes</label></td>
		<td><%= f.text_area :notes, :size => '50x6' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="suggestions">Suggestions made to student</label></td>
		<td><%= f.text_area :suggestions, :size => '50x6' %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="suggestions">Session lasted</label></td>
		<td><%= f.text_field :duration, :placeholder => 'minutes', :size => 6 %> </td>
	</tr>
	
	
</table>
