<h3>New Time Table Entry</h3>

<% form_for(@timetable, :html => { :multipart => true}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>


  <% f.fields_for :studentattendances do |builder| %>
		<p><% builder.text_field :student_id %></p>

  <% end%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
<%= link_to 'Back', timetables_path %>