<h2>Lecturer & Course Details</h2><!--20Feb2013-new partial created for EDIT-->
<table width=100%>
	<tr>
		<td  width=20%><label for="short_name">&nbsp;Lecturer Name</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_lecturer.evaluated_lecturer.staff_name_with_title %><!--8March2013--></td>
	</tr>
	<tr>
		<td><label for="short_name">&nbsp;Course Name</label></td>
		<td>:</td> 
		<td><%=h @average_lecturer.course.name %><!--8March2013--></td>
	</tr>
	<tr>
		<td><label for="short_name">&nbsp;Subject Name</label></td>
		<td>:</td>
		<td><%=h @average_lecturer.subjectavg.name %><!--8March2013--></td>
	</tr>
</table>


