<h3>New Instructor Appraisal</h3>

<% form_for(@evaluate_coach) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<BR>
<%= link_to 'Back', evaluate_coaches_path %>