<h2>Lecturer & Course Details</h2><!--20Feb2013-new partial created for EDIT-->
<table width=100%>
	<tr>
		<td  width=20%><label for="short_name">&nbsp;Lecturer Name</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @average_lecturer.lecturer.lecturer_evaluate %></td>
	</tr>
	<tr>
		<td><label for="short_name">&nbsp;Course Name</label></td>
		<td>:</td> 
		<td><%=h @average_lecturer.lecturer.course_evaluate %></td>
	</tr>
	<tr>
		<td><label for="short_name">&nbsp;Subject Name</label></td>
		<td>:</td>
		<td><%=h @average_lecturer.lecturer.subject_evaluate %></td>
	</tr>
</table>


