<h3>New Data Analysis and Average Score</h3>

<% form_for(@average_lecturer) do |f| %>
  	<%= f.error_messages %>
	<div class="tform"><!--20Feb2013-move div from partial-->
		<%=render :partial => 'form', :locals => {:f => f} %> 
		<p><%= f.submit 'Create' %></p>
	</div><!--20Feb2013-move div from partial-->
<% end %>

<%= link_to 'Back', average_lecturers_path %>