<H2>Head of Dept Endorsement</H2>
<table  width=100%>
	
	<tr>
		<td class="leftcol">Mileage</td>
    <td>Mileage Allowance : <%= f.check_box :mileage %> &nbsp; &nbsp;  Mileage Replacement : <%= f.check_box :mileage_replace %></td>
		<td></td>
	</tr>
	
	<tr>
		<td class="leftcol">Head of Dept Endorse</td>
    <td><%= f.check_box :hod_accept, :id => 'check_hod_accept' %>
				<SPAN  id="span_hod_endorse" style="display: none;"><%= f.date_select :hod_accept_on %></SPAN></td>
		<td></td>
	</tr>

</table>

<script type="text/javascript">
	$j(document).ready(function(){
	
					
			//HOD endorse
			$j("input[id='check_hod_accept']").change(function() {  
			 if($j('#check_hod_accept').is(':checked')) { 
			    $j("#span_hod_endorse").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse").hide(""); 
			 }	
			});
			
			$j("input[id='check_hod_accept']").each(function() {  
			 if($j('#check_hod_accept').is(':checked')) { 
			    $j("#span_hod_endorse").show("highlight"); 
			 }else		{
			    $j("#span_hod_endorse").hide(""); 
			 }	
			});

	});
</script>