<table>
	<tr>
			<td class="leftcol"><label for="tpa_comment">General Comment:</label></td>
			<td><%#= f.text_area :tpa_comment, :size => '60x3' %></td>
	</tr>
	<tr>
			<td class="leftcol"><label for="tpa_comment">Date</label></td>
			<td><%#= f.date_select :tpa_comment_on, :order => [:day, :month, :year], :default => Date.today %></td>
	</tr>
</table>