
<fieldset>
	<legend class='togvis'>Lesson Plan Report</legend>
		<table width=85% >
				<tr>
					<td class="leftcol"><label for="classtype">Classtype</label></td>
					<td><%=h (Trainingreport::CTYPE.find_all{|disp, value| value == @trainingreport.classtype}).map {|disp, value| disp} %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="classtype">Lecturer</label></td>
					<td><%#=h @trainingreport.timetable.staff.name %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="classtype">Subject</label></td>
					<td><%#=h @trainingreport.timetable.klass.subject.subject_code_with_subject_name %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="classtype">Topic</label></td>
					<td><%#=h @trainingreport.timetable.topic.name %></td>
				</tr>
			 	<tr>
					<td class="leftcol"><label for="classtype">Date</label></td>
					<td><%#=h @trainingreport.timetable.start_at? ? @trainingreport.timetable.start_at.strftime("%I:%M%p") + ' to ' + @trainingreport.timetable.end_at.strftime("%I:%M%p  %d-%b-%Y") : "" %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="classtype">Location</label></td>
					<td><%#=h @trainingreport.timetable.location.name %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="classtype">Student Count</label></td>
					<td><%#=h @trainingreport.timetable.student_count %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="classtype">Room Condition</label></td>
					<td><%=h @trainingreport.location_state? ? "Memuaskan" : "Tidak Memuaskan" %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="classtype">Room Condition Comments</label></td>
					<td><%#=h @trainingreport.location_comment %></td>
				</tr>
				<tr>
					<td class="leftcol"><label for="abm_comment">Comments on ABM</label></td>
					<td><%#=h @trainingreport.abm_comment %></td>
				</tr>
				
				<tr>
					<td class="leftcol"><label for="summary">Summary</label></td>
					<td><%#=h @trainingreport.summary %></td>
				</tr>
		</table>
</fieldset>

