<div class="tform">
	<h2>Bank Name Details</h2>
  <table width=100% >
	
	<tr>
		<td class="leftcol"><label for="short_name">Short Name</label></td>
		<td><%= f.text_field :short_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="long_name">Long Name</label></td>
		<td><%= f.text_field :long_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="active">Active</label></td>
		<td><%= f.check_box :active %></td>
	</tr>
	
</table>
<BR>
</div>
	
