/* Main Text*/
body {margin: 0; padding: 0;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			
			}

h2 {color: #DDD;
		font-family: sans-serif; font-size: 16px; font-weight: bold;
		}
	
a { color:#33F; text-decoration: underline; cursor:pointer; }
a:hover { color:#8d341f; text-decoration: none;}

input {font-family: courier, serif; font-size: 12px;}
	input#search {
		      font-family: monospace;  font-size: 12px;
					width: 15em; padding: 3px ;
					-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
select {font-family: courier,serif; font-size: 12px;}


/*Main Layout*/

#pagewrapper {
	width: 95%; z-index:0;
	margin: 10px auto; padding: 0;
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
}
	
#top-menu { position:relative; height:1.8em; font-size: 0.8em; 
						background: #2C4056; color: #fff;  padding: 2px 2px 0px 6px;}
		#top-menu ul {margin: 0;  padding: 0;}
		#top-menu li {float:left; margin: 0px; padding: 0px;
									list-style-type:none; white-space:nowrap;}
		#top-menu a {color: #fff; margin-right: 8px; font-weight: bold;}

				/* DIVS in top-menu*/
				#account {float:right;}


#header { background-color: #3B5998;
	    		position:relative; margin: 0; padding: 0;
				}
		/* DIVs in header			*/
		#header img { margin: 0px;}
	
		#notifications { position:relative; float: right; top: 40px; right: -110px;} 
				#notifications p, #notifications a {
						padding: 0px 0px; margin: 0;
				    font-size: 8px; font-weight: none; font-family: Helvetica, Verdana, sans-serif;
				    color: #FCE8B4; text-decoration: none; text-align: right;}
				
				
#navbar {position:relative; width: 100%;  height: 2.1em; background: #3B5998; padding: 2px 0 0 0; margin: 0;}
	#navbar ul {
		    padding: 0;
		    margin: 0; 
		    float: left;
		    font-weight: bold;
		    border-bottom: 2px solid #333; 
		}

	ul.dropdown                  { position: relative; width: 100%; background-color: #3B5998; z-index:99;}
	ul.dropdown li               { font-weight: bold; float: left; zoom: 1;  list-style: none; font-size: 13px;}
	ul.dropdown a:hover		       { color: #000; }
	ul.dropdown a:active         { color: #ffa500; }
	ul.dropdown li a             { display: block; padding: 4px 40px 4px 8px; border-right: 1px solid #333; color: White; text-decoration: none;}
	ul.dropdown li:last-child a  { border-right: none; } /* Doesn't work in IE */
	ul.dropdown li.hover,        
	ul.dropdown li:hover         { background: #F3D673; color: black; position: relative; }
	ul.dropdown li.hover a       { color: black; }


	/* 
		LEVEL TWO
	*/
	ul.dropdown ul 							 { width: 200px; visibility: hidden; position: absolute; top: 100%; left: 0; }
	ul.dropdown ul li 					 { font-weight: normal; background: #f6f6f6; color: #000; border-bottom: 1px solid #ccc; float: none; }
	                                    /* IE 6 & 7 Needs Inline Block */
	ul.dropdown ul li a					 { border-right: none; width: 100%; display: inline-block; color: #000;} 

	/* 
		LEVEL THREE
	*/
	ul.dropdown ul ul 					 { left: 100%; top: 0; }
	ul.dropdown li:hover > ul 	 { visibility: visible; }






	/*  Menu System End */


#notifications_nuovo { 
	position:relative; 
	width: 25%; padding: 10px 20px; margin : 10px 50px;
	background: #F0D9D9;
	font: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
	 }
			#notifications_nuovo H4 {padding:0;font-size: 1.1em; padding: 0px 0px; margin: 1px; color: #000; font: 13px;}
			#notifications_nuovo a, #notifications_nuovo p {padding:0; margin :3px; color:#4f6b72; text-decoration: none; font: 10px ;}
			
			#notifications {
				width: 80%;
				align: center;
				}
			


#content {position:static; 
	    width:90%; padding: 20px 10px 10px 15px; min-height:440px; 
}
					
#bulletin { position:static; width: 100%;border: 1px solid white; z-index:0;}

			#bulletin_bar {
				margin:2px auto;
				background:#fff;
				border: 1px solid #FFF;
				float: left; z-index:0;
			}
			#bulletin_title_item {margin:2px 10px auto; float: left;}
			#bulletin_title_item p {padding:2px;font-size: 10px;}
			
			

	
#event_bar{
		 position:absolute;
		 top:200px; right:50px;
		 padding: 0;
		 width:165px;
}
		#event_bar h3, #event_bar h3 a{
				background-color:#AAA;
				text-align:center; font-size: 1em; color: white;font-weight:bold;
				text-decoration: none; padding: 1px; margin:0px; border-bottom:solid 2px #DDD; 
	  }
			
		#event_bar h5, #event_bar h5 a{
				text-align:center; font-size: 0.9em; color: black;font-weight:bold;  
				padding: 0; margin:0; text-decoration: none;}
		
		.sidebar_event_item0 {
		    padding:4px 8px;
		    background-color:#fff;
		    width:150px;
		}
		.sidebar_event_item1 {
		    padding:4px 8px;
		    background-color:#ddd;
		    width:150px;
		}

		.sidebar_event_item0 p,
		.sidebar_event_item1 p,
		.sidebar_event_item0 p a,
		.sidebar_event_item1 p a {
		    text-decoration:none; color:#222; font-family: tahoma, sans-serif; font-size: 0.8em;
		    text-align: center; padding:0; margin:0;
		}
	
#footer {
	    background-color: #999;
	    padding-top: 6px;
	    padding-bottom: 6px;
	    clear:both;
	    border-top: 2px solid #333;
	    text-align: center;
}
			#footer p, #footer a {
			    text-align: center;
			    font-size: 10px;
			    color: white;
			    font-weight:bold;
			    margin: 0;
			    padding: 2px;
			}


	.fieldWithErrors {
	  padding: 2px;
	  background-color: red;
	  display: table;
	}

	#errorExplanation {
	  width: 400px;
	  border: 2px solid red;
	  padding: 7px;
	  padding-bottom: 12px;
	  margin-bottom: 20px;
	  background-color: #f0f0f0;
	}

	#errorExplanation h2 {
	  text-align: left;
	  font-weight: bold;
	  padding: 5px 5px 5px 15px;
	  font-size: 12px;
	  margin: -7px;
	  background-color: #c00;
	  color: #fff;
	}

	#errorExplanation p {
	  color: #333;
	  margin-bottom: 0;
	  padding: 5px;
	}

	#errorExplanation ul li {
	  font-size: 12px;
	  list-style: square;
	}
	
	
	


.locale {
	float:right;
	padding-top: 0.2em;
}	
.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; font-size: 11px;}
.ac { text-align: center !important; }

.tform  {
	border-collapse:collapse;
	border: 3px white;
	text-align:left;
	padding:5px;
	margin-left: 40px;
	background-color: #F3F4F5;
}

.tform table {padding: 2px 5px;}

.photo {
	float:right;
	display: block;
}

.tform H2{ 
	background:#CDF; 
	color: #000;
	font-family: tahoma, sans-serif;
	font-size: 12px; 
	font-weight: bold;
	padding: 12px 5px;
}



.tform tr:hover td{ 
	background:#fff9e1; 
}

.tform th {
	/*border-collapse:collapse;*/
	font-family: tahoma, sans-serif;
	color: #444;   
	font-size: 12px;    
	font-style: bold;
    text-align: left;
    background-color: #ABC;
    border-bottom:solid 1px #d2d1cb;
	padding: 3px 5px;
	margin: 15px;
	height: auto;
}

.tform td {
   vertical-align: top;
   border-bottom:solid 1px #F0F4FF;
   padding: 3px 35px 3px 5px;
}

.tform .show-image {height: 22em;}

.tform  .diagram {
  width:        400px;
}


.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 10px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }



.tform .leftcol {
    font-weight: bold;
    font-family: tahoma, sans-serif;
    text-align: left;
    font-style: bold;
    width: 200px;
	/*text-indent:5px;*/
	vertical-align: top;
    /*background-color: #CCCCCC;*/
}

.tform .leftcolwide {
    font-weight: bold; font-family: tahoma, sans-serif; text-align: left; font-style: bold; 
	width: 250px; vertical-align: top;
}

.tform .pagenote {
	font-family: tahoma, sans-serif; text-align: left; 
	color: #444;   font-size: 10px; vertical-align: middle;;
}




/*lists */
.box { 
	background:#fbfcfc; 
	height:100%; 
	padding:1px; 
	margin-bottom:20px; 
	}
.box-head { 
	background:#DDD; 
	height:28px; color:#fff; 
	padding: 10px 10px; line-height:16px; 
	white-space:nowrap; 
	border-bottom:solid 1px #fff; 
	}
	
	.box-head h2{color:#333;}
	.box-head .right{padding-top:5px; line-height:13px; float:right;}


.toolbar p a {color:#818181; text-align: left; font-size: 10px; text-decoration:none; padding: 0px 10px 5px 0px; float:left;}

/* Replace tlist with indextable as and when you can*/
.indextable{}
.indextable table{width:100%; border:0;}
.indextable th {padding:3px 3px; background:#fffdfa; color:#818181; text-align: left; 	border-bottom:solid 1px #d2d1cb;}
.indextable th .current{padding-right: 20px; background-repeat: no-repeat; background-position: right center;}
.indextable td{padding:4px 3px 7px 5px; background:#fbfcfc;  border-bottom:solid 1px #e0e0e0; font-size: 1em; }
/*.indextable a {color:#BBB; font-size: 12px; text-decoration:none;}*/
.indextable tr:hover td{background:#fff9e1; }
.indextable th .asc {background-image: url(/images/bullet_arrow_up.png);}
.indextable th .desc {background-image: url(/images/bullet_arrow_down.png);}
.indextable .list-image {width: 60px; height: 70px;}

	
.tlist {}
.tlist th { 
	background:#fffdfa; 
	color:#818181; 
	text-align: left; 
	padding:3px 3px; 
	border-bottom:solid 1px #d2d1cb;
	text-decoration:none;
}
.tlist a { 
	color:#BBB;
	font-size: 9px; 
	text-decoration:none;
}
.tlist td{ 
	background:#fbfcfc;  
	border-bottom:solid 1px #e0e0e0; 
	padding:4px 3px 7px 5px;
	font-size: 11px; 
}
.tlist tr:hover td{ 
	background:#fff9e1; 
}

.tlist .list-image {
  width:        60px;
  height:       70px;
}





/* show form */
fieldset { margin: 0 0 22px 0; border: 1px solid #CAE8EA; padding: 12px 17px; background-color: #F5FAFA; }
legend { 
	font-size: 1.1em; background-color: #095D92; color: #FFFFFF;  padding: 4px 8px; 
	font-weight: bold; font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;; text-align: left; }
.showform  {
	border-collapse:collapse; border: 3px white; padding:5px;
	text-align:left; margin-left: 40px; background-color: #F6F7F8;
}
.showform H2{ 
	background:#4f6b72; color: #FFF; padding: 12px 5px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;; font-size: 12px; font-weight: bold;	
}
.showform table {padding: 2px 5px; width: 100%;}
.showform tr:hover td {background: #C1DAD7;} 
.showform td {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; vertical-align: top;
	border-bottom:solid 1px #F0F4FF; padding: 3px 30px 3px 5px;
}
.showform .leftcol {
    font-weight: bold; font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;; text-align: left; font-style: none;
	letter-spacing: 1px; width: 220px; vertical-align: top;
}
.showform .show-image {height: 22em;}
.showform .diagram {width: 6in;}

.showform #subtable table {width: 100%; padding: 0; margin: 0;}
.showform #subtable th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #4f6b72;
	border-right: 1px solid #C1DAD7; border-bottom: 1px solid #C1DAD7; padding: 6px 6px 6px 12px;
	text-transform: uppercase; text-align: left;
	background: #E6E7E8 url(images/bg_header.jpg) no-repeat;
}




/*report*/

.treport {}
.treport th{ 
	background:#98AFC7; 
	color: white; 
	text-align: center,; 
	padding:4px 10px; 
	border-bottom:solid 1px #d2d1cb;
	font-size: 13px;
	font-family: Arial, sans-serif;
    
	
}
.treport td{ 
	background:#fbfcfc;  
	border-bottom:solid 1px #e0e0e0; 
	padding:4px 10px;
	font-size: 11px; 
}
.treport tr:hover td{ 
	background:#E0ECF8; 
}



#timetable {}

#timetable table {
	font-size: 11px;
	width: 100%;
	
		
}
#timetable th{ 
	background:white; 
/*	color:#000000; */
	text-align: center; 
	font-size: 11px;
	font-weight:bold;  
	
}
#timetable td{ 
	background:white;  
	font-size: 11px; 
	font-weight:bold;
	text-align: center;  
}



#notice { background-color: #A4E7A0; border: 1px solid #26722D; }
#error { background-color: #F0A8A8; border: 1px solid #900; }
#notice, #error { width: 90%; margin: 0 auto 10px auto; padding: 5px; }
#notice p, #error p { margin-left: 20px; padding: 0; font-size: .75em; color: #000; }
#notice a, #error a { text-decoration: none; padding: 0 3px; }
#notice a { border: 1px solid #26722D; color: #26722D; }
#error a { border: 1px solid #900; color: #900; }
#notice a:hover, #error a:hover { color: #333; border: 1px solid #333; }



/*	boxes for course application */
.column {
    margin-left: 10px;
}
.coursebox {
    width: 280px;
    height: 180px;
    background-color: #DDD;
    margin: 5px;
    padding: 5px;
		float: left;
		position:relative;
}

.coursebox .cb_name {
	text-align: center;
	padding: 10px 0px;
}
.coursebox .cb_name a{
    font-family: impact, sans-serif;
    font-size: 24px;
		color: #AAA;
		text-decoration:none;
}

.coursebox .cb_description {
	text-align: center;
	font-family: tahoma, sans-serif;
	color: #AAA;
}

.coursebox .admin_actions {
	position: absolute; bottom: 0; right:0; width: 70px;
}


/*hover alts */
.coursebox:hover {
    background-color: #69F;
}
.coursebox:hover .cb_name a{
		color: #FFF;
		text-decoration:none;
}

.coursebox:hover .cb_description {
	font-family: tahoma, sans-serif;
	color: #FFF;
}

.cb_name H2hover{
		color: #333;
}

.cb_description

/*	boxes for course application */


/* Menu System */
/* 
	LEVEL ONE
*/



.yellow td {background-color: green; color:green;}
.green td {background-color: #EFE; }
.red td {background-color: #FEE; }
.blue td {background-color: #EEF; }


/* Table Design for data tables */

#easytable table {width: 700px; padding: 0; margin: 0;}

#easytable caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

#easytable th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

#easytable th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

#easytable td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


#easytable td.alt {
	background: #F5FAFA;
	color: #797268;
}

#easytable th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(images/bullet1.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#easytable th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(images/bullet2.gif) no-repeat;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

#easytable .list-image {
  width:        60px;
  height:       70px;
}


.stats {
	padding: 0px 20px;
	margin : 20px 50px;
	background: #00A3D2;
	font: bold 72px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #FDF4DF;
	width: 80%;
	min-height:440px
	-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}


.stats p {
	margin: 0;
	padding: 0;
}

/* CSS for Pagination */

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
 }

.pagination a, .pagination span, .pagination em {
    padding: 0.2em 0.5em;
 }

.pagination .disabled {
    color: #aaaaaa;
}
 
.pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084;
}
 
.pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
}
    
.pagination a:hover, .pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white;
}
  
.pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
}
  
.pagination .previous_page, .pagination .next_page {
    border-width: 2px;
}
  
.pagination .previous_page {
    margin-right: 1em;
}
  
.pagination .next_page {
    margin-left: 1em;
}

#calendar h2 {color: #000;
		font-family: sans-serif; font-size: 16px; font-weight: bold;
		}
		
#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar .today {
  background-color: #D7F2FF;
}

#calendar ul {
  margin: 1;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  color: #999;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
  color: #999;
}




/*  Tabbed Interface Block   */
article.tabs  
{  
    position: relative;  
    display: block;  
    width: 100em;  
    height: 50em;  
    margin: 2em;  
}

article.tabs section  
{  
    position: absolute;  
    display: block;  
    top: 1.8em;  
    left: 0;  
    height: 48em;  
    padding: 10px 20px;  
    background-color: #ddd;  
    border-radius: 5px;  
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);  
    z-index: 0;  
}

article.tabs section:first-child  
{  
    z-index: 1;  
}

article.tabs section h2  
{  
    position: absolute;  
    font-size: 1em;  
    font-weight: normal;  
    width: 120px;  
    height: 1.8em;  
    top: -1.8em;  
    left: 10px;  
    padding: 0;  
    margin: 0;  
    color: #999;  
    background-color: #ddd;  
    border-radius: 5px 5px 0 0;  
}  
article.tabs section:nth-child(2) h2  
{  
    left: 132px;  
}  
article.tabs section:nth-child(3) h2  
{  
    left: 254px;  
}  
article.tabs section h2 a  
{  
    display: block;  
    width: 100%;  
    line-height: 1.8em;  
    text-align: center;  
    text-decoration: none;  
    color: inherit;  
    outline: 0 none;  
}

article.tabs section:target,  
article.tabs section:target h2  
{  
    color: #333;  
    background-color: #fff;  
    z-index: 2;  
}

article.tabs section,  
article.tabs section h2  
{  
    -webkit-transition: all 500ms ease;  
    -moz-transition: all 500ms ease;  
    -ms-transition: all 500ms ease;  
    -o-transition: all 500ms ease;  
    transition: all 500ms ease;  
}