/* Main Text*/
body {margin: 0; padding: 0;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 12px;
			}

h2 {color: #FFF;
		font-family: sans-serif; font-size: 16px; font-weight: bold;
		}
	
a { color:#33F; text-decoration: underline; cursor:pointer; }
a:hover { color:#8d341f; text-decoration: none;}

input {font-family: courier, serif; font-size: 12px;}
	input#search {
		      font-family: monospace;  font-size: 12px;
					width: 15em; padding: 3px ;
					-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
select {font-family: courier,serif; font-size: 12px;}


/*Main Layout*/

#pagewrapper {
	width: 95%;
	margin: 10px auto; padding: 0;
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
}
	
#top-menu { position:static; height:1.8em; font-size: 0.8em; 
						background: #2C4056; color: #fff;  padding: 2px 2px 0px 6px;}
		#top-menu ul {margin: 0;  padding: 0;}
		#top-menu li {float:left; margin: 0px; padding: 0px;
									list-style-type:none; white-space:nowrap;}
		#top-menu a {color: #fff; margin-right: 8px; font-weight: bold;}

				/* DIVS in top-menu*/
				#account {float:right;}


#header { background-color: #3B5998;
	    		position:static; margin: 0; padding: 0;
				}
		/* DIVs in header			*/
		#header img { margin: 0px;}
	
		#notifications { position:relative; float: right; top: 40px; right: -110px;} 
				#notifications p, #notifications a {
						padding: 0px 0px; margin: 0;
				    font-size: 9px; font-weight: bold; font-family: Verdana, Helvetica, sans-serif;
				    color: #FCE8B4; text-decoration: none; text-align: right;}
	
#navbar {position:static; width: 100%; height:2.5em; background-color: #3B5998; 
				 padding: 0; margin: 0;}
			#navbar ul {
			    float: left; 
			    color: White;
					list-style: none; font-weight: bold; font-size: 12px;
			    border-bottom: 4px; padding: 0; margin: 0;}
			#navbar ul li { 
			    display: inline;
			    color: White;
			    float: left;
			    border-right: 1px solid #3B5998;
			    font-family: tahoma, helvetica, sans-serif;}
			#navbar ul li a {
			    padding: 0.5em 2em 0.5em 0.7em;
			    background-color: #3B5998; 
			    color: White;
			    text-decoration: none;
			    float:left;}
			#navbar ul li a:hover {
			    background-color: #FFF;
			    color: #000;}
			#navbar #current a {
					background-color: #FFF;
					color: #111;}
				
			#navbar #flotice {
					background-color: #dfffdf;
					border-color: #9fcf9f;
					color: #005f00;
					float: right;}
					
#bulletin { position:static; width: 100%;border: 1px solid white}

			#bulletin_bar {
				margin:2px auto;
				background:#fff;
				border: 1px solid #FFF;
				float: left;
			}
			#bulletin_title_item {margin:2px 10px auto; float: left;}
			#bulletin_title_item p {padding:2px;font-size: 10px;}
				
			
#content {
	    width:90%; padding: 20px 10px 10px 15px;
}
	
#event_bar{
		 position:absolute;
		 top:200px; right:50px;
		 padding: 0;
		 width:165px;
}
		#event_bar h3, #event_bar h3 a{
				background-color:#AAA;
				text-align:center; font-size: 1em; color: white;font-weight:bold;
				text-decoration: none; padding: 1px; margin:0px; border-bottom:solid 2px #DDD; 
	  }
			
		#event_bar h5, #event_bar h5 a{
				text-align:center; font-size: 0.9em; color: black;font-weight:bold;  
				padding: 0; margin:0; text-decoration: none;}
		
		.sidebar_event_item0 {
		    padding:4px 8px;
		    background-color:#fff;
		    width:150px;
		}
		.sidebar_event_item1 {
		    padding:4px 8px;
		    background-color:#ddd;
		    width:150px;
		}

		.sidebar_event_item0 p,
		.sidebar_event_item1 p,
		.sidebar_event_item0 p a,
		.sidebar_event_item1 p a {
		    text-decoration:none; color:#222; font-family: tahoma, sans-serif; font-size: 0.8em;
		    text-align: center; padding:0; margin:0;
		}
	
#footer {
	    background-color: #999;
	    padding-top: 6px;
	    padding-bottom: 6px;
	    clear:both;
	    border-top: 2px solid #333;
	    text-align: center;
}
			#footer p, #footer a {
			    text-align: center;
			    font-size: 10px;
			    color: white;
			    font-weight:bold;
			    margin: 0;
			    padding: 2px;
			}

	/* Navigation Bar  */



	#subnav {
		width: 200px;
		float: left;
		margin: 0 5px 50px 0px;
	}
	#subnav ul{
		list-style: none;
		font-weight: bold;
		font-size: 12px;
		width: 200px;
		margin: 0;
		padding: 0;
	}
	#subnav ul li{
		background-color: #627AAD;
		border-bottom: 1px solid #92AADD;
		border-top: 1px solid #92AADD;
	}
	#subnav ul li a{
		padding: 5px 10px;
		display:block;
		color:white;
		text-decoration: none;
	}
	#subnav ul li a:hover{
	    background-color: #DDF;
	    color: #000; 
	}
	.fieldWithErrors {
	  padding: 2px;
	  background-color: red;
	  display: table;
	}

	#errorExplanation {
	  width: 400px;
	  border: 2px solid red;
	  padding: 7px;
	  padding-bottom: 12px;
	  margin-bottom: 20px;
	  background-color: #f0f0f0;
	}

	#errorExplanation h2 {
	  text-align: left;
	  font-weight: bold;
	  padding: 5px 5px 5px 15px;
	  font-size: 12px;
	  margin: -7px;
	  background-color: #c00;
	  color: #fff;
	}

	#errorExplanation p {
	  color: #333;
	  margin-bottom: 0;
	  padding: 5px;
	}

	#errorExplanation ul li {
	  font-size: 12px;
	  list-style: square;
	}
	
	
	


	
.left, .alignleft { float:left; display:inline; }
.right, .alignright { float:right; display:inline; font-size: 11px;}
.ac { text-align: center !important; }

.tform  {
	border-collapse:collapse;
	border: 3px white;
	text-align:left;
	padding:5px;
	margin-left: 40px;
}

.photo {
	float:right;
	display: block;
}

.tform H2{ 
	background:#CDF; 
	color: #000;
	font-family: tahoma, sans-serif;
	font-size: 12px; 
	font-weight: bold;
	padding: 12px 5px;
}

.tform tr:hover td{ 
	background:#eed7c0; 
}

.tform th {
	/*border-collapse:collapse;*/
	font-family: tahoma, sans-serif;
	font-size: 12px;    
	font-style: bold;
    text-align: left;
    background-color: #DEF;
    border-top:solid 14px #FFF;
    border-bottom:solid 1px #d2d1cb;
	padding: 5px;
	margin: 12px;
	height:25px
}

.tform td {
   vertical-align: top;
   border-bottom:solid 1px #F0F4FF;
   padding: 3px 35px 3px 5px;
}



.leftcol {
    font-weight: bold;
    font-family: tahoma, sans-serif;
    text-align: left;
    font-style: bold;
    width: 175px;

	text-indent:5px;
	vertical-align: top;
    /*background-color: #CCCCCC;*/

}




/*lists */
.box { 
	background:#fbfcfc; 
	height:100%; 
	padding:1px; 
	margin-bottom:20px; 
	}
.box-head { 
	background:#3B5998; 
	height:32px; color:#fff; 
	padding: 10px 10px; line-height:16px; 
	white-space:nowrap; 
	border-bottom:solid 1px #fff; 
	}
.box-head .right{ 
	padding-top:5px; 
	line-height:13px; 
	float:right;
	}

	
.tlist {}
.tlist th{ 
	background:#fffdfa; 
	color:#818181; 
	text-align: left; 
	padding:3px 3px; 
	border-bottom:solid 1px #d2d1cb;
}
.tlist td{ 
	background:#fbfcfc;  
	border-bottom:solid 1px #e0e0e0; 
	padding:4px 3px 7px 5px;
	font-size: 11px; 
}
.tlist tr:hover td{ 
	background:#fff9e1; 
}

.locale {
	float:right;
	padding-top: 0.2em;
}

/*report*/

.treport {}
.treport th{ 
	background:#98AFC7; 
	color: white; 
	text-align: center,; 
	padding:4px 10px; 
	border-bottom:solid 1px #d2d1cb;
	font-size: 13px;
	font-family: Arial, sans-serif;
    
	
}
.treport td{ 
	background:#fbfcfc;  
	border-bottom:solid 1px #e0e0e0; 
	padding:4px 10px;
	font-size: 11px; 
}
.treport tr:hover td{ 
	background:#E0ECF8; 
}



#timetable {}

#timetable table {
	font-size: 11px;
	width: 100%;
	
		
}
#timetable th{ 
	background:white; 
/*	color:#000000; */
	text-align: center; 
	font-size: 11px;
	font-weight:bold;  
	
}
#timetable td{ 
	background:white;  
	font-size: 11px; 
	font-weight:bold;
	text-align: center;  
}



div.flash {margin-top: 8px;}

div.flash.error, #errorExplanation {
	background: url(../images/exclamation.png) 8px 50% no-repeat;
	background-color: #ffe3e3;
	border-color: #dd0000;
	color: #880000;
}
div.flash.notice {
  background: url(../images/true.png) 8px 5px no-repeat;
	background-color: #dfffdf;
	border-color: #9fcf9f;
	color: #005f00;
}



/*	boxes for course application */
.column {
    margin-left: 10px;
}
.coursebox {
    width: 265px;
    height: 170px;
    background-color: #DDD;
    margin: 5px;
    padding: 5px;
		float: left;
		position:relative;
}

.coursebox .cb_name {
	padding: 10px 0px;
}
.coursebox .cb_name a{
    font-family: impact, sans-serif;
    font-size: 24px;
		color: #BBB;
		text-decoration:none;
}

.coursebox .cb_description {
	font-family: tahoma, sans-serif;
	color: #BBB;
}

.coursebox .admin_actions {
	position: absolute; bottom: 0; right:0; width: 70px;
}


/*hover alts */
.coursebox:hover {
    background-color: #69F;
}
.coursebox:hover .cb_name a{
		color: #FFF;
		text-decoration:none;
}

.coursebox:hover .cb_description {
	font-family: tahoma, sans-serif;
	color: #FFF;
}

.cb_name H2hover{
		color: #333;
}

.cb_description

/*	boxes for course application */





















