#A4potrait {
	position: absolute;
	width : 210mm;
}

.printbutton
{
	display: none;
}


#A4potrait1 {
	position: absolute;
	width : 210mm 297mm;
	
}

#A3potrait {
	position: absolute;
	width : 297mm 420mm;
	
}

#A4landscape {
	position: absolute;
	width : 297mm;
	
}

.x-fieldset-noborder {
   	border: 0;
}

#header img {
  display: none;
}

#navbar {
	display: none;
}

#hideLink {
	display: none;
}

#title {
	margin-top: 0.5cm;
}

#title H4 {
	font-size: 18px;
	font-weight:bold; 
	
}

#title H3 {
	font-size: 13px;
	font-weight:bold; 
		
}

#title H2 {
	font-size: 13px;
	font-weight:bold; 
	text-align: right;
}

#title p {
	font-size: 13px;
	font-weight:normal; 
/*	text-decoration: underline;*/
}

#title table {
	border-style: solid;
}

#title table td{
	font-size: 16px;
	vertical-align: text-bottom;

}

#title table th{
	font-size: 16px;
	
}

#borangpenilaiantitle {
	font-weight:bold;
	text-decoration:underline;
		
}

#borangpenilaiantitle2 {
	text-decoration:underline;
		
}

#tabletick1 {
float:right;
width:170px;
height:8px;
margin-bottom:50px;
padding: 5px 5px 10px 5px;
margin-right:180px;

}

#tabletick2 {
float:right;
width:170px;
height:8px;
margin-bottom:50px;
padding: 5px 5px 10px 5px;
margin-right:180px;
}


#tprintreport {}

#tprintreport table {
	font-size: 11px;
	text-align: left;
	width: 100%;
	
		
}
#tprintreport th{ 
	background:white; 
/*	color:#000000; */
	text-align: center; 
	font-size: 11px;
	font-weight:bold;  
	
}
#tprintreport tr.grey td {background: #CCC; text-align: center; font-size: 11px; font-weight:bold; }

#tprintreport td{ 
	background:#fbfcfc;  
	padding:2px 5px;
	font-size: 12px; 
	page-break-after: always;
}

#content {
  float:left;
  width:100%;
  height: 100%;
  page-size: 100%;
  
}

#borangmaklumat  {
	font-family: Arial, sans-serif;
}
#borangmaklumat table {
	font-size: 12px;
	text-align: left;
	width: 100%;
	
		
  }
 
#borangmaklumat table th{
	vertical-align: top;
	font-weight:bold; 
    background-color: #D8D8D8;
  }
#borangmaklumat table td{
	vertical-align: top;
	font-family: Arial, serif;
}

#borangmaklumat H3 {
	font-size: 13px;
	font-weight:bold; 
		
}

#travelclaim {
	margin-top:0cm;
	margin-left:2cm;
	margin-right:1cm;
}
#travelclaim p {}

#travelclaim p.bhgnA {
	font-family: Arial, sans-serif;;

}

#travelclaim p.marginright {
	text-align: right;
	font-size: 16px;
}

#travelclaim p.marginleft {
	font-size: 16px;
	text-align: left;	
}

#travelclaim H4 {
	width: 210mm;
}

#travelclaim H4 {
	font: 1.2em Lucida, serif;
}

#travelclaim p.titleheader {
	font: 11px;
	font-family: Times, sans-serif;
}


#travelclaim table {
	font-size: 1em;
	font-family: Serif;
	margin: auto;
	
}

#travelclaim table th{
	font-size: 14px;
	font-family: Arial, Serif;
	padding: 5px 5px 10px 5px;
	vertical-align:middle;
}

#travelclaim table td{
	font-size: 15px;
	font-family: Arial, Serif;
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:3px;
}

.titlename{
	font-size: 16px;

}

.titlesmall{
	font-size: 15px;
}

.rightside{
	font-size: 10px
}

ol li {
	text-align: justify
}


#sigs td{
	font-size: 1em;
	font-family: Times;
	padding: 0px 5px 5px 5px;
	vertical-align:top;
}

#text {
	font-size: -2px;
	font-family: Arial, sans-serif;
}


.yellow td {background-color: green; color:green;}

.red td {background-color: #FEE; }
.blue td {background-color: #EEF; }
.grey td {background: #555; text-align: center; font-size: 11px; font-weight:bold; }

#A4potrait1 {
	position : absolute;
	width : 210mm;
	height : 297mm;	
	border :1px solid #000000;
	font-family: Arial, sans-serif;
	font-size: 14px;
}

.whitetable {
	margin-left:1.5cm;
	margin-right:1.5cm;
	background-color:#FFFFFF;
	border :1px solid #000000;
	padding:8px 8px 8px 8px;
	font-size: 15px;
}

.spebox {
	margin-left:1.2cm;
	margin-right:1.2cm;
	background-color:#FFFFFF;
	font-size: 16px;
}

.whitetable table td{
	font-family: Arial, sans-serif;
}

ol {
	list-style-type: lower-roman;
}

.bahagian {

	font-weight:bold;
	margin-left:2cm;
	margin-right:2cm;
	float: left;
}

.bahagianright {
	text-align: right;
	font-weight:bold;
	font-size:14px;
	margin-right:1.5cm;
	float: right;
	font-family: Arial, sans-serif;
}

.nokp {
	text-align: right;
	margin-right:2cm;
	float: right;
}

.number {
	margin-left:2cm;
	margin-right:2cm;
}

#numbertiga {
	margin-left:2cm;
	margin-right:2cm;
}

.word {
	font-size:16px;
}

#wordsub {
	margin-left:2.6cm;
	margin-right:2cm;
}

#othertable {
	table-column
	margin-left:2cm;
	margin-right:2cm;
	background-color:#FFFFFF;
	border :1px solid #000000;
	padding:8px 8px 8px 8px;
}

#box{
border: 0px solid #000;
width: 180mm;
margin-left:1.5cm;
margin-right:1.5cm;
}
#left{
	width: 280px;
	height: 40px;
	float: left;
	border: 1px solid #000;
}
#right{
	width:280px;
	height: 40px;
	float: right;
	border: 1px solid #000;
}
#tandatangan{
	width: 200px;
	height: 40px;
	float: left;
	border: 1px solid #FFFFFF;
}
#tarikh{
	width:310px;
	height: 40px;
	float: right;
	border: 1px solid #FFFFFF;
}


.r90 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 3em;
    line-height: 2ex;
    font-family: Arial, sans-serif;
	font-size:10px;
	
    }



