#A4potrait {
	position: absolute;
	width : 190mm;
}

#A4potrait fieldset {
	border:0;
}

#A4potrait1 {
	position: absolute;
	width : 210mm 297mm;	
}

#A4landscape {
	position: absolute;
	width : 297mm;	
}

.printbutton {
	 display :none;
 }

#hideLink {
	text-decoration: none;
	color:white;
	display: none;
}

.x-fieldset-noborder {
    border:0;
}

#header img {
  display: none;
}

#navbar {
	display: none;
}

#title {}

#title H4 {
	font-size: 14px;
	font-weight:bold; 
	text-align: center; 
}

#title H3 {
	font-size: 13px;
	font-weight:bold; 
	text-align: center; 
	
}

#title H2 {
	font-size: 13px;
	font-weight:bold; 
	text-align: right;
}

#title p {
	font-size: 13px;
	font-weight:bold; 
	text-decoration: normal;
}


#tprintreport {}

#tprintreport table {
	
	text-align: left;
	width: 100%;
	
		
}
#tprintreport th{ 
	background:white; 
/*	color:#000000; */
	text-align: center; 
	font-size: 12px;
	font-weight:bold;  
	padding-left: 7px;
	padding-right: 7px;
	padding-top:5px;
	padding-bottom:5px;
	
}
#tprintreport tr.grey td {background: #CCC; text-align: center; font-size: 11px; font-weight:bold; }

#tprintreport td{ 
	background:#fbfcfc;  
	padding:2px 5px;
	font-size: 13px; 
	page-break-after: always;
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:3px;
}

#content {
  float:left;
  width:100%;
  height: 120%;
  page-size: 100%;
  
}

#borangmaklumat  {
	
	font-family: Arial, sans-serif;
	
}
#borangmaklumat table {
	font-size: 11px;
	text-align: left;
	width: 80%;
	margin-left:1cm;
		
  }
#borangmaklumat table th{
	vertical-align: top;
	font-weight:bold; 
    background-color: #D8D8D8;
  }

#borangmaklumat table td{
	vertical-align: top;
	font-family: Arial, serif;
}

#kewpa {
	margin-top:-1cm;
	margin-bottom:-1cm;
}

#kewpa p {
	font-size: 16px;
	font-weight: normal; 
	 
}

#kewpa p.marginright {
	text-align: right;
	font-size: 17px;
}

#kewpa p.marginleft {
	font-size: 16px;
	text-align: left;	
}

#kewpa H4 {
	width: 210mm;
}

#kewpa H4 {
	font: 1.2em Lucida, serif;
}


#kewpa table {
	font-size: 1em;
	font-family: Serif;
	margin: auto;
}

#kewpa table th{
	font-size: 0.7em;
	font-family: Serif;
	padding: 5px 5px 10px 5px;
	vertical-align:top;
	background-color: #FEFE56;
}

#kewpa table td{
	font-size: 15px;
	font-family: Serif;
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:3px;
}

#table1 table th{
	font-size: 12px;
	font-family: Serif;
	background-color: #FEFE56;
	padding-top:4px;
	padding-bottom:2px;
	
}

#table1 table td{
	font-size: 15px;
	font-family: Times, sans-serif;
	padding-left: 7px;
	padding-top:4px;
	padding-bottom:2px;
}


#sigs td{
	font-size: 1em;
	font-family: Times;
	padding: 0px 5px 5px 5px;
	vertical-align:top;
}

#text {
	font-size: -2px;
	font-family: Arial, sans-serif;
}


.yellow td {background-color: green; color:green;}

.red td {background-color: #FEE; }
.blue td {background-color: #EEF; }
.grey td {background: #555; text-align: center; font-size: 11px; font-weight:bold; }



