.A4potrait {
	position: absolute;
	width : 200mm;
	height : 287mm;
	border: 1px solid black;
}

#A4potrait {
	position: absolute;
	width : 200mm;
	height : 287mm;
}

.A4potrait_paged {
	width : 210mm; height : 287mm;  border :1px solid black; padding:3px;	
}

#A4landscape {
	position: absolute;
	width : 287mm;
	height : 200mm;
	border: 1px solid black;
	padding: 10mm 5mm 10mm 0mm;
}

.x-fieldset-noborder {
    border:0;
}

#header img {
  display: none;
}

#navbar {
	display: none;
}


#title {}

#title H5 {
	font-size: 15px;
	font-weight: normal; 
	text-align: right; 
}


#title H4 {
	font-size: 14px;
	font-weight:bold; 
	text-align: center; 
}

#title H3 {
	font-size: 13px;
	font-weight:bold; 
	text-align: center; 
	
}

#title H2 {
	font-size: 13px;
	font-weight:bold; 
	text-align: right;
}

#title p {
	font-size: 13px;
	font-weight:bold; 
	text-decoration: normal;
}


#tprintreport {}

#tprintreport table {text-align: left; width: 100%;}
#tprintreport table td.money {text-align: right; padding-right: 0.5cm;}
	
		
}
#tprintreport th{ 
	background:white; 
    background-color: #FEFE56;
	text-align: center; 
	font-size: 13px;
	font-weight:bold;  
	padding-left: 7px;
	padding-right: 7px;
	padding-top:5px;
	padding-bottom:5px;
	
}
#tprintreport tr.grey td {background: #CCC; text-align: center; font-size: 11px; font-weight:bold; }

#tprintreport td{ 
	background:#fbfcfc;  
	padding:2px 5px;
	font-size: 13px; 
	page-break-after: always;
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:3px;
}

#content {
  float:left;
  width:100%;
  height: 100%;
  page-size: 100%;
  
}

#borangmaklumat  {
	
	font-family: Arial, sans-serif;
	
}
#borangmaklumat table {
	font-size: 11px;
	text-align: left;
	width: 80%;
	margin-left:1cm;
		
  }
#borangmaklumat table th{
	vertical-align: top;
	font-weight:bold; 
    background-color: #D8D8D8;
  }

#borangmaklumat table td{
	vertical-align: top;
	font-family: Arial, serif;
	padding: 5px 5px 10px 5px;
}

#kewpa {
	margin-top:0cm;
}
#kewpa p {}

#kewpa p.marginright {
	margin-right: 0.7cm;
	text-align: right;
	font-size: 16px;
}

#kewpa p.marginleft {
	font-size: 15px;
	text-align: left;	
}

#kewpa H4 {width: 200mm; font: 1em Lucida, serif;}


#kewpa table {font-size: 1em; font-family: Serif; margin: auto;	}
#kewpa table th{
	font-size: 0.7em;
	font-family: Serif;
	padding: 5px 5px 10px 5px;
	vertical-align:top;
	background-color: #FEFE56;
}

#kewpa table td{
	font-size: 15px;
	font-family: Serif;
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:3px;
}
#kewpa table td.filler{font-size: 12px; font-family: Tahoma, Arial, Sans-Serif;}

#kewpa table.textform {margin: 0 2cm 0 2cm;}
#kewpa table.textform td{font-size: 15px; font-family: Lucida, Serif; vertical-align:top; line-height:140%; }
#kewpa span.filler{font-size: 12px; font-family: Tahoma, Arial, Sans-Serif;}
#kewpa span.fff{font-size: 12px; font-family: Tahoma, Arial, Sans-Serif; font-weight:bold;  padding: 0 4mm;  } /*aka freeformfiller*/
#kewpa div.free_signature_block {margin: 0.5cm 1cm 0cm 11cm; font-size: 15px; font-family: Lucida, Serif; line-height:120%; }

#kewpa table.lampiran_kewpa{margin: 0 2cm 0 1.2cm;}
#kewpa table.lampiran_kewpa td.leftcol{font-size: 14px; font-weight:bold; font-family: Lucida, Serif; vertical-align:top; padding:5px;}
#kewpa table.lampiran_kewpa td.maintext{font-size: 14px; font-family: Lucida, Serif; vertical-align:top; padding:5px;}
#kewpa table.lampiran_kewpa td.filler{font-size: 13px; font-family: Tahoma, Arial, Sans-Serif;}
#kewpa table.lampiran_kewpa td.dotts {font-size: 14px; font-weight:bold; font-family: Lucida, Serif; vertical-align:center; padding:0; margin:0;}
#kewpa table.lampiran_kewpa td.leftcoltight {font-size: 13px; font-weight:bold; font-family: Lucida, Serif; vertical-align:top; padding:5px 0px; margin:0;}

#kewpa table.lk {margin: 0mm;}

#table1 table th{
	font-size: 13px;
	font-family: Serif;
	background-color: #FEFE56;
	padding-top:4px;
	padding-bottom:2px;
}

#table1 table td{
	font-size: 16px;
	font-family: Times, sans-serif;
	padding-left: 7px;
	padding-top:4px;
	padding-bottom:2px;
}

table.tlong { page-break-inside:auto; width:197mm; margin:auto; border-collapse:collapse; }
table.tlong tr { page-break-inside:avoid; page-break-after:auto }
table.tlong thead { display:table-header-group;}
table.tlong th {padding:1mm 2mm 3mm 2mm;}
table.tlong th.tright {font-size: 14px; font-family: Lucida, Serif; text-align:right; }
table.tlong th.tcol   {font-size: 12px; font-family: Lucida, Serif; padding:2mm 0; vertical-align:top; text-align:center; background-color: #FEFE56; border: 2px solid black;}
table.tlong td.tdata  {font-size: 9pt; font-family: Tahoma, Sans-serif; text-align:left; padding: 2px 1mm; border: 2px solid black; 
					   height:6mm; vertical-align:top}
table.tlong tfoot { display:table-footer-group }


#sigs td{
	font-size: 1em;
	font-family: Times;
	padding: 0px 5px 5px 5px;
	vertical-align:top;
}

#text {
	font-size: -2px;
	font-family: Arial, sans-serif;
}


.yellow td {background-color: green; color:green;}

.red td {background-color: #FEE; }
.blue td {background-color: #EEF; }
.grey td {background: #555; text-align: center; font-size: 11px; font-weight:bold; }

#tprintreport {}

#tprintreport table {
	text-align: left;
	width: 100%;		
}

#tprintreport th{ 
	background:white; 
    background-color: #FEFE56;
	text-align: center; 
	font-size: 13px;
	font-weight:bold;  
	padding-left: 7px;
	padding-right: 7px;
	padding-top:5px;
	padding-bottom:5px;	
}

#tprintreport tr.grey td {background: #CCC; text-align: center; font-size: 11px; font-weight:bold; }

#tprintreport td{ 
	padding:2px 5px;
	font-size: 13px; 
	page-break-after: always;
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:3px;
}

P.breakhere {page-break-before: always}