.A4potrait {
	position: absolute;
	width : 200mm;
	height : 287mm;
	border: 1px solid black;
}

#A4potrait {
	position: absolute;
	width : 200mm;
	height : 287mm;
}

.A4potrait_paged {
	position: relative;
	width : 210mm; height : 297mm;  border :1px solid #EEE; padding:3px;	
}

.A4landscape {
	position: absolute;
	width : 287mm;
	height : 200mm;
	border: 1px solid black;
	padding: 10mm 5mm 10mm 0mm;
}

/*class */
#A4landscape {
	position: absolute;
	width : 287mm;
	height : 200mm;
	/*border: 1px solid black;*/
	/*padding: 10mm 5mm 10mm 0mm;*/
}
/**/

.A4landscape2 {
	position: relative;
	width : 287mm;
	height : 200mm;
	border: 1px solid black;
	padding: 10mm 5mm 10mm 0mm;
}


.x-fieldset-noborder {
    border:0;
}

#header img {display: none;}
#navbar {display: none;}
#title {}
#title H5 {font-size: 15px;font-weight: normal; text-align: right; }
#title H4 {font-size: 14px;font-weight:bold; text-align: center; }
#title H3 {font-size: 13px;font-weight:bold; text-align: center; }
#title H2 {font-size: 13px;font-weight:bold; text-align: right;}
#title p {font-size: 13px;font-weight:bold; text-decoration: normal;}

span.filler{font-family: Tahoma, Arial, Sans-Serif; padding: 0 2em}
P.breakhere {page-break-before: always}

#tprintreport {}

#tprintreport table {text-align: left; width: 100%;}
#tprintreport tr.grey td {background: #CCC; text-align: center; font-size: 11px; font-weight:bold; }
#tprintreport th {background:white; background-color: #FEFE56; padding: 5px 7px;
	text-align: center; font-size: 13px; font-weight:bold;  }
#tprintreport td { background:#fbfcfc;  padding:3px 5px 3px 7px;font-size: 13px; }
#tprintreport td.money {text-align: right; padding-right: 0.5cm;}
#tprintreport td.filler {font-family: Tahoma, Arial, Sans-Serif; padding: 6px 2em}





#content {
  float:left;
  width:100%;
  height: 100%;
  page-size: 100%;
  
}

#borangmaklumat  {
	
	font-family: Arial, sans-serif;
	
}
#borangmaklumat table {
	font-size: 11px;
	text-align: left;
	width: 80%;
	margin-left:1cm;
		
  }
#borangmaklumat table th{
	vertical-align: top;
	font-weight:bold; 
    background-color: #D8D8D8;
  }

#borangmaklumat table td{
	vertical-align: top;
	font-family: Arial, serif;
	padding: 5px 5px 10px 5px;
}

#kewpa {
	margin-top:0cm;
}
#kewpaline {border : 1px solid black;	width : 287mm;200mm}
#kewpa p {}

#kewpa p.marginright {
	margin-right: 0.7cm;
	text-align: right;
	font-size: 16px;
}

#kewpa p.marginleft {
	font-size: 15px;
	text-align: left;	
}

#kewpa H4 {width: 200mm; font: 1em Lucida, serif;}


#kewpa table {font-size: 1em; font-family: Serif; margin: auto;	}
#kewpa table th{
	font-size: 0.7em;
	font-family: Serif;
	padding: 5px 5px 10px 5px;
	vertical-align:top;
	background-color: #FEFE56;
}

#kewpa table td{
	font-size: 15px;
	font-family: Serif;
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:3px;
}
#kewpa table td.filler{font-size: 12px; font-family: Tahoma, Arial, Sans-Serif;}

#kewpa table.textform {margin: 0 2cm 0 1cm; text-align:left; }
#kewpa table.textform td{font-size: 15px; font-family: Lucida, Serif; vertical-align:top; line-height:140%; padding: 1mm 2mm 3mm 2mm }
#kewpa span.filler{font-size: 12px; font-family: Tahoma, Arial, Sans-Serif;}
#kewpa span.fff{font-size: 12px; font-family: Tahoma, Arial, Sans-Serif; font-weight:bold;  padding: 0 3mm;  } /*aka freeformfiller*/
#kewpa div.free_signature_block {margin: 0.5cm 1cm 0cm 11cm; font-size: 15px; font-family: Lucida, Serif; line-height:120%; }

#kewpa table.lampiran_kewpa{margin: 0 2cm 0 1.2cm;}
#kewpa table.lampiran_kewpa td.leftcol{font-size: 14px; font-weight:bold; font-family: Lucida, Serif; vertical-align:top; padding:5px;}
#kewpa table.lampiran_kewpa td.maintext{font-size: 14px; font-family: Lucida, Serif; vertical-align:top; padding:5px;}
#kewpa table.lampiran_kewpa td.filler{font-size: 13px; font-family: Tahoma, Arial, Sans-Serif;}
#kewpa table.lampiran_kewpa td.dotts {font-size: 14px; font-weight:bold; font-family: Lucida, Serif; vertical-align:center; padding:0; margin:0;}
#kewpa table.lampiran_kewpa td.leftcoltight {font-size: 13px; font-weight:bold; font-family: Lucida, Serif; vertical-align:top; padding:5px 0px; margin:0;}

#kewpa table.lk {margin: 0mm;}

#table1 table th{
	font-size: 13px;
	font-family: Serif;
	background-color: #FEFE56;
	padding-top:4px;
	padding-bottom:2px;
}

#table1 table td{
	font-size: 16px;
	font-family: Times, sans-serif;
	padding-left: 7px;
	padding-top:4px;
	padding-bottom:2px;
}

table.tlong { page-break-inside:auto; width:197mm; margin:auto; border-collapse:collapse; }
/*plong is tlong for a4potrait*/
table.plong { page-break-inside:auto; width:270mm; margin:auto; border-collapse:collapse; }
table.tlong tr, table.plong tr { page-break-inside:avoid; page-break-after:auto }
/*table.plong tr { page-break-inside:avoid; page-break-after:auto }*/
table.tlong thead, table .plong thead { display:table-header-group;}
/*table.plong thead { display:table-header-group;}*/
table.tlong th {padding:1mm 2mm 3mm 2mm;}
table.tlong th.tright, table.plong th.tright {font-size: 14px; font-family: Lucida, Serif; text-align:right; }
table.plong th.htitle  {font-size: 13px; font-family: Lucida, Serif; text-align:left;}
table.plong th.hdata  {font-size: 12px; font-family: Tahoma, Sans-serif; text-align:left; font-weight:normal;}
table.tlong th.tcol, table.plong th.tcol     {
	font-size: 12px; font-family: Lucida, Serif; text-align:center;
	padding:2mm 0; vertical-align:top; 
	background-color: #FEFE56; border: 2px solid black;}
/*plong-24Apr2013*/
table.plong th.tcol2     {
	font-size: 14px; font-family: Lucida, Serif; text-align:center;font-weight:bold;
	padding:2mm 0; vertical-align:middle; 
	background-color: #FEFE56; border: 2px solid black;}
table.plong th.tcol2a     {
	font-size: 11pt; font-family: Lucida, Serif; text-align:left;font-weight:bold;
	padding-left:5px; vertical-align:middle; height:8mm;border-spacing:0px;
	background-color: #FEFE56; border-left: 2px solid black;border-top: 2px solid black;}
table.plong th.tcol2colon     {
		font-size: 11pt; font-family: Lucida, Serif; text-align:center;font-weight:bold;
		padding:0; vertical-align:middle; width:20px; height:8mm;border-spacing:0px;
		background-color: #FEFE56; border-top: 2px solid black; border-right: 2px solid black;}
table.plong th.tcol2b     {
		font-size: 11pt; font-family: Lucida, Serif; text-align:left;font-weight:bold;
		padding-left:5px; vertical-align:middle; height:8mm;border-spacing:0px;
		background-color: #FEFE56; border-left: 2px solid black;border-top: 2px solid black;border-bottom: 2px solid black;}
/*plong-24Apr2013*/
table.tlong td.tdata, table.plong td.tdata  {
	font-size: 9pt; font-family: Tahoma, Sans-serif; text-align:left; 
	padding: 2px 1mm; border: 2px solid black; height:6mm; vertical-align:top}
table.tlong tfoot { display:table-footer-group }
table.plong tfoot { display:table-footer-group }/**/
table.tlong td.aaab {font-size: 11px; font-weight:bold; font-family: Arial, sans-serif; text-align:left; padding-left:20mm;padding-bottom:1mm;width:120px; }
table.tlong td.aaa {font-size: 11px; font-weight:normal; font-family: Arial, sans-serif; text-align:left; padding-left:20mm;padding-bottom:1mm;width:120px; }
table.tlong td.no {font-size: 11px; font-weight:normal; font-family: Arial, sans-serif; text-align:center; padding-left:20mm;padding-bottom:1mm;width:60px; }
table.tlong td.descb {font-size: 11px; font-weight:bold; font-family: Arial, sans-serif; text-align:left; padding-bottom:1mm; }
table.tlong td.desc {font-size: 11px; font-weight:normal; font-family: Arial, sans-serif; text-align:left; padding-bottom:1mm; }
table.tlong td.bbb {border-radius:4px; border-top:1px solid black;border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black;width:50px; border-spacing:10px;text-align:center;}
table.tlong td.aaac {border-bottom:1px solid black; font-size: 11px; font-weight:normal; font-family: Arial, sans-serif; text-align:left; padding-left:20mm;padding-bottom:1mm;width:120px; }
table.tlong td.small_box{border-radius:4px;padding-bottom:1mm;padding-top:1mm;padding-right:1mm;padding-left:1mm;border-top:1px solid black;border-bottom:1px solid black;border-left:1px solid black;border-right:1px solid black;width:50px; height:20px;text-align:center;}

/*1-2Apr2013*/
table.tlong td.book_title{font-size:16px; padding-left:20px;width:200px;}
table.tlong td.book_title2{font-size:14px; padding-left:20px;width:150px;}
table.tlong td.book_title3{font-size:14px; padding-left:20px;width:80px;}
table.tlong td.book_desc2{font-size:14px;width:150px;}

H2.book_heading{font-size:22px; padding-left:20px;font-weight:bold;}
/*1-2Apr2013*/



table.plong th.tright {font-size: 14px; font-family: Lucida, Serif; text-align:right; padding-bottom:1mm; }
table.plong th. {font-size: 14px; font-family: Lucida, Serif; text-align:right; padding-bottom:1mm; }

/*24March2013-added for Training Modules*/
#kewpaline H4.heading {font-size: 15px; font-weight:bold; font-family: Arial, Sans-Serif; }		/*30March2013*/

table.plong th.tright2 {font-size: 12px; font-family: Arial, sans-serif; text-align:right; padding-bottom:1mm; }
table.plong th.htitle2  {font-size: 12px; font-family: Arial, sans-serif; text-align:left;}
table.plong th.htitle2a {font-size: 12px; font-family: Arial, sans-serif; text-align:left;padding:2.5mm 0 1.5mm 0;} /*{height:5px;}*/
table.plong th.htitle2r  {font-size: 12px; font-family: Arial, sans-serif; text-align:right;padding:2.5mm 0 1.5mm 0;}
table.plong th.ministry_title {font-size: 12px; font-family: Arial, sans-serif; text-align:center; padding-bottom:0;}
table.plong th.ministry_title_2 {font-size: 12px; font-family: Arial, sans-serif; text-align:center; font-weight:normal; padding-bottom:8mm;}

.bold-cap {font-weight:bold;font-family: Arial, sans-serif;}
.bold-cap2 {font-weight:bold;font-family: Arial, sans-serif;font-size:12px;padding-right:30px;}
.bold-cap3 {font-weight:bold;font-family: Arial, sans-serif;font-size:12px;padding-right:30px; text-align:right}

table.plong td.header1 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; padding:0;background-color:#EEE;}
table.plong td.header3 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;background-color:#EEE;font-size: 11px;font-family: Arial, sans-serif;font-weight:bold;border-right:2px solid black;}
table.plong td.header5 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;background-color:#EEE;font-size: 11px;font-family: Arial, sans-serif;font-weight:bold;vertical-align:middle;}

table.plong td.break1 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;font-size: 13px; font-family: Arial, sans-serif;font-weight:bold;vertical-align:middle;}
table.plong td.break2 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;font-size: 13px; font-family: Arial, sans-serif;font-weight:bold;border-bottom:2px solid black;}

table.plong td.data1 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;font-size: 10px; font-family: Arial, sans-serif;border-right:2px solid black;}
table.plong td.data5 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;font-size: 10px; font-family: Arial, sans-serif;border-bottom:2px solid black;}
table.plong td.data2 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;font-size: 10px; font-family: Arial, sans-serif;}	
table.plong td.data3 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;font-size: 11px; font-family: Arial, sans-serif;font-weight:bold;border-bottom:2px solid black; vertical-align:middle;}
table.plong td.data4 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;font-size: 10px; font-family: Arial, sans-serif;border-bottom:2px solid black;border-right:2px solid black;}
table.plong td.data1a{border-top:2px solid black; border-left:2px solid black;border-spacing:0; text-align:center; padding:0;font-size: 11px; font-family: Arial, sans-serif;font-weight:bold; vertical-align:middle;}

table.plong td.sign_prepare1 {text-align:left; border-bottom:2px solid black;font-size: 12px; font-family: Arial, sans-serif}
table.plong td.sign_prepare2 {text-align:left; font-size: 12px; font-family: Arial, sans-serif}

table.plong td.header7 {border-top:2px solid black; border-left:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px;}
table.plong td.header8 {border-top:2px solid black; border-left:2px solid black;border-spacing:0;border-right:2px solid black;border-left:2px solid black;border-bottom:2px solid black;border-spacing:0;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px;height:60px;}
table.plong td.objective {border-top:2px solid black; border-left:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px; height:250px;}
table.plong td.objective2 {border-top:2px solid black; border-left:2px solid black;border-right:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px; height:250px;}

table.plong td.header9a { border-left:2px solid black;border-top:2px solid black;border-bottom:2px solid black;border-right:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px;}
table.plong td.header9ab { border-left:2px solid black;border-top:2px solid black;border-bottom:2px solid black;border-right:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px;text-align:center;background-color:#EEE;}
table.plong td.header9abc { border-left:2px solid black;border-bottom:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px;text-align:center;background-color:#EEE;}
table.plong td.header9abcd { border-left:2px solid black;border-bottom:2px solid black;border-right:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px;text-align:center;background-color:#EEE;}

table.plong td.header9 { border-left:2px solid black;border-bottom:2px solid black;border-right:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px;}
table.plong td.header10 {border-top:2px solid black; border-left:2px solid black; border-right:2px solid black;border-bottom:2px solid black; border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:bold; font-size:13px;}

table.plong td.data6 { border-left:2px solid black;border-bottom:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:normal; font-size:13px;}
table.plong td.data7 { border-left:2px solid black;border-right:2px solid black;border-bottom:2px solid black;border-spacing:0; padding:5; font-family: Arial, sans-serif;font-weight:normal; font-size:13px;}


/*24March2013-added for Training Modules*/

#sigs td{
	font-size: 1em;
	font-family: Times;
	padding: 0px 5px 5px 5px;
	vertical-align:top;
}

#text {
	font-size: -2px;
	font-family: Arial, sans-serif;
}


.yellow td {background-color: green; color:green;}

.red td {background-color: #FEE; }
.blue td {background-color: #EEF; }
.grey td {background: #555; text-align: center; font-size: 11px; font-weight:bold; }

#tprintreport {}

#tprintreport table {
	text-align: left;
	width: 100%;		
}

#tprintreport th{ 
	background:white; 
    background-color: #FEFE56;
	text-align: center; 
	font-size: 13px;
	font-weight:bold;  
	padding-left: 7px;
	padding-right: 7px;
	padding-top:5px;
	padding-bottom:5px;	
}

#tprintreport tr.grey td {background: #CCC; text-align: center; font-size: 11px; font-weight:bold; }

#tprintreport td{ 
	padding:2px 5px;
	font-size: 13px; 
	page-break-after: always;
	padding-left: 7px;
	padding-top:3px;
	padding-bottom:3px;
}


