/* jQuery TreeTable Core 2.0 stylesheet
 *
 * This file contains styles that are used to display the tree table. Each tree
 * table is assigned the +treeTable+ class.
 * ========================================================================= */

/* jquery.treeTable.collapsible
 * ------------------------------------------------------------------------- */

.indextree {
	position: relative; float: left; margin-left: 20px;
}
.indextree th{ 
	background:#fffdfa; 
	color:#818181; 
	text-align: left; 
	padding:3px 3px; 
	border-bottom:solid 1px #d2d1cb;
}
.indextree td{ 
	background:#fbfcfc;  
	border-bottom:solid 1px #e0e0e0; 
	padding:2px;
	font-size: 11px;
}
.indextree tr:hover td{ 
	background:#fff9e1; 
}

.treeTable table {
	width:100%; border: 0; cellpadding: 1px; cellspacing: 0;
}

.treeTable tr td .expander {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  zoom: 1; /* IE7 Hack */
}

.treeTable tr.collapsed td .expander {
  background-image: url(../images/toggle-expand-dark.png);
}

.treeTable tr.expanded td .expander {
  background-image: url(../images/toggle-collapse-dark.png);
}

/* jquery.treeTable.sortable
 * ------------------------------------------------------------------------- */
.treeTable tr.selected, .treeTable tr.accept {
  background-color: #3875d7;
  color: #fff;
}

.treeTable tr.collapsed.selected td .expander, .treeTable tr.collapsed.accept td .expander {
  background-image: url(../images/toggle-expand-light.png);
}

.treeTable tr.expanded.selected td .expander, .treeTable tr.expanded.accept td .expander {
  background-image: url(../images/toggle-collapse-light.png);
}

.treeTable .ui-draggable-dragging {
  color: #000;
  z-index: 1;
}