<div class="fields">
	<table width=50% border=0>
		<tr>
			
			<td width=50><%= f.collection_select :supplier_id, Supplier.find(:all), :id, :item_no %></td>
			<td width=50><%= f.text_field :quantity, :size => 15 %></td>
			<td><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
		<tr>
		</table>
</div>
