<% provide(:title, @user.email) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
			  <BR><%= @user.email %>
			  
      </h1>
    </section>
  </aside>
</div>