<div class="tform">
	<% if index==0 %>
	<H2>Examination Marks</H2>
	
	<table width=100% >
		<tr>
			<td class="leftcol">Programme </td>
			<td>
				<%= f.collection_select :course_id, Programme.find(:all), :id, :programme_code_with_programme_name,{:include_blank => true},
								:onchange => remote_function(:update => form_tag_id(f.object_name, :subject_list), 
								:url => {:action => 'view_subject' }, 
								:with => "'courseid='+$('"+form_tag_id(f.object_name, :course_id)+"').value 
								+'&index='+'#{index}'") %>
			</td>
		</tr>
		<tr>
			<td class="leftcol">Subject </td>
			<td>
				<%= tag("div", :id => form_tag_id(f.object_name, :subject_list)) %>
				
					
				</div>
			</td>
		</tr>

				
				
	</table>
	<% end %>
</div>