<div class="box">
	<!-- Box Head -->
	<div class="box-head">
		<h2 class="left">Lists of Analysis Examination Paper</h2>
	</div>
	</div>
	<div class="tlist">
	    <table width=100% border="0" cellpadding="0" cellspacing="0">
		  <tr>
    		<th>Examination Name</th>
		    <th>Examination Date</th>
			<th>Course</th>
		    <th>Class</th>
    		<th colspan=3 class="ac">Control</th>
  		</tr>
<table>
  <tr>
  </tr>

<% @analysispaperexams.each do |analysispaperexam| %>
  <tr>
    <td><%= link_to 'Show', analysispaperexam %></td>
    <td><%= link_to 'Edit', edit_analysispaperexam_path(analysispaperexam) %></td>
    <td><%= link_to 'Destroy', analysispaperexam, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%#= link_to 'New analysispaperexam', new_analysispaperexam_path %>
<%= link_to 'New Multiple Examination Mark', new_analysispaperexam_path(:new_type => "2") %>