<h3>New Lecturer Appraisal</h3>

<% form_for(@evaluate_lecturer) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', evaluate_lecturers_path %>