<!---->
<script type="text/javascript">
//<![CDATA[
bkLib.onDomLoaded(function() {
    nicEditors.editors.push(
        new nicEditor().panelInstance(
            document.getElementById('myNicEditor')
        )
    );
});
//]]>
</script>
<!---->
<table  width=100%>
	

	<tr>
		<td class="leftcol"><label for="question"><b>Question:</b></label><font color="red"> * </font></td>
		<td><%= f.text_area :question, :size => '90x10', :id => 'myNicEditor' %></td>
	</tr>
		
	<tr>
		<td class="leftcol"><label for="answer"><b>Answer:</b></label><font color="red"> * </font></td>
		<td><%= f.text_area :answer, :size => "60x7" %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="marks"><b>Marks:</b></label><font color="red"> * </font></td>
		<td><%= f.text_field :marks, :size => 12 %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="qkeyword"><b>Keywords:</b></label></td>
		<td><%= f.text_area :qkeyword, :size => "90x2" %></td>
	</tr>

</table>