<h3>New Exam Question</h3>

<% form_for(@examquestion) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

</div>

<%= link_to 'Back', examquestions_path %>