<div class="fields">
<table width=80% border=1 cellspacing=0 BORDERCOLOR="#C0C0C0 " BORDERSTYLE="solid">
	<td width=50%><%= f.collection_select :cc_staff, Staff.find(:all, :include => [:title], :order => 'titles.id ASC', :conditions => {:id => [34,35,36,40,37,39,38,63,60,74]}), :id,    
	                                                            :staff_name_with_title, :include_blank => true %></td>
	<td width=20%><%= f.select :action_cc, Circulate::ACTION, :prompt => "Select Action" %></td><%= f.hidden_field :_destroy %>
	<td width=5%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %></td>
</table>
</div>