<div class="fields">    
	<table width=50% border=0>                            
		<td><%= f.collection_select :student_id, Student.find(:all), :id, :name, :include_blank => true %></td><%= f.hidden_field :_destroy %>
		<td><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>  </td>
 </table>    
</div>