<% unless @subpages.empty? %>
	<div>
		<ul>
			<% for page in @subpages %>
			<li><% if page.redirect? %>
			<%= link_to page.navlabel, :action => page.action_name, :controller => page.controller_name, :name => page.name %>
				<% else %>
					<%= link_to page.navlabel, view_page_path(page.name) %>
				<% end %>
			<% end %>
		</ul>
	</div>
<% end %>
<% if logged_in? && (request.request_uri == "/" || request.request_uri == "/home") %>
<% else %>
  <div  class="right">
	<% permitted_to? :manage, :librarytransactions do %>
		<% if request.request_uri == "/rules" %>
			<%= link_to image_tag("edit.png", :border => 0, :title => 'Edit') + "Edit Page", :controller => "pages", :action => "edit", :id => 52 %>
		<% end %>
	<% end %>
	</div>
	<div style="width:90%;"> 
	<%= @page.body %>
	</div>
<% end %>

