<% unless @subpages.empty? %>
	<div>
		<ul>
			<% for page in @subpages %>
			<li><% if page.redirect? %>
			<%= link_to page.navlabel, :action => page.action_name, :controller => page.controller_name, :name => page.name %>
				<% else %>
					<%= link_to page.navlabel, view_page_path(page.name) %>
				<% end %>
			<% end %>
		</ul>
	</div>
<% end %>
<% if logged_in? && (request.request_uri == "/" || request.request_uri == "/home") %>
<% else %>
	<%= @page.body %>
<% end %>

