<div class="fields" style='float: left;'>
<%= f.text_field :accession_no, :size => 12, :placeholder => 'Accession No' %>
<%= f.hidden_field :_destroy %>
<%= link_to_function image_tag("delete.png", :border => 0, :title => 'Remove'), "remove_fields(this)" %>
</div>








