<p><i>(Articles in <b>Bahasa Melayu</b>)</i> </p>

<H3>Katalog Perpustakaan</H3>
<ul>
	<li> bermaksud mendaftar semua bahan bacaan,rujukan atau bibliografi yang terdapat di perpustakaan. Katalog ini digunakan untuk memudahkan pencarian buku oleh pustakawan dengan merujuk kepada nama pengarang,tajuk buku, ISBN, mahupun subjek. </li>
</ul>

<H4>Apakah No ISBN?</H4>
<p>No  ISBN atau <i>International Standard Book Number</i> adalah kod pengenalan untuk mengenal pasti setiap buku. ISBN mempunyai 13 angka yang unik untuk setiap tajuk buku. Di Malaysia, badan yang bertanggunggjawab menjaga dan mengeluarkan no siri ini adalah Perpustakaan Negara Malaysia. Contoh No ISBN ialah 978-1-4302-1833-3.</p>

<H4>Apakah Accession No?</H4>
<p>Buku yang baru diterima atau hendak dimasukkan dalam perpustakaan hendaklah diberikan nombor pendaftaran (accession no) untuk teruskan ke prosedur katalog.</p>

<H4>Apakah Class No (DDC)?</H4>
<p>Class No (DDC) atau lebih dikenali sebagai <i>Dewey Decimal Classification</i>. DDC adalah salah satu cara pengkelasan bahan bacaan dalam perpustakaan.Pengkelasan boleh dinyatakan sebagai cara-cara untuk mengelompokkan bahan pustaka, menurut susunan tertentu secara teratur berdasarkan kepada perkara dan atau bentuk bahan pustaka. Pengkelasan boleh diertikan sebagai menyususn buku dan bukan buku di dalam perpustakaan mengikut suatu sistem pengkelasan tertentu. Sebagai Contoh:</p>

<ol>
<li>000 – Karya Am</li>
<li>100 – Falsafah</li>
<li>200 - Agama </li>
<li>300 – Sains Masyarakat</li>
<li>400 - Bahasa </li>
<li>500 – Sains Tulen </li>
<li>600 - Teknologi</li>
<li>700 - Kesenian </li>
<li>800 - Kesusasteraan </li>
<li>900 – Biografi,Geografi & Sejarah </li>
</ol>

<H4>Apakah Class No (NLM)?</H4>
<p>Class No (NLM) atau dikenali sebagai <i>National Library of Medicine</i> digunakan untuk menyusun
bahan-bahan bacaan dan rujukan dalam bidang perubatan dan bidang-bidang yang berkaitan dengannya. Sebagai contoh:</p>
<ol>
<li>QS – Human Anatomy</li>
<li>QT - Physiology</li>
<li>QU - Biochemistry</li>
<li>QV – Pharmacology</li>
<li>QW – Microbiology and Immunology</li>
<li>QX – Parasitology</li>
<li>QY – Clinical Parthology</li>
<li>QZ - Pathology</li>
</ol>

<H4>Kategori</H4>
<ul>
	<li>Bahan Bercetak Buku  - Buku, Majalah, etc </li>
	<li>Bahan Bercetak Bukan Buku  - Carta, Risalah, etc</li>
	<li>Bahan Bukan Bercetak  - VCD, CD, etc</li>
</ul>



<H4>Jenis Pinjaman</H4>
<ol>
<li><b>Pinjaman Biasa</b></li>
<p>Pinjaman jenis ini merupakan pinjaman untuk bahan-bahan dari koleksi buku kecuali 	buku yang bertanda R (Rujukan)
Sebanyak empat (4) buah buku boleh dipinjam pada satu-satu masa bagi tempoh dua 	minggu.
Pelanjutan/pembaharuan tempoh pinjaman boleh dibuat.
Pinjaman ini hanya diberi kepada kakitangan PLAMM dan pelatih sahaja.</p>

<li><b>Pinjaman Tetap</b></li>
<p>Pinjaman tetap merupakan pinjaman untuk satu tempoh yang melebihi pinjaman biasa 	iaitu dua minggu.
Bahan yang boleh dipinjam ialah buku-buku yang berbentuk manual dan kamus juga 	buku-buku untuk sesuatu projek.
Tempoh pinjaman adalah bergantung kepada keperluan projek.
Pinjaman ini hanya diberi kepada staf PLAMM dan pelatih sahaja.</p>

<li><b>Pinjaman Sementara</b></li>
<p>Pinjaman sementara merupakan pinjaman untuk bahan-bahan selain buku bernombor kelas seperti peta,laporan tahunan,cetakan semula,dan jurnal/majalah yang tidak berjilid.
Sebanyak empat (4) bahan boleh dipinjam bagi satu-satu masa bagi tempoh empat hari sahaja.
Pinjaman ini hanya diberi kepada staf PLAMM dan pelatih sahaja.</p>

<li><b>Pinjaman Khas</b></li>
<p>Pinjaman khas merupakan pinjaman untuk bahan-bahan yang tidak tergolong dalam pinjaman biasa seperti jurnal yang berjilid, bahan dalam koleksi rujukan ( R) dan bahan dalam bentuk CD,VCD dan sebagainya.
Bilangan yang boleh dipinjam dan tempoh pinjaman adalah bergantung kepada kelulusan Ketua Perpustakaan atau Pustakawan.
Pinjaman ini hanya diberi kepada staf PLAMM dan pelatih sahaja.</p>
</ol>


