<div>		
<table cellspacing=0>
 <tr>
    <td><font size=5><BR><b>Waktu Perkhidmatan</b></font>
 </tr>
<tr>
    <td><H3>SESI AKADEMIK</H3>
 </tr>
<tr>
     <table border =1 width=50% cellspacing=0 cellpadding=5>
      <tr>
	<td width=20%>&nbsp;&nbsp;<b>ISNIN-JUMAAT</b></td>
          <td width=40%>&nbsp;&nbsp; 8.00 PAGI – 9.00 MALAM</td>
      </tr>
     <tr>
	<td width=20%>&nbsp;&nbsp;<b>SABTU</b></td>
          <td width=40%>&nbsp;&nbsp; 8.00 PAGI – 1.00 TGHARI</td>
      </tr>
     <tr>
	<td width=20%>&nbsp;&nbsp;<b>TUTUP</b></td>
          <td width=40%>&nbsp;&nbsp; AHAD DAN CUTI UMUM</td>
      </tr>
     </table>
</tr>

<tr>
    <td><font size=5><BR><b>Peraturan Perpustakaan</b></font>
</tr>
<tr>
    <td><H3>KEAHLIAN</H3>
</tr>
<tr>
    <td>Ahli perpustakaan mestilah terdiri daripada:
	    <ol>
		  <li>Setiap pelatih dan kakitangan yang mendaftar di PLAMM adalah menjadi ahli perpustakaan secara automatik.</li>
		  <li>Pendaftaran keahlian boleh dibuat dengan melengkapkan borang keahlian yang boleh didapati di kaunter perpustakaan.</li>
		  <li>Pihak perpustakaan berhak menggantung / membatalkan keahlian sekiranya ahli melakukan kesalahan tatatertib.</li>
		</ol>
	</td>
</tr>
<tr>
    <td><H3>Pelanggan Luar</H3>
</tr>
<tr>
    <td>
	  <ol>
		<li>Pengguna perlu mengemukakan surat rasmi daripada Ketua Jabatan masing-masing untuk pengesahan identiti bagi pendaftaran 
			ahli perpustakaan PLAMM.</li>
		<li>Pengguna luar hanya boleh membuat rujukan dan fotokopi bahan sahaja dan tidak boleh meminjam bahan.</li>
		<li>Pihak Perpustakaan berhak menggantung/ membatalkan keahlian sekiranya ahli-ahli melanggar peraturan perpustakaan.</li>
	  </ol>
	</td>
</tr>
<tr>
    <td><H3>PEMINJAMAN</H3>
</tr>
<tr>
    <td>
	    <ol>
            <li>Setiap ahli layak meminjam buku seperti di bawah: <BR><BR>
        <table border=1 width=60% cellspacing=0 cellpadding=5>
         <tr>
		    <th >AHLI</th>
		    <th>JUMLAH BAHAN</th>
		    <th>TEMPOH PINJAMAN <BR> (Termasuk hari cuti)</th>
	     </tr>
	      <tr>
		    <td > &nbsp;&nbsp; Kakitangan PLAMM</td>
		    <td> &nbsp;&nbsp; 5 Buah</td>
		    <td>&nbsp;&nbsp; 21 Hari</td>
	     </tr>
		  <tr>
		    <td> &nbsp;&nbsp; Pelatih PLAMM</td>
		    <td> &nbsp;&nbsp; 2 Buah</td>
		    <td> &nbsp;&nbsp; 14 Hari</td>
		  </tr>
         </table><BR>
		  <li>Tempoh pinjaman pertama boleh dipanjangkan mengikut sistem pinjaman yang ditetapkan.</li>
          <li>Tempoh pinjaman bagi kali ketiga secara berturut-turut hanya boleh dibenarkan oleh Ketua Perpustakaan, PLAMM.</li>
          <li>Semua kakitangan lain termasuk Pengarah, Timbalan Pengarah, Pegawai Kanan   
          dan Penyelaras Pusat Sumber tidak mempunyai kuasa dan tidak mempunyai   
          pengaruh untuk melanjutkan tempoh pinjaman kali ketiga secara berturut-turut.</li>
          <li>Kuasa dan pengaruh untuk meluluskan pinjaman kali ketiga berturut-turut minggu hanya diberikan kepada Ketua Perpustakaan sahaja.</li>
	      <li>Tiada pinjaman semasa cuti semester bagi pelatih.</li>
	    </ol>
	</td>

<tr>
    <td><H3>Kelewatan Pemulangan Pinjaman</H3>
  </tr>
  <tr>
    <td>
	  <ol>
		<li>Surat peringatan</li><BR>
          <table border=1 width=100% cellspacing=0 cellpadding=5>
	      <tr>
 		     <td><b>PERINGATAN</b></td>
                	     <td><b>PERTAMA</b></td>
		     <td><b>KEDUA</b></td>
   	      </tr>
	      <tr>
		    <td width=20%> Pelatih PLAMM</td>
		    <td width=40%>Senarai nama pemulang lewat akan dipaparkan dipapan kenyataan utama.</td>
			<td rowspan="2" width=40%>Sekiranya peminjam gagal memberi maklumbalas dalam tempoh lapan (8) hari selepas tarikh peringatan 
									  pertama dikeluarkan, Peringatan kedua akan dihantar kepada individu melalui program masing-masing.</td>
	     </tr>
	       <tr>
		    <td width=20%> Kakitangan PLAMM</td>
		    <td width=40%>Pengguna akan diberi maklumkan sehari selepas tarikh pemulangan dijadualkan-Notis.</td>
	      </tr>
         </table><BR>
         <li>Sekiranya terdapat peminjam yang masih gagal memberi maklumbalas selepas
                peringatan kedua diberikan, satu surat akan dikemukakan ke bahagian HEP   
                (pelatih) dan  Pentadbiran (kakitangan) untuk tindakan selanjutnya.</li>
	  </ol>
	</td>
  </tr>
  	<tr>
	    <td><H3>DENDA</H3>
	  </tr>
	  <tr>
	    <td>
		  <ol>
			<li>Semua denda lewat pemulangan bahan akan dikenakan denda bayaran wang tunai.</li>
			<li>Denda sebanyak Ringgit Malaysia Dua Puluh Sen ( RM0.20 )  sehari bagi sebuah bahan akan mula dikenakan selepas tamat 
				tempoh pemulangan yang ditetapkan.</li>
		  </ol>
		</td>
	  </tr>
  	<tr>
	    <td><H3>KEHILANGAN / KEROSAKAN BAHAN</H3>
	  </tr>
	  <tr>
	    <td>
		  <ol>
			<li>Semua kehilangan/ kerosakan bahan perpustakaan mestilah dilaporkan kepada Ketua Perpustakaan dengan segera.</li>
			<li>Kehilangan bahan, peminjam akan diberi pilihan</li>
			   <ul>
            <li>Menggantikan bahan yang hilang dengan bahan baru dari judul yang sama dalam tempoh 30 hari (termasuk hari cuti) dari tarikh kehilangan dilaporkan.</li>
			<li>Membayar harga bahan yang hilang pada kadar dua kali ganda harga semasa</li>
    			   </ul>
             <li>Kerosakan bahan, peminjam akan diberi pilihan ;</li>
			   <ul>
             <li>Kerosakan kecil - Tanggung kos pembaikan.</li>
			 <li>Kerosakan teruk - Ganti bahan dari judul yang sama atau dua kali ganda harga semasa</li>
    			   </ul>
		</ol>
	  </td>
         </tr>

  	<tr>
	    <td><H3>RED SPOT / RUJUKAN</H3>
	  </tr>
	  <tr>
	    <td>
		  <ol>
			<li>TIDAK  BOLEH dipinjamkan dan dibenarkan pinjaman ataudibawa keluar dari bangunan perpustakaan. Kategori red spot / rujukan adalah    
                  seperti ;</li>
			   <ul>
                 <li>Buku bertanda merah (red spot)</li>
			     <li>Atlas</li>
                 <li>Kamus</li>
                 <li>Peta.</li>
			     <li>Ensiklopedia</li>
			 	<li>Terbitan bersiri  (majalah,jurnal dan lain-lain).</li>
    		          </ul>
		</ol>
	  </td>
         </tr>

  	<tr>
	    <td><H3>TAMAT PENGAJIAN / PERKHIDMATAN</H3>
	  </tr>
	  <tr>
	    <td>
		  <ol>
			<li> Pelatih yang menjalani latihan klinikal, menangguh, tamat pengajian menarik diri atau berhenti  dikehendaki menjelaskan denda atau memulangkan semua bahan yang dipinjam jika ada.</li>
             <li>Kakitangan yang menamatkan perkhidmatan atau berkhidmat diluar KSKB,JB melebihi tempoh 21 hari bekerja atau lebih hendaklah menjelaskan semua pinjaman dari perpustakaan terlebih dahulu, jika ada. </li>
			<li>Kegagalan pengguna berbuat demikian akan dirujuk kepada HEP / Pentadbiran PLAMM.</li>
		</ol>
	  </td>
         </tr>

         <tr>
	    <td><H3>PERATURAN AM PERPUSTAKAAN</H3>
         </tr>
         <tr>
	    <td>
		<ol>
		<li> Pemakaian</li>
        <ul>
               <li>Pengguna hendaklah mempamerkan kad matrik sepanjang masa berada di perpustakaan.</li>
	 	       <li>Pakaian lelaki ; Kemeja/kemeja T berkolar, berseluar slack panjang serta kasut.</li>
		       <li>Pakaian wanita ; Menutup aurat bagi muslim dan sopan bagi non muslim (tidak terlalu singkat/ketat atau jarang)</li>
    	</ul>
		<li> Pemakaian</li>
        <ul>
               <li>Seluar jeans, seluar pendek, topi, jaket, kain pelikat, kain sarung dan selipar.</li>
	 	       <li>Pakaian yang tertera imej atau tulisan yang tidak bermoral.</li>
    	</ul>
   		<li> Dilarang membawa masuk barang-barang berikut ; beg, fail/ folder, bungkusan, payung, Topi, keledar, makanan, minuman, 
			 peralatan tajam (gunting/pisau) dan kamera.</li>
		<li> Telefon mudah alih, pager dan sebarang yang berkaitan dengannya, hendaklah ditukar kepada mod silent sebelum memasuki 
			 perpustakaan.</li>
		<li> Pinjaman / Pemulangan</li>
		<ul>
           <li>Semua proses peminjaman / pemulangan mestilah melalui proses di kaunter Perpustakaan.</li>
	 	    <li>Perkhidmatan kaunter akan ditutup 15 minit awal sebelum waktu perkhidmatan tamat.</li>
		  <li>Sebarang proses sirkulasi di kaunter hendaklah dilakukan 15 minit sebelum waktu perkhidmatan perpustakaan tamat.</li>
    		</ul>

	 <li> Larangan tingkahlaku</li>
        <ul>
            <li>Dilarang membuat bising, bergaduh, berkelakuan tidak senonoh, makan, minum, merokok, tidur, menconteng peralatan dan bahan, membuang sampah merata-rata dan tidak menghormati petugas perpustakaan.</li>
	 	    <li>Pergaulan di antara lelaki dan perempuan perlulah dibataskan supaya tidak menimbulkan fitnah dan masalah. </li>
		    <li> Pengguna dilarang membuat sesuatu yang menganggu tumpuan pengguna lain </li>
		    <li>Pengguna tidak dibenarkan mengubah susunatur perabot di perpustakaan. Rapatkan kerusi ke meja sebelum meninggalkan perpustakaan. </li>
		    <li>Pengguna hendaklah meletakkan buku yang telah digunakan di atas troli yang telah disediakan.Bahan tidak boleh ditinggalkan diatas meja.</li>
    	</ul>

            <li> Pengguna yang melanggar peraturan, akan menghadapi salah satu tindakan berikut: </li>
              <ul>
                          <li>Tidak dibenarkan masuk dan menggunakan perkhidmatan perpustakaan atau</li>
	 	       <li>Diarahkan keluar dari bangunan perpustakaan atau</li>
		      <li> Digantung kelayakan peminjaman bahan atau</li>
		      <li>Digantung keahlian perpustakaan atau </li>
		     <li>Dirujuk kepada Unit HEP / Pentadbiran PLAMM.</li>
    		</ul>
		</ol>
	  </td>
     </tr>

<tr>
       <td><H3>PENAMBAHAN</H3>
</tr>
<tr>
       <td> 
	<ol>
	<li>Pengguna hanya dibenarkan membawa Pen & Kertas A4 sahaja ke dalam perpustakaan</li>
	</ol>
         </td>
</tr>

<tr>
       <td><H3>PERATURAN PERKHIDMATAN</H3>
         </tr>
         <tr>
	    <td>
		<ol>
		<li> Bahan perpustakaan</li>
           <ul>
               <li>Bahan pinjaman-pengguna bertanggungjawab untuk memastikan bahan digunakan dengan cermat, tidak diconteng atau dikoyak.</li>
	 	       <li>Buku rujukan- tidak boleh dibawa keluar dari bilik rujukan kecuali dengan kebenaran kakitangan perpustakaan.</li>
    		</ul>

		<li> Perkhidmatan karel</li>
            <ul>
               <li>Pengguna dilarang berdua-duaan atau berada dalam keadaan yang boleh menimbulkan kecurigaan.</li>
	 	       <li>Tempahan tempat tidak dibenarkan sama sekali.</li>
		        <li>Dilarang menconteng / merosakan peralatan dan karel.</li>
    		</ul>
   		<li> Bilik perbincangan</li>
		<ul>
               <li>Kebenaran perlu diperolehi untuk menggunakan bilik ini- rujuk petugas di kaunter.</li>
	 	       <li>Pintu bilik hendaklah sentiasa ditutup untuk tidak menggangu pengguna lain.</li>
		        <li>Matikan suis lampu dan peralatan sebelum meninggalkan bilik ini.</li>
    		</ul>
		<li> Perkhidmatan depositori / tempat penyimpanan barang</li>
		<ul>
               <li>Kabinet simpanan barang adalah hak milik PLAMM. Pengguna dilarang menjadikannya milik persendirian.</li>
	 	       <li>Kunci perlu ditinggalkan di kabinet berkenaan setelah digunakan.</li>
		        <li>Pihak perpustakaan berhak membuka dan memeriksa barangan yang disimpan untuk tujuan siasatan dan keselamatan.</li>
		       <li>Pihak perpustakaan tidak bertanggungjawab di atas sebarang risiko penggunaan.</li>
    		</ul>


		<li> Perkhidmatan fotokopi </li>
		<ul>
              <li>Pengguna yang membuat salinan fotokopi bahan-bahan perpustakaan adalah bertanggungjawab sepenuhnya keatas sebarang tindakan yang melanggar Akta Hakcipta 1987 (Rujuk Lampiran i)</li>
	 	    <li>Laporan projek pelajar tidak boleh difotokopi. </li>
    		</ul>
		</ol>
	  </td>
     </tr>


</table>

		</div>
