<fieldset>
	<legend class='togvis'>Return Item</legend>
		<table width=100%>
			<tr>
				<td class="leftcolwide"><label for="asset_code"><b>Returned On</b></label></td>
				<td><%=h l(@asset_loan.returned_on) %></td>
			</tr>
	
			<tr>
				<td class="leftcolwide">Remarks:</td>
				<td><%=h @asset_loan.remarks %></td>
			</tr>
		</table>
</fieldset>