<fieldset>
	<legend class='togvis'>Approval</legend>
		<table width=85% >
				<% if @asset_loan.is_approved == true %>
				<tr>
					<td class="leftcolwide"><label>Approved On</td>
					<td><%=h @asset_loan.is_approved? ? "Approved on  " + (@asset_loan.approved_date.strftime("%d %B %Y")).to_s + " by " + "#{@asset_loan.owner.name}" : "" %></td>
				</tr>
				<% else %>
				<tr>
					<td class="leftcolwide"><label>Status</td>
					<td>Rejected</td>
				</tr>
				<% end %>
		</table>
</fieldset>