<fieldset>
	<legend class='togvis'>Return Item</legend>
		<table width=100%>
			<tr>
				<td class="leftcolwide"><label for="asset_code"><b>Returned?</b></label></td>
				<td>Received on <%=h @asset_loan.returned_on.strftime("%d %B %Y") %> by <%= Staff.find(@asset_loan.received_officer).name %></td>
			</tr>
	
			<tr>
				<td class="leftcolwide">Remarks:</td>
				<td><%=h @asset_loan.remarks %></td>
			</tr>
		</table>
</fieldset>