<h3>New Disposal</h3>

<% form_for(@disposal) do |f| %>
  <%= f.error_messages %>

<%=render :partial => 'form', :locals => {:f => f} %> 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>

<%= link_to 'Back', disposals_path %>