<p>
  <b>Questiontype:</b>
  <%=h @examtemplate.questiontype %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @examtemplate.quantity %>
</p>


<%= link_to 'Edit', edit_examtemplate_path(@examtemplate) %> |
<%= link_to 'Back', examtemplates_path %>