<% form_for(@academic_session) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<h2>New Academic Session</h2>
  		<%=render :partial => 'form', :locals => {:f => f} %>
	</div>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', academic_sessions_path %>