<div class="tform">

<fieldset>
	<legend class='togvis'>Academic Session</legend>
		<table width=85% >
			<tr>
				<td class="leftcol"><label>Semester:</label></td>
				<td><%=h @academic_session.semester %></td>				
			</tr>
			<tr>
				<td class="leftcol"><label>Total week:</label></td>
				<td><%=h @academic_session.total_week %></td>				
			</tr>
		</table>
</fieldset>
</div>		

<%= link_to 'Edit', edit_academic_session_path(@academic_session) %> |
<%= link_to 'Back', academic_sessions_path %>