<div class="tform">
<H2>Subject Details</H2>
  <table width=100% >

	<tr>
		<td class="leftcol"><label for="subjectcode">Subject Code</label></td>
		<td width=3%><b>:</b></td>
		<td><%= f.text_field :subjectcode%>
		   
	</tr>
	<tr>
		<td class="leftcol"><label for="name">Subject Name</label></td>
		<td><b>:</b></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="credit">Credit</label></td>
		<td><b>:</b></td>
		<td><%= f.select :credit, 1..7 %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="status">Status</label></td>
		<td><b>:</b></td>
		<td><%= f.select :status, 
		                 Subject::STATUS,
		                 :prompt => "Select"  %></td>
	</tr>
		
</table>
</div>