<h3>New Subject</h3>

<% form_for(@subject) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

<p>
    <%= f.submit 'Create' %>
  </p>

<% end %>

<%= link_to 'Back', subjects_path %>