<div class="fields">
	
	TOTAL<%= f.text_field :total ,:size=>8 %>
	PNGS17<%= f.text_field :pngs17 ,:size=>8 %>
	STATUS<%#= f.text_field :status ,:size=>8 %>
	REMAARK: <%= f.text_field :remark ,:size=>8 %>
	STUDENT: <%= f.text_field :student_id ,:size=>8 %>

</div>

 
