<div class="tform">
  <table width=100% >
	
	<tr>
		<th colspan = 2>Title Details</th>
	</tr>

	
	<tr>
		<td class="leftcol"><label for="titlecode">Title Code</label></td>
		<td><%= f.text_field :titlecode %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name">Name</label></td>
		<td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="berhormat">Berhormat</label></td>
		<td><%= f.check_box :berhormat %></td>
	</tr>
	
</table>
<BR>
</div>
	
	
	