<% form_for(@title) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>New Title</H2>
				<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', titles_path %>