<h3>New Title</h3>

<% form_for(@title) do |f| %>
  <%= f.error_messages %>

 <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', titles_path %>