<div class="tform">
	<H2>Examination Analysis by Paper - Details</H2>
	<table width=100% >
		<tr>
			<td class="leftcol" colspan=2>
				<%=h @examanalysis.exampaper.exam_name_subject_date %>
				<%#=t 'exammakeranalysis.exampaper'%>
				<!--<%#= t 'exammakeranalysis.exammaker_id' %> - <%#= t 'exammakeranalysis.examtype' %>--></td>
			<!--<td>&nbsp;</td>-->
		</tr>
		<tr>
			<td colspan=2>
				<%#= tag("div", :id => form_tag_id(f.object_name, :students_marks_listing)) %>
				<div id="students_marks_listing">
					<% @exam_id = @examanalysis.exam_id %>
					<% @job = 'show'%>
					<%= render :partial => 'students_and_marks', :locals => {:examid=>@exam_id,:job=>@job} %> 
				</div>
			</td>
		</tr>
 	</table>
<br/>
</div>

<%= link_to 'Edit', {:controller => 'examanalyses', :action => 'edit', :id => @examanalysis} %> |
<%= link_to 'Back', examanalyses_path %>