<div class="tform">
  <table width=100% >

	<tr>
		<th colspan = 2>Student Counselling Sessions</th>
	</tr>

	<tr>
		<td class="leftcol"><label for="student_id">Student:</label></td>
		<td><%= f.collection_select :student_id, Student.find(:all), :id, :formatted_mykad_and_student_name %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="File No">File No:</label></td>
		<td><%= f.collection_select :cofile_id, Cofile.find(:all), :id, :file_no_and_name, :include_blank => true %></td>
	</tr>
<!-->	</tr>
			<tr>
			  <td class="leftcol"><label for="scsessiondt">Date Time</label><font color="red"> * </font></td>
			  <td class="leftcol"><label for="scsessiondtduration">Duration</label><font color="red"> * </font></td>
			  <td class="leftcol"><label for="scsappointnum">Appointment No</label></td>
			  <td class="leftcol"><label for="scsessiontype">Type</label></td>
			  <td class="leftcol"><label for="issue">Issue</label></td>
			  <td class="leftcol"><label for="suggestion">Suggestion</label></td>
			  <td class="leftcol"><label for="remarks">Remarks</label></td>
			</tr>-->
		</table>
		      <div id="scsessions">
			  <%= render :partial => 'scsession', :collection => @counselling.scsessions %>
		      </div>

	          <%= add_scsession_link "Add more" %></td>
		<BR><BR>

<!-- Code Block for Sessions Repeating Field -->