<H2>Case Details: (<%=h @sdicipline.status %>)</H2>
<table width=100%>
	<tr>
		<td class="leftcol"><label for="casedt">Case Date</label></td>
		<td width=3%><b>:</b></td>
		<td><%=h @sdicipline.casedt.blank? ? "-" : @sdicipline.casedt.strftime("%d %b %Y") %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="referredby">Referred By</label></td>
		<td><b>:</b></td>
		<td><%=h @sdicipline.referredby %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="investigation">Investigation Summary</label></td>
		<td><b>:</b></td>
		<td><%=h @sdicipline.investigation %></td>
	</tr>
		
</table>