<H2>Case Information: (<%=h @sdicipline.status %>)</H2>
<table width=100%>
	<tr>
		<td class="leftcol"><label for="casedt"><b>Date:</b></label></td>
		<td><%=h @sdicipline.casedt %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="referredby"><b>Referred By:</b></label></td>
		<td><%=h @sdicipline.referredby %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="investigation"><b>Investigation Summary:</b></label></td>
		<td><%=h @sdicipline.investigation %></td>
	</tr>
		
</table>