<H2>Action By Principal</H2>
<table width=100%>
	<tr>
		<td class="leftcol"><label for="action">Action Taken:</label></td>
		<td width=3%><b>:</b></td>
		<td> <%=h @sdicipline.action %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="closedtcollege">Date Closed (College):</label></td>
		<td><b>:</b></td>
		<td> <%=h @sdicipline.closedtcollege %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="otherinfo">Other Information:</label></td>
		<td><b>:</b></td>
		<td><%=h @sdicipline.otherinfo %></td>
	</tr>
</table>