<H2>Action details</H2>
<table>
	<tr>
		<td class="leftcol"><label for="action"><b>Action Taken:</b></label></td>
		<td> <%=h @sdicipline.action %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="closedtcollege"><b>Date Closed (College):</b></label></td>
		<td> <%=h @sdicipline.closedtcollege %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="location"><b>Location:</b></label></td>
		<td> <%=h @sdicipline.location %></td>
	</tr>

	<tr>
		<td class="leftcol"><label for="otherinfo"><b>Other Information:</b></label></td>
		<td><%=h @sdicipline.otherinfo %></td>
	</tr>
</table>