<table>	
	<tr>
		<td class="leftcol"><label for="status"><b>Status:</b></label></td>
		<td><%= f.select :status, options_for_select(@sdicipline.status_workflow.collect {|v,i| [v] }, @sdicipline.status) %>
			  <%= @sdicipline.status_workflow %></td>		
	</tr>
</table>
