<div class="fields">
<table width=100% border=0 cellspacing=0>
<tr>
		<td width=9%><%= f.label :travelrequest_id, "Travel Request" %></td>
		<td width=2%><b>:</b></td>
		<td width=20%> <%= f.collection_select :travelrequest_id, Travelrequest.find(:all), :id, :travel_request_key, :include_blank => true %></td>
		<td width=3%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>  </td>
</tr>
</table>
<p><p>
<!--	<p><p>
	  <div style="position: relative; left: 100px;">
	<b>Details</b>
	<HR width=50% align=left>

	<#% f.fields_for :travelclaimdetails do |builder| %>
	<#%= render 'travelclaimdetail_fields', :f => builder %>
	<#% end %>
	<p><#%= link_to_add_fields "Add Details", f, :travelclaimdetails %></p>-->
</div>

