<div class="fields">

<tr>
		<td> <%= f.select :type_id,
		                  Travelclaimreceipt::RECEIPTTYPE,
		                  :prompt => "Select" %></td>
		<td> <%= f.text_field :receiptnp %></td>
		<td> <%= f.text_field :rvalue %></td>
		<td><%= link_to_remove_fields "remove", f %></td>
</tr>