
<table width=60% border=0 cellspacing=0>
<tr>
		<td width=2%><b>:</b></td>
		<td width=20%> <%= f.collection_select :traveldetail_id, Traveldetail.find(:all), :id, :location_to, :include_blank => true %></td>
		<td width=3%><%= link_to_remove_fields image_tag("delete.png", :border => 0, :title => 'Remove'), f %>  </td>
</tr>
</table>