<div class="assetnum">
	<% new_or_existing = assetnum.new_record? ? 'new'  : 'existing' %>
	<% prefix = "asset[#{new_or_existing}_assetnum_attributes][]" %>
	
	<% fields_for prefix, assetnum do | assetnum_form | -%>

    <table>
	   <tr>
	     <td><%= assetnum_form.text_field :assetnumname %></td>
       <td><%= assetnum_form.text_field :assetadnum %></td>
       <td><%= link_to_function "remove", "$(this).up('.assetnum').remove()" %></td>
       </tr>
    </table>
    
   
   <% end -%>
</div>