<%= stylesheet_link_tag 'report' %> 
<div id="A4landscape">
<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
</form>
<fieldset width=10px >

<div id="title">
<p class="marginright" align="right"><b>KEW. PA-8</b></p><BR>

<BR>
<H3>LAPORAN TAHUNAN HARTA MODAL DAN INVENTORI BAGI TAHUN 2011 <BR><BR> KEMENTERIAN: </H3>

<BR>
<div id="tprintreport">	
	<table width=80% border=1px cellspacing=0 align="center">
		
	
		<tr>
			<td align="center" BGCOLOR="#FEFE56"><b>BIL<b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>KEMENTERIAN/JABATAN <BR> DI BAWAHNYA</b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>BILANGAN <BR> KEW.PA-2</b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>JUMLAH NILAI HARTA <BR> MODAL (RM)</b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>BILANGAN <BR> KEW.PA-3</b></td>
			<td align="center" BGCOLOR="#FEFE56"><b>JUMLAH NILAI <BR> INVENTORI (RM)</b></td>
		</tr>
	
		
			 <% bil = 0 %>
             <% bil += 1 %>
		<tr>
			<td align="center"><%=h bil %></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		
		</tr>
		<tr>
			<td BGCOLOR="#FEFE56">&nbsp;</td>
			<td align="right" BGCOLOR="#FEFE56"><b>Jumlah</b></td>
			<td BGCOLOR="#FEFE56">&nbsp;</td>
			<td BGCOLOR="#FEFE56">&nbsp;</td>
			<td BGCOLOR="#FEFE56">&nbsp;</td>
			<td BGCOLOR="#FEFE56">&nbsp;</td>
		</tr>
	
	</table>
	<BR>
	 <tr>
		  <td colspan=2>
			    <BR><BR> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			.........................................
			    <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    Tandatangan Pegawai Pengawal <BR>
			    <BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nama &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 
				<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jawatan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 
				<BR>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tarikh &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= l(Date.today()) %>
				<BR> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cop &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:
			</td><BR><Br>* laporan merangkumi semua aset alih yang dipegang sehingga tahun semasa.<BR>
		</tr>
	<BR>
	

</div>
</fieldset>


<BR>
<div id="hideLink">
<%= link_to 'Back', assettracks_path %>
</div>

