<%= stylesheet_link_tag 'report' %> 
<div id="A4landscape">
<form action="#">
	<script>
	document.write("<input type='button' " +
	"onClick='window.print()' " +
	"class='printbutton' " +
	"value='Print This Page'/>");
	</script>
</form>
<fieldset width=10px >

<div id="title">
<p class="marginright" align="right"><b>KEW. PA-11</b></p><BR>

<BR>
<H3>LAPORAN PEMERIKSAAN INVENTORI <BR>(diisi oleh Pegawai Pemeriksa)</H3>

<BR>
<div id="tprintreport">	
	<table width=90% border=1px cellspacing=0 align="center">
		
		<tr>
			<td align="center" rowspan=4><b>Bil<b></td>
			<td rowspan=4 align="center" ><b>Jenis Inventori</b></td>
			<td rowspan=2 colspan=4 align="center"><b>Daftar</b></td>
			<td rowspan=3 colspan=2 align="center"><b>Lokasi</b></td>
			<td rowspan=3 colspan=2 align="center"><b>Kuantiti</b></td>
			<td rowspan=4 align="center"><b>Keadaan Inventori</b></td>
			<td rowspan=4 align="center"><b>Catatan</b></td>
		
		</tr>
		<tr></tr>
		<tr>
			<td align="center" colspan=2><b>Lengkap<b></td>
			<td align="center" colspan=2><b>Kemaskini<b></td>
		
		
			
		</tr>
		<tr>
			<td align="center"><b>Ya</b></td>
			<td align="center"><b>Tidak</b></td>
			<td align="center"><b>Ya</b></td>
			<td align="center"><b>Tidak</b></td>
			<td align="center"><b>Mengikut Rekod</b></td>
			<td align="center"><b>Sebenar</b></td>
			<td align="center"><b>Mengikut Rekod</b></td>
			<td align="center"><b>Sebenar</b></td>
				
		</tr>
	
		
			 <% bil = 0 %>
             <% bil += 1 %>
		<tr>
			<td align="center"><%=h bil %>&nbsp;</td>
			<td>&nbsp;</td>
			<td align="center"> &nbsp;</td>
			<td align="center"> &nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td align="center"> &nbsp;</td>
			<td>&nbsp;</td>
			<td align="center"> &nbsp;
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	
	</table>
	<BR>
		<table id="sigs" >
				<tr>
					<td><BR>........................................... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ...........................................</td>
						<td></td>
					
				</tr>
				<tr>
					<td>(Tandatangan) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Tandatangan)</td>
					
				</tr>
					
				<tr>
					<td><BR>........................................... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ...........................................</td>
					
				</tr>
				<tr>
					<td>(Nama Pegawai Pemeriksa 1) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Nama Pegawai Pemeriksa 2)</td>
					
				</tr>
				
				<tr>
					<td><BR>........................................... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...........................................</td>
					<td></td>
				</tr>
				<tr>
					<td>(Jawatan) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Jawatan)</td>
			
				</tr>
				<tr>
					<td><BR>........................................... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...........................................</td>
					<td></td>
				</tr>
				<tr>
					<td>(Tarikh Pemeriksaan) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Tarikh Pemeriksaan)</td>
					<td><BR></td>
				</tr>
				<tr>
					<td><BR></td>
					<td><BR></td>
				</tr>
			
		
		</table>
		
	

</div>
</fieldset>


