<div class="tform">
  <table width=100% >
	
	
<!--Personal Info-->
	<tr>
		<th colspan = 2>Roles Details</th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name">Role Name:</label></td>
		<td><%=h @role.name %></td>
	</tr>
</table>  
<BR>
</div>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>