<div class="tform">
	<H2>Roles Details</H2>
  <table width=100% >
	
	<tr>
		<td class="leftcol"><label for="name">Role Name:</label></td>
		<td><%=h @role.name %></td>
	</tr>
</table>  

</div>
<BR>
<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>