<% form_for(@address_book) do |f| %>
  <%= f.error_messages %>
	<div class="tform">
		<H2>New Address</H2>
 		<%=render :partial => 'form', :locals => {:f => f} %> 
	</div>
	  <p>
	    <%= f.submit (t 'create') %>
	  </p>
<% end %>
</div>

<%= link_to (t 'back'), address_books_path %>