
<p>
  <%= f.label :staffservescheme_id %><br />
  <%= f.collection_select :staffservescheme_id, Staffservescheme.find(:all), :id, :name, :include_blank => true %>
</p>
<p>
  <%= f.label :staffgrade_id %><br />
  <%= f.collection_select :staffgrade_id, Staffgrade.find(:all), :id, :grade, :include_blank => true %>
</p>