<p>
  <b>Staffgrade:</b>
  <%=h @staffclassification.staffgrade_id %>
</p>

<p>
  <b>Staffserveschemes:</b>
  <%=h @staffclassification.staffservescheme_id %>
</p>


<%= link_to 'Edit', edit_staffclassification_path(@staffclassification) %> |
<%= link_to 'Back', staffclassifications_path %>