<fieldset>
	<legend class='togvis'>Re-Value</legend>
		<table width=85% >
				<tr>
					<td class="leftcol"><label>New Value</label></td>
					<td><%=h ringgols(@asset_disposal.revalue) %></td>				
				</tr>
				
				<tr>
					<td class="leftcol"><label>Re Valued By</label></td>
					<td><%=h @asset_disposal.revaluer.staff_name_with_position %></td>				
				</tr>
				
				<tr>
					<td class="leftcol"><label>Re Valued On</label></td>
					<td><%=h l(@asset_disposal.revalued_on) %></td>		
				</tr>
		</table>
</fieldset>		
