<H2>Verify Asset Disposal</H2>
<table>
	
	<tr>
	  <td class="leftcol"><label for="is_verified">Verified</label></td>
		<td><%= f.check_box :is_verified, :id => 'is_verified' %>
				<SPAN class="span_verified_on" style="display: none;"><%= f.date_select :verified_on, :order => [:day, :month, :year], :default => Date.today %></SPAN></td>
	</tr>



</table>

<script type="text/javascript">
	$j(document).ready(function(){
			//show submit date

			$j("input[id='is_verified']").change(function() {  
			 if($j('#is_verified').is(':checked')) { 
			    $j(".span_verified_on").show("highlight"); 
				$j(".span_verified_off").hide(""); 
			 }else		{
			    $j(".span_verified_on").hide(""); 
				$j(".span_verified_off").show("highlight"); 
			 }	
			});

			$j("input[id='is_verified']").each(function() {  
			 if($j('#is_verified').is(':checked')) { 
			    $j(".span_verified_on").show("highlight"); 
				$j(".span_verified_off").hide(""); 
			 }else		{
			    $j(".span_verified_on").hide(""); 
				$j(".span_verified_off").show("highlight"); 
			 }	
			});

	});
</script>
