<div class="fields" style='float: left;'>
<%= f.collection_select :employgrade_id, Employgrade.find(:all), :id, :name, :include_blank => true %>
<!--<#%= f.text_field :employgrade_id, :size => 5 %>-->
<%= f.hidden_field :_destroy %>
<%= link_to_function image_tag("delete.png", :border => 0, :title => 'Remove'), "remove_fields(this)" %>
</div>