<h1>New staffemployscheme</h1>

<% form_for(@staffemployscheme) do |f| %>
  <%= f.error_messages %>
	<%=render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', staffemployschemes_path %>