/*@import "bootstrap";*/

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
[class^="icon-"] {
  background-image:none;
}

/* universal */

html, body, .container, .scroller {
	height: 100%;
}

html { /*overflow-y: scroll;*/}
body {/*padding-top: 60px;*/}
/*section {overflow: auto;}*/
textarea {resize: vertical;}


.container {
	position: relative;
	/*overflow: hidden;
	/*max-width: none !important;*/
	/*background: #34495e;*/
}
/*scroller to activate menu*/
.scroller {/*overflow-y: scroll;*/}
.scroller, .scroller-inner {position: relative;}



.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.mp-menu {
	a {text-decoration: none; color: #f7f7f7; outline: none;
		&:hover, &:focus {
			color: #fff;
			outline: none;
		}	
	}
	h2 {color: #f7f7f7; }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.topnav {height:40px; padding-top:5px;
  a {color:#606060; font-size:1.3em; padding-right:5px;}
  a:hover{color:#606060; background-color:white; font-size:1.3em;}
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 80%;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input {height: auto !important;}
.text_field.mandatory {background-color:#FFF0F5;}
.dropdown, select {position: relative;}

input[type=checkbox] {width:13px; height:13px; *overflow: hidden; }
.form-group {
	padding: 1em 0;
}


#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* shows */

.dl-horizontal {padding:0; margin:0;
  dt {font-weight:bold;}
}
