<div class="tform">
  <table width=100% >
<!--Personal Info-->
<tr>
	<th colspan = 2>Staff Grade Details</th>
</tr>  
	<tr>
		<td class="leftcol"><label for="sgname"><b>Classification:</b></label></td>
	<td><%= f.select :classification_id,
		                Staffgrade::CLASSIFICATION,
		                :prompt => "Select"%></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="sglevel"><b>Level:</b></label></td>
		<td><%= f.text_field :level %></td>
	</tr>
	<tr>
		<td class="leftcol"><label for="sgname"><b>Group:</b></label></td>
	<td><%= f.select :group_id,
			              Staffgrade::GROUP,
			              :prompt => "Select"%></td>
	</tr>
	

	
</table>
<BR>