<h1>Listing resultlines</h1>

<table>
  <tr>
  </tr>

<% @resultlines.each do |resultline| %>
  <tr>
    <td><%= link_to 'Show', resultline %></td>
    <td><%= link_to 'Edit', edit_resultline_path(resultline) %></td>
    <td><%= link_to 'Destroy', resultline, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New resultline', new_resultline_path %>