<%# unless @programme_id.blank? && @exam_id.blank? %>
		<%##= collection_select (:exam, :subject_id, @subjects, :id, :subject_list, :include_blank => "Select a subject") %>
		<%#= select_tag "exam[subject_id]", "<option>Select a SUBJECT</option>"+options_from_collection_for_select(@subjects,:id, :subject_list), {:onchange => remote_function(:update => "exam_questions_list", :url => {:action=>'view_questions'}, :with => "'subject='+$('"+"exam_subject_id"+"').value + '&exam_id='+'#{@exam_id}' ")} %>
<%# else %>
	<!--	&nbsp;&nbsp; Select a programme first.-->
<%# end%>


<%# unless @subject_id.blank? %>
		<%#= collection_select (:examquestion, :topic_id, @topics, :id, :subject_list, :include_blank => "Select a topic") %>
<%# else %>
	<!--	&nbsp;&nbsp; Select a subject first.-->
<%# end%>  

<% unless @subject.blank? %><!--uu <%#=@exam_id%>kk<%#=@exam_id2%>-->
		<%= select_tag "exam[topic_filter]",
						"<option>Select topic</option>"+options_from_collection_for_select(@topics,:id,:subject_list),
						{:onchange => remote_function(:update => "exam_questions_list", 
						:url=>{:action =>'view_questions'},
						:with => "'topicid='+$('"+"exam_topic_filter"+"').value + '&exam_id='+'#{@exam_id}'+ '&exam_id2='+'#{@exam_id2}'")}%> 
		<%#= f.collection_select :topic_filter, Programme.find(@exam.subject.id).descendants.at_depth(3), :id, :subject_list, 
						{:include_blank=>'Select a topic', :selected => @exam.subject_id },
						:onchange => remote_function(:update => "exam_questions_list", :url => {:action=>'view_questions'}, 
						:with => "'topicid='+$('"+"exam_topic_filter"+"').value + '&exam_id='+'#{@exam.id}' ") %>
<% else %>
		&nbsp;&nbsp; Select a subject first
<% end%>