<!-- Box -->
<div class="box">
<h3 class="left">Create/Edit TimeTable</h3>

  
<div class="timetable">
<table width=100% border="1" cellpadding="0" cellspacing="0">


<tr>
     <th><pre></pre></th>
     <th>8.00am-8.45am</th>
     <th>8.45am-9.30am</th>
     <th>9.30am-9.45am</th>
     <th>9.45am-10.30am</th>
     <th>10.30am-11.45am</th>
     <th>11.45am-12.30pm</th>
	 <th>12.30pm-2.30pm</th>
	 <th>2.30pm-3.30pm</th>
</tr>

<% @time_table_entries.each do |time_table_entry| %>

            	
<% end %>

</table>
   
</div>
</div>




