<h3>New Time Table Entry</h3>

<% form_for(@time_table_entry) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
<%= link_to 'Back', time_table_entries_path %>