<div class="tform">
  <table width=100% >

<table id="form">
	<tr>
		<th colspan = 2>New Intake</th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="name">Name:</label><font color="red"> * </font></td>
		<td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="intake_no">Intake No:</label><font color="red"> * </font></td>
		<td><%= f.text_field :intake_no %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="year">Year:</label><font color="red"> * </font></td>
		<td><%= f.date_select :year, :start_year => 2007, :end_year => 2020, :order => [:year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="active ">Active:</label></td>
		<td><%= f.check_box :active  %></td>
	</tr>
</table>
<BR>
	