<div class="tform">
	<H2>New Intake</H2>
<table width=80%>

	
	<tr>
		<td class="leftcol"><label for="intake_no">Intake Name:</label><font color="red"> * </font></td>
		<td width=3%><b>:</b></td>
		<td><%= f.text_field :name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="year">Year:</label><font color="red"> * </font></td>
		<td><b>:</b></td>
		<td><%= f.date_select :year, :options => { :discard_day => true, :discard_month => true }, :order => [:year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="active ">Active:</label></td>
		<td><b>:</b></td>
		<td><%= f.check_box :active  %></td>
	</tr>
</table>
<BR>
</div>
	