<div class="tform">
<table id="form" width=80%>
	<tr>
		<th colspan = 2>New Intake</th>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="intake_no">Intake No:</label><font color="red"> * </font></td>
		<td><%= f.select :intake_no, 
		                  Intake::INTAKE_MONTH,
		                  :prompt => "Select"  %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="year">Year:</label><font color="red"> * </font></td>
		<td><%= f.date_select :year, :options => { :discard_day => true, :discard_month => true }, :order => [:year] %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="active ">Active:</label></td>
		<td><%= f.check_box :active  %></td>
	</tr>
</table>
<BR>
</div>
	