<h3>New Intake</h3>

<% form_for(@intake) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', intakes_path %>