<footer class="footer">
  <small>
     <%= link_to image_tag("railspowered.gif", alt: "Powered by Ruby on Rails"), 'http://rubyonrails.org/' %> 
     &nbsp; &nbsp; Catechumen &#169;1995 - <%= Date.today.year %> - Yaacob Noor
     
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://github.com/">GitHub</a></li>
      <li></li>
    </ul>
  </nav>
</footer>