%footer.footer
  %small
    &copy; 2003-#{Time.now.year} Teknik Padu Sdn Bhd
    %a{:href => "http://railstutorial.org/"} Rails Tutorial
    by Michael Hartl
  %nav
    %ul
      %li= link_to "About", about_path
      %li= link_to "Contact", contact_path
      %li
        %a{:href => "http://news.railstutorial.org/"} News