<div id="menu">
	<ul class="nav nav-pills nav-stacked affix">
		<li><%= link_to (t 'sidebar.home'),    root_path %></li>
		<li><a href="#">Staff</a></li>
		<li><a href="#">Assets</a></li>
		<li><a href="#">Inventory</a></li>
		<li><a href="#">People</a></li>
		<li class="dropdown-submenu"><a tabindex="10" href="#">Students</a>
	    <ul class="dropdown-menu">
	      <li><%= link_to "Student Info",    students_path %></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 2</a></li>
	    </ul>
	  </li>
	  <li class="dropdown-submenu"><a tabindex="10" href="#">Admin</a>
	    <ul class="dropdown-menu">
	      <li><a href="#">Another Link</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 2</a></li>
	    </ul>
	  </li>

	</ul>
</div>