<html>
<head>
<%= stylesheet_link_tag 'default', :media => :screen %> 
<%= stylesheet_link_tag 'print', :media => :print %>
</head>
<body>
	<h3><%= flash[:notice] %></h3>
	<%= yield %>
</body>
</html>