<h3>New Class</h3>

<% form_for(@klass) do |f| %>
  <%= f.error_messages %>

  <%=render :partial => 'form', :locals => {:f => f} %> 

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
<%= link_to 'Back', klasses_path %>