<p>
  <b>Budget:</b>
  <%=h @ptbudget.budget %>
</p>

<p>
  <b>Fiscalstart:</b>
  <%=h @ptbudget.fiscalstart %>
</p>


<%= link_to 'Edit', edit_ptbudget_path(@ptbudget) %> |
<%= link_to 'Back', ptbudgets_path %>